<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>发放次序</th>
            <th>授信金额（元）</th>
            <th>放款金额（元）</th>
            <th>还款金额（元）</th>
        </tr>
        </thead>
        <tbody>
        {% for lending in article_obj.lending_summary.all %}
            <tr>
                {% if lending_id %}
                    {% if lending_id == lending.id %}
                        <td><a class="active"
                               href="{% url 'dbms:article_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                            {{ lending.get_order_display }}*
                        </a></td>
                    {% else %}
                        <td>
                            <a href="{% url 'dbms:article_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                                {{ lending.get_order_display }}
                            </a></td>
                    {% endif %}
                {% else %}
                    <td><a href="{% url 'dbms:article_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                        {{ lending.get_order_display }}
                    </a></td>
                {% endif %}
                <td>{{ lending.order_amount }}</td>
                <td>{{ lending.lending_provide_sum }}</td>
                <td>{{ lending.lending_repayment_sum }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
