<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane active"
         id="commission">
        {% include 'dbms/article/scan/tab/content/tab-commission.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="review">
        {% include 'dbms/article/scan/tab/content/tab-review.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="comment">
        {% include 'dbms/article/scan/tab/content/tab-comment.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="single">
        {% include 'dbms/article/scan/tab/content/tab-single.html' %}
    </div>
</div>
