

<div align="center" style="padding-bottom: 30pt;font-size: 21pt"><strong>授权书</strong></div>
<p>授权人：<strong><u>{% include 'dbms/agree/agree_board/counter/d/ower-list.html' %}</u></strong></p>
<br>
<p>授权事项：</p>
<br>
<p>鉴于：1、授权人已将<strong><u>{{ counter_property_type }}</u></strong>抵押给成都武侯中小企业融资担保有限责任公司，并签订《{{ counter_obj.get_counter_name_display }}》；</p>
<br>
<p>2、已出现成都武侯中小企业融资担保有限责任公司实现抵押权的法定情形或约定情形。</p>
<br>
<p>兹授权成都武侯中小企业融资担保有限责任公司对抵押物实施暂扣、封存或代管，并通过折价或拍卖、变卖等方式进行处置，处置变现资金直接用于清偿担保公司代偿损失。授权人及其下属不得对担保公司处置抵押物的行为进行任何阻拦。</p>
<br>
<p>本项授权为不可撤销授权，授权人盖章或签字后生效，直至担保债务清偿完毕后自动失效。 </p>
<br>
<p>授权人盖章（或签字）:<strong><u>{% include 'dbms/agree/agree_board/counter/d/ower-list.html' %}</u></strong>
