{% extends 'dbms/index_dbms.html' %}

{% block title %}{{ custom_obj }}{% endblock %}

{% block right-content-container %}
    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/custom/scan/custom-summry.html' %}
        {% include 'dbms/custom/scan/custom-tab.html' %}
        {% include 'dbms/review/modl/review-plan-mod.html' %}
        {% include 'dbms/review/modl/review-add-mod.html' %}
        {% include 'dbms/review/modl/review-auto-add-mod.html' %}
        {% include 'dbms/review/modl/review-del-mod.html' %}
        {% include 'dbms/review/modl/investigate-add-mod.html' %}
        {% include 'dbms/review/modl/investigate-del-mod.html' %}

        {% include 'dbms/custom/modl/custom-change-mod.html' %}
        {% include 'dbms/custom/modl/controler-change-mod.html' %}
    </div>
{% endblock %}

{% block extra-js %}
    {% include 'dbms/review/extra/js-review-plan-add.html' %}
    {% include 'dbms/review/extra/js-review-add.html' %}
    {% include 'dbms/review/extra/js-review-auto-add.html' %}
    {% include 'dbms/review/extra/js-review-del.html' %}
    {% include 'dbms/review/extra/js-investigate-add.html' %}
    {% include 'dbms/review/extra/js-investigate-del.html' %}

    {% include 'dbms/custom/extra/js-custom-change.html' %}
    {% include 'dbms/custom/extra/js-controler-change.html' %}
{% endblock %}