<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>财产</th>
            <th>追偿项目</th>
            <th>查封状态</th>
            <th>最近查封日</th>
            <th>查封到期日</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        {% for seal in p_list %}
            <tr>
                <td><a href="{% url 'dbms:seal_scan' dun_id=seal.dun.id warrant_id=seal.warrant.id %}">
                    {{ seal.warrant.warrant_num }}</a></td>
                <td>{{ seal.dun.title }}</td>
                <td>{{ seal.get_seal_state_display }}</td>
                <td>{{ seal.seal_date }}</td>
                <td>{{ seal.due_date }}</td>
                <td>{{ seal.seal_remark|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}
</div>
