<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>评审委员</th>
            <th>评委意见</th>
            <th>意见详情</th>
            {% if PAGE_TITLE == '项目评审' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for expert in article_obj.expert.all %}
            <tr expert_nid="{{ expert.id }}">
                <td>{{ expert.name }}</td>
                <td>
                    {% for  comment in article_obj.comment_summary.all %}
                        {% if comment.expert.id == expert.id %}
                            {{ comment.get_comment_type_display }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for  comment in article_obj.comment_summary.all %}
                        {% if comment.expert.id == expert.id %}
                            {{ comment.concrete|default:"" }}
                        {% endif %}
                    {% endfor %}
                </td>
                {% if PAGE_TITLE == '项目评审' %}
                    <td><a class="btn btn-primary btn-xs expert-comment">评审意见</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
