<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>发放次序</th>
            <th>拟放金额（元）</th>
            <th>已放金额（元）</th>
            {% if PAGE_TITLE == '项目评审' %}
                <th>操作</th>
            {% endif %}

        </tr>
        </thead>
        <tbody id="lending-tb">
        {% for lending in article_obj.lending_summary.all %}
            <tr lending-nid={{ lending.id }}>
                {% if lending_id %}
                    {% if lending.id == lending_id %}
                        <td>
                            <a href="{% url 'dbms:appraisal_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                                {{ lending.get_order_display }}*
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url 'dbms:appraisal_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                                {{ lending.get_order_display }}
                            </a>
                        </td>
                    {% endif %}
                {% else %}
                    <td>
                        <a href="{% url 'dbms:appraisal_scan_lending' article_id=article_obj.id lending_id=lending.id %}">
                            {{ lending.get_order_display }}
                        </a>
                    </td>
                {% endif %}
                <td>{{ lending.order_amount }}</td>
                <td>{{ lending.lending_provide_sum }}</td>
                {% if PAGE_TITLE == '项目评审' %}
                    <td><a class="btn btn-danger btn-xs delLendingOrderB">删除</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
