<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>额度类型</th>
            <th>授信额度（元）</th>
            <th>费率（%）</th>
            {% if page_title == '项目评审' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="single-quota-tb">
        {% for single in article_obj.single_quota_summary.all %}
            <tr single-nid={{ single.id }}>
                <td>{{ single.get_credit_model_display }}</td>
                <td>{{ single.credit_amount }}</td>
                <td>{{ single.flow_rate }}</td>
                {% if page_title == '项目评审' %}
                    <td><a class="btn btn-danger btn-xs delSingleQuotaB">删除</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
