<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane active"
         id="counter"><!--反担保-->
        {% include 'dbms/article/agree/detail/content/counter.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="charge"><!--收费-->
        {% include 'dbms/article/agree/detail/content/charge.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="provide"><!--放款-->
        {% include 'dbms/article/agree/detail/content/provide.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="repayment"><!--还款-->
        {% include 'dbms/article/agree/detail/content/repayment.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="compensatory"><!--代偿-->
        {% include 'dbms/article/agree/detail/content/compensatory.html' %}
    </div>
</div>
