<tr>{#审保会次数#}
    <td></td>
    <td width="14%"></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>{#审保会次数#}
    <td class="bb" style="width: 100px">审保会次数</td>
    <td class="bb" colspan="4">
        {{ review_year }}年度第{{ review_order_cn }}次审保
        会（{{ article_obj.appraisal_article.all.0.get_review_model_display }}）
    </td>
</tr>
<tr>{#上会日期#}
    <td class="bb">上会日期</td>
    <td class="bb" colspan="4">{{ article_obj.review_date }}</td>
</tr>
<tr>{#主持人#}
    <td class="bb">主持人</td>
    <td class="bb" colspan="4">张春玉</td>
</tr>
<tr>{#参会委员#}
    <td class="bb">参会委员</td>
    <td class="bb" colspan="4">
        {% for expert in article_obj.expert.all %}
            {{ expert }}{% if not forloop.last %}、 {% endif %}
        {% endfor %}
    </td>
</tr>
<tr>{#项目名称#}
    <td class="bb">项目名称</td>
    <td class="bb" colspan="4">{{ article_obj.custom }}</td>
</tr>
<tr>{#所属行业#}
    <td class="bb">所属行业</td>
    <td class="bb" colspan="4">
        {{ article_obj.custom.company_custome.idustry }}</td>
</tr>
<tr class="bb">{#项目成员#}
    <td class="bb">项目成员</td>
    <td>A角：{{ article_obj.director.name }}</td>
    <td>B角：{{ article_obj.assistant.name }}</td>
    <td colspan="2">风控专员：{{ article_obj.control.name }}</td>
</tr>
<tr class="bb">{#评审结论#}
    <td class="bb">评审结论</td>
    <td class="bb" colspan="4">
        同意为该公司{% for single_dic in  single_dic_list %}{{ single_dic.credit_amount }}万
        元{{ single_dic.credit }}
        {% if not forloop.last %}、{% endif %}
    {% endfor %}
        提供担保
    </td>
</tr>
<tr>{#业务品种#}
    <td class="bb">业务品种</td>
    <td class="bb" colspan="4">
        {% for single in  article_obj.single_quota_summary.all %}
            {{ single.get_credit_model_display }}
            {% if not forloop.last %}、{% endif %}
        {% endfor %}
    </td>
</tr>
<tr>{#金额#}
    <td class="bb">金额</td>
    <td class="bb" colspan="4">
        {{ amount_str }}万元
        {% if article_obj.renewal > 0 and article_obj.augment > 0 %}
            （其中：存量{{ renewal_str }}万元、新增{{ augment_str }}万元）
        {% elif article_obj.renewal > 0 %}
            （存量）
        {% else %}
            （新增）
        {% endif %}
    </td>
</tr>
<tr> {#期限#}
    <td class="bb">期限</td>
    <td class="bb" colspan="4">{{ credit_term_cn }}期</td>
</tr>
<tr>{#费率及收费方式#}
    <td class="bb">费率及收费方式</td>
    <td class="bb" colspan="4">
        {% if single_count > 1 %}
            {% for single in single_list %}
                {{ single.get_credit_model_display }}按{{ single.flow_rate }}%/{% if credit_term == 12 %}年
            {% else %}
                {{ article_obj.credit_term }}个月
            {% endif %}
                {% if not forloop.last %}、{% endif %}一次性收取
            {% endfor %}
        {% else %}
            {% for single in single_list %}
                {{ single.flow_rate }}%/{% if article_obj.credit_term == 12 %}年
            {% else %}
                {{ article_obj.credit_term }}个月
            {% endif %}一次性收取
            {% endfor %}
        {% endif %}
    </td>
</tr>
<tr>{#评审意见#}
    <td class="bb" rowspan="{{ rowspan_count }}">评审意见</td>
    <td colspan="4">
        &nbsp&nbsp根据公司成武担发[2014]5号文件《成都武侯中小企业融资担保有限责任公司担保审查委员
        会组织与管理办法》规定，该项目符合公司
        {% if review_model == 1 %}
            内部评审程序，
        {% else %}外部评审程序，{% endif %}
        参会人员{{ expert_amount }}人，其中
        {% if comment_type_1 %}{{ comment_type_1 }}人同意{% endif %}
        {% if comment_type_2 %}，{{ comment_type_2 }}人复议{% endif %}
        {% if comment_type_3 %}，{{ comment_type_3 }}人不同意{% endif %}，会议形成如下结论：
    </td>
</tr>
