{% load mytags %}
<tr style="border: 1px solid black">{#评审意见#}
    <th style="border: 1px solid black">评审意见</th>
    <td>
        <table>
            <tr>
                <td>
                    根据公司成武担发[2014]5号文件《成都武侯中小企业融资担保有限责任公司担保审查委员
                    会组织与管理办法》规定，该项目符合公司
                    {% if review_model == 1 %}
                        内部评审程序，
                    {% else %}外部评审程序，{% endif %}
                    参会人员{{ expert_amount }}人，其中
                    {% if comment_type_1 %}{{ comment_type_1 }}人同意{% endif %}
                    {% if comment_type_2 %}，{{ comment_type_2 }}人复议{% endif %}
                    {% if comment_type_3 %}，{{ comment_type_3 }}人不同意{% endif %}，会议形成如下结论：
                </td>
            </tr>
            <tr>
                <td>
                    一、同意为该客户{% for single_dic in  single_dic_list %}
                    {{ single_dic.credit_amount }}万元
                    {% if single_dic.credit_model == 1 %}流动资金贷款
                    {% elif single_dic.credit_model == 2 %}银行承兑汇票
                    {% elif single_dic.credit_model == 3 %}保函
                    {% elif single_dic.credit_model == 4 %}综合授信额度（含流贷、银承、保函）
                    {% endif %}
                    {% if not forloop.last %}、{% endif %}
                {% endfor %}提供担保，期限
                    {% if article_obj.credit_term == 12 %}
                        壹年
                    {% else %}
                        {{ article_obj.credit_term }}个月
                    {% endif %}，综合费率
                    {% if article_obj.single_quota_summary.all.count > 1 %}
                        {% for single in  article_obj.single_quota_summary.all %}
                            {{ single.get_credit_model_display }}按{{ single.flow_rate }}%/
                            {% if article_obj.credit_term == 12 %}
                                年
                            {% else %}
                                {{ article_obj.credit_term }}个月
                            {% endif %}
                            {% if not forloop.last %}、{% endif %}
                            收取。
                        {% endfor %}
                    {% else %}
                        {% for single in  article_obj.single_quota_summary.all %}
                            按{{ single.flow_rate }}%/
                            {% if article_obj.credit_term == 12 %}
                                年
                            {% else %}
                                {{ article_obj.credit_term }}个月
                            {% endif %}收取。
                        {% endfor %}
                    {% endif %}
                    {% if lending_count > 1 %}
                        贷款分
                        {% if lending_count == 2 %}
                            二
                        {% elif lending_count == 3 %}
                            三
                        {% elif lending_count == 4 %}
                            四
                        {% endif %}
                        次发放，
                        {% for order in order_amount_dic_list %}第
                            {% if order.order == 1 %}
                                一
                            {% elif order.order == 2 %}
                                二
                            {% elif order.order == 3 %}
                                三
                            {% elif order.order == 4 %}
                                四
                            {% endif %}
                            发放{{ order.order_amount }}万元
                            {% if not forloop.last %}、{% else %}。{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black">二、落实以下反担保措施</td>
            </tr>

            {% article_summary article_id %}

        </table>
    </td>
