<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号({{ agree_amount }})</th>
            <th>客户名称</th>
            <th>放款银行</th>
            <th>合同种类</th>
            <th>期限(月)</th>
            <th>合同金额</th>
            <th>放款限额</th>
            {% if PAGE_TITLE == '风控落实' %}
                {#                <th>加权通知金额</th>#}
                <th>放款金额</th>
                <th>还款金额</th>
                <th>在保余额</th>
            {% endif %}
            {#            <th>纪要编号</th>#}
            <th>创建人</th>
            <th>合同状态</th>
        </tr>
        </thead>
        <tbody>
        {% for agree in p_list %}
            <tr>
                {% if PAGE_TITLE == '合同列表' %}
                    <td><a href="{% url 'dbms:agree_scan' agree_id=agree.id %}">{{ agree.agree_num }}</a></td>
                {% elif PAGE_TITLE == '风控落实' %}
                    <td><a href="{% url 'dbms:provide_agree_scan' agree_id=agree.id %}">{{ agree.agree_num }}</a></td>
                {% endif %}
                <td>{{ agree.lending.summary.custom.short_name }}</td>
                <td>{{ agree.branch.short_name }}</td>
                <td>{{ agree.get_agree_typ_display }}</td>
                <td>{{ agree.agree_term }}</td>
                <td align="right">{{ agree.agree_amount }}</td>
                <td align="right">{{ agree.amount_limit }}</td>
                {% if PAGE_TITLE == '风控落实' %}
                    {#                    <td align="right">{{ agree.agree_notify_sum }}</td>#}
                    <td align="right">{{ agree.agree_provide_sum }}</td>
                    <td align="right">{{ agree.agree_repayment_sum }}</td>
                    <td align="right">{{ agree.agree_balance }}</td>
                {% endif %}
                {#                <td>{{ agree.lending }}</td>#}
                <td>{{ agree.agree_buildor.name }}</td>
                <td>{{ agree.get_agree_state_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}
</div>
