<div>
    <label>
        {% if kwargs.agree_state == None %}
            <a class="active btn btn-primary btn-sm" href="{% url 'dbms:agree_all' %}">全部</a>
        {% else %}
            <a class="btn btn btn-primary btn-sm" href="{% url 'dbms:agree_all' %}">全部</a>
        {% endif %}
        {# 方式一：#}
        {% for agree_state in AGREE_STATE_LIST %}
            {% if agree_state.0 == kwargs.agree_state %}
                <a class="active btn btn-primary btn-sm"
                   href="{% url 'dbms:agree' agree_state=agree_state.0 %}">{{ agree_state.1 }} </a>
            {% else %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'dbms:agree' agree_state=agree_state.0 %}">{{ agree_state.1 }}</a>
            {% endif %}
        {% endfor %}
    </label>
    <label>
        <form class="navbar-form" style="display: inline">
            <input type="search" name="_s" class="form-control" placeholder="合同编号,客户,银行,纪要">
            <button type="submit" class="btn btn-primary btn-sm">搜索</button>
        </form>
    </label>
    {% if form_agree_add %}
        <label class="pull-right">
            <a class="btn btn-success btn-sm" id="addAgree">添加合同</a>
        </label>
    {% endif %}
</div>