<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane"
         id="contact_way"> <!--联系方式-->
        {% include 'dbms/custom/scan/tab/content/contact_way.html' %}
    </div>
    {% if custom_obj.genre == 1 %}
        <div role="tabpanel"
             class="tab-pane"
             id="business_information"> <!--工商信息-->
            {% include 'dbms/custom/scan/tab/content/business_information.html' %}
        </div>
    {% endif %}

    <div role="tabpanel"
         class="tab-pane active"
         id="project_status"> <!--项目情况-->
        {% include 'dbms/custom/scan/tab/content/project_status.html' %}
    </div>

</div>
