<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane"
         id="contact_way"> <!--联系方式-->
        {% include 'dbms/custom/scan/tab/content/feedback.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="business_information"> <!--工商信息-->
        {% include 'dbms/custom/scan/tab/content/meeting.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="credit_situation"> <!--授信情况-->
        {% include 'dbms/custom/scan/tab/content/comment.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane active"
         id="project_status"> <!--项目情况-->
        {% include 'dbms/custom/scan/tab/content/single.html' %}
    </div>

</div>
