{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>追仓最新台账</title>
    <link rel="stylesheet" media="screen" href="{% static 'dbms/css/dun-stage-style.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'dbms/css/dun-stage-style.css' %}">
</head>
<body>
<div class="contain">
    <div class="table-responsive">
        <table style="width: 100%; border-collapse:collapse;" cellspacing="0" cellpadding="0">
            <thead  style="border: 1pt solid black">
            <tr class="bto" style="text-align: center">
                <th class="btt" style="width: 50pt;">追偿项目</th>
                <th class="btt" style="width: 50pt;">更新日期</th>
                <th class="btt">追偿情况</th>
                <th class="btt" style="width: 30pt;">创建人</th>
            </tr>
            </thead>
            <tbody style="border: 1pt solid black">
            {% for newest_ledge in newest_ledge_list %}
                <tr class="bto">
                    <td class="btt"><a href="{% url 'dbms:dun_scan' dun_id=newest_ledge.dun.id %}">{{ newest_ledge.dun.title }}</a></td>
                    <td class="btt">{{ newest_ledge.standingor_date }}</td>
                    <td class="btt">{{ newest_ledge.standing_detail }}</td>
                    <td class="btt">{{ newest_ledge.standingor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>