{% extends 'dbms/index_dbms.html' %}

{% block title %}{{ PAGE_TITLE }}:{{ dun_obj }}{% endblock %}

{% block right-content-container %}

    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/dun/dun_scan/dun-summry.html' %}
        {% include 'dbms/dun/dun_scan/dun-tab.html' %}
        {% include 'dbms/dun/modl/dun-warrant-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-warrant-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-sealup-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-standing-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-standing-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-charge-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-charge-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-retrieve-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-retrieve-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-inquiry-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-custom-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-custom-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-stage-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-stage-del-mod.html' %}
        {% include 'dbms/dun/modl/dun-staff-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-agent-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-judgment-add-mod.html' %}
        {% include 'dbms/dun/modl/dun-judgment-del-mod.html' %}

    </div>
{% endblock %}

{% block extra-js %}
    {% include 'dbms/dun/extra/js-dun-warrant-add.html' %}
    {% include 'dbms/dun/extra/js-dun-warrant-del.html' %}
    {% include 'dbms/dun/extra/js-dun-sealup-add.html' %}
    {% include 'dbms/dun/extra/js-dun-standing-add.html' %}
    {% include 'dbms/dun/extra/js-dun-standing-del.html' %}
    {% include 'dbms/dun/extra/js-dun-charge-add.html' %}
    {% include 'dbms/dun/extra/js-dun-charge-del.html' %}
    {% include 'dbms/dun/extra/js-dun-retrieve-add.html' %}
    {% include 'dbms/dun/extra/js-dun-retrieve-del.html' %}
    {% include 'dbms/dun/extra/js-dun-inquiry-add.html' %}
    {% include 'dbms/dun/extra/js-dun-defendant-add.html' %}
    {% include 'dbms/dun/extra/js-dun-defendant-del.html' %}
    {% include 'dbms/dun/extra/js-dun-stage-add.html' %}
    {% include 'dbms/dun/extra/js-dun-stage-del.html' %}
    {% include 'dbms/dun/extra/js-dun-staff-add.html' %}
    {% include 'dbms/dun/extra/js-dun-agent-add.html' %}
    {% include 'dbms/dun/extra/js-dun-judgment-add.html' %}
    {% include 'dbms/dun/extra/js-dun-judgment-del.html' %}

{% endblock %}