<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>编号</th>
            <th>客户名称</th>
            <th>项目编号</th>
            <th>纪要编号</th>
            <th>放款次序</th>
            <th>金额</th>
        </tr>
        </thead>
        <tbody>
        {% for lendingwarrant in p_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ lendingwarrant.sure.lending.summary.custom }}</td>
                <td>{{ lendingwarrant.sure.lending.summary }}</td>
                <td>{{ lendingwarrant.sure.lending.summary.summary_num  }}</td>
                <td>{{ lendingwarrant.sure.lending.get_order_display  }}</td>
                <td>{{ lendingwarrant.sure.lending.order_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}

</div>
