<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>评估方式</th>
            <th>评估价值</th>
            <th>评估日期</th>
            <th>评估说明</th>
            <th>创建人</th>
            {% if  PAGE_TITAL == '权证预览' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for evaluate in warrant_obj.evaluate_warrant.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ evaluate.get_evaluate_state_display }}</td>
                <td>{{ evaluate.evaluate_value }}</td>
                <td>{{ evaluate.evaluate_date }}</td>
                <td>{{ evaluate.evaluate_explain }}</td>
                <td>{{ evaluate.evaluator.name }}</td>
                {% if  PAGE_TITAL == '权证预览' %}
                    <td><a class="btn btn-danger btn-xs delEvaluateB">删除</a></td>
                    </tr>
                {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
