{% extends 'dbms/index.html' %}
{% load static %}
{% block title %}评审管理{% endblock %}

{% block right-content-container %}
    <div class="condition ">
        <div class="table-responsive">
            {#"table-responsive":表格响应式布局#}
            <table class="table table-bordered table-hover
                table-condensed active">
                {#"table-bordered":表格表格边框#}
                {#"table-hover":表格悬停变色#}
                {#"table-condensed":表格紧缩#}
                {#<caption><h4>项目管理</h4></caption>#}
                <thead>
                <tr style="text-align: center">
                    <th>编号</th>
                    <th>评审类型</th>
                    <th>评审次序</th>
                    <th>评审日期</th>
                </tr>
                </thead>
                <tbody>
                {% for appraisal in appraisal_list %}
                    <tr>
                        <td>
                            <a href="{% url 'dbms:appraisal_edit' id=appraisal.id %}">
                                {{ appraisal.num }}
                            </a>
                        </td>
                        <td>{{ appraisal.get_review_model_display }}</td>
                        <td>{{ appraisal.review_order }}</td>
                        <td>{{ appraisal.review_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}{#--{% block body %}#}