{% extends 'dbms/index_dbms.html' %}

{% block title %}{{ page_title }}:{{ lending_obj }}{% endblock %}

{% block right-content-container %}
    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/appraisal/scan/appraisal-summry.html' %}
        {% include 'dbms/appraisal/scan/appraisal-tab.html' %}
        {% include 'dbms/appraisal/lending/appraisal-lending-tab.html' %}
        {% include 'dbms/appraisal/modl/guarantee-add-mod.html' %}
        {% include 'dbms/appraisal/modl/guarantee-del-mod.html' %}
    </div>
{% endblock %}

{% block extra-js %}
    {% include 'dbms/appraisal/extra/js-guarantee-add.html' %}
    {% include 'dbms/appraisal/extra/js-guarantee-del.html' %}
{% endblock %}