{% extends 'dbms/index_dbms.html' %}

{% block title %}参评项目{% endblock %}

{% block right-content-container %}

    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/appraisal/scan/appraisal-summry.html' %}
        {% include 'dbms/appraisal/scan/appraisal-tab.html' %}


        {% include 'dbms/appraisal/modl/comment-add-mod.html' %}
        {% include 'dbms/appraisal/modl/single-add-mod.html' %}
        {% include 'dbms/appraisal/modl/single-del-mod.html' %}
        {% include 'dbms/appraisal/modl/lending-add-mod.html' %}
        {% include 'dbms/appraisal/modl/lending-del-mod.html' %}
        {% include 'dbms/appraisal/modl/article-sign-mod.html' %}

    </div>

{% endblock %}

{% block extra-js %}
    {% include 'dbms/appraisal/extra/js-comment-add.html' %}
    {% include 'dbms/appraisal/extra/js-single-add.html' %}
    {% include 'dbms/appraisal/extra/js-single-del.html' %}
    {% include 'dbms/appraisal/extra/js-lending-add.html' %}
    {% include 'dbms/appraisal/extra/js-lending-del.html' %}
    {% include 'dbms/appraisal/extra/js-article-sign.html' %}
{% endblock %}