<div class="headline-t">
    <p class="headline-1"><b>成都武侯中小企业融资担保有限责任公司</b></p>
    {% if new > 0 %}
        <p class="headline-2-r"><b>{% if article_obj.appraisal_article.all.0.review_model == 1 %}内部{% else %}
            外部{% endif %}审查意见书审核签批单</b></p>
    {% else %}
        <p class="headline-2-d"><b>{% if article_obj.appraisal_article.all.0.review_model == 1 %}内部{% else %}
            外部{% endif %}审查意见书审核签批单</b></p>
    {% endif %}
</div>
<div class="notice-body">
    <div>
        <table style="width: 100%; border-collapse:collapse;" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="bb2">
                <td style="padding-top: 6pt" width="67pt" valign="top"><b>主题：</b></td>
                <td class="tbp" style="padding-top: 6pt; padding-bottom: 6pt">
                    关于{{ article_obj.custom.name }}{{ amount_str }}万元担保项目的评审意见（审查意见书：{{ article_obj.summary_num }}）
                </td>
            </tr>
            <tr class="bb2">
                <td colspan="2" height="500" valign="top">董事长意见：
                    <br><br><br><br><br><br><br><br>
                    <span style="padding-left: 350pt">签字：</span><br>
                    <span style="padding-left: 350pt">时间：</span></td>
            </tr>
            <tr class="bb2">
                <td colspan="2">主送：风险管理部</td>
            </tr>
            <tr class="bb2">
                <td colspan="2">抄送：担保业务部、行政部、相关项目经理</td>
            </tr>
            <tr class="bb2">
                <td class="bb2" colspan="2">备注：</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
