<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号</th>
            <th>合同类型</th>
            <th>签订人</th>
            <th>签订情况</th>
            {% if PAGE_TITLE == '风控落实' %}
                <th>签订日期</th>
                <th>签订情况</th>
            {% endif %}

            {% if PAGE_TITLE == '合同详情' or PAGE_TITLE == '风控落实' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="agree-counters-tb">
        {% for counter in agree_obj.counter_agree.all %}
            <tr counter-nid={{ counter.id }} counter-typ-nid={{ counter.counter_typ }}>
                <td>{{ counter.counter_num }}</td>
                <td>{{ counter.get_counter_typ_display }}</td>
                {% if counter.counter_typ in COUNTER_TYP_CUSTOM %}
                    <td>
                        {% for custome in counter.assure_counter.custome.all %}
                            {{ custome.name }}
                            {% if not forloop.last %}、{% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        {% for warrant in counter.warrant_counter.warrant.all %}
                            <!-- WARRANT_TYP_LIST = [
                                (1, '房产'), (5, '土地'), (11, '应收'), (21, '股权'),
                                (31, '票据'), (41, '车辆'), (51, '动产'), (99, '他权')]-->
                            {% if warrant.warrant_typ == 1 or warrant.warrant_typ == 5 %}
                                {% if forloop.first %}
                                    {% for ownership in warrant.ownership_warrant.all %}
                                        {{ ownership.owner.name }}
                                        {% if not forloop.last %}、{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elif warrant.warrant_typ == 11 %}
                                {{ warrant.receive_warrant.receive_owner }}
                            {% elif warrant.warrant_typ == 21 %}
                                {{ warrant.stock_warrant.stock_owner }}
                            {% else %}
                                {{ warrant.receive_warrant.owner.name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ counter.get_counter_state_display }}</td>
                {% if PAGE_TITLE == '合同详情' %}
                    <td><a class="btn btn-primary btn-xs delCounterB">删除</a>
                        <a class="btn btn-primary btn-xs scanCounterB">预览</a></td>
                {% elif PAGE_TITLE == '风控落实' %}
                    <td>{{ counter.counter_sign_date }}</td>
                    <td>{{ counter.counter_remark }}</td>
                    <td><a class="btn btn-primary btn-xs counterSignB">签订</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
