<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>资产</th>
            <th>查封状态</th>
            <th>最近查封日</th>
            <th>查封到期日</th>
            <th>最近查询日</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="dun-clue-tb">
        {% for seal in dun_obj.seal_dun.all %}
            <tr warrant-nid="{{ seal.warrant.id }}" warrant-num="{{ seal.warrant.warrant_num }}">
                <td><a href="{% url 'dbms:dun_seal_scan' dun_id=dun_obj.id warrant_id=seal.warrant.id %}">
                    {{ seal.warrant.warrant_num }}</a></td><!--资产-->
                <td>{{ seal.get_seal_state_display }}</td><!--查封状态-->
                <td>{{ seal.seal_date|default_if_none:"" }}</td><!--最近查封日-->
                <td>{{ seal.due_date|default_if_none:"" }}</td><!--查封到期日-->
                <td>{{ seal.inquiry_date|default_if_none:"" }}</td><!--最近查询日-->
                <td>{{ seal.seal_remark|default_if_none:"" }}</td><!--备注-->
                    {% if PAGE_TITLE == '追偿管理' %}
                        <td>
                            <a class="btn btn-primary btn-xs sealUpB">查封</a>
                            <a class="btn btn-primary btn-xs inquiryB">查询</a>
                            <a class="btn btn-primary btn-xs delClueB">删除</a>
                        </td>
                    {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
