<p>（一）本反担保人确认的有效送达地址如下：</p>
{% for custom in counter_obj.assure_counter.custome.all %}
    <div>
        <p>地址：<strong><u>{{ custom.contact_addr }}</u></strong></p>
        <p>电话：<strong><u>{{ custom.contact_num }}</u></strong></p>
        <p>收件人：<strong><u>{{ custom.linkman }}</u></strong></p>
        {% if custom.person_custome.spouses %}
            <p>地址：<strong><u>{{ custom.person_custome.spouses.contact_addr }}</u></strong></p>
            <p>电话：<strong><u>{{ custom.person_custome.spouses.contact_num }}</u></strong></p>
            <p>收件人：<strong><u>{{ custom.person_custome.spouses.linkman }}</u></strong></p>
        {% endif %}
    </div>
{% endfor %}
<p>（二）本反担保人确认上述送达地址适用范围包括非诉时各类通知、协议等文件以及就本反担保函发生纠纷时相关
    文件和法律文书的送达，同时包括在争议进入仲裁、民事诉讼程序后的一审、二审、再审和执行程序。</p>
<p>
    （三）本反担保人的送达地址需要变更时应向贵公司履行书面的通知义务；仲裁及民事诉讼阶段本反担保人地址
    变更时应当向仲裁机构、人民法院履行送达地址变更通知义务。未履行以上通知义务的，本反担保人确认的送达
    地址仍视为有效送达地址。</p>
<p>本反担保人未按前述方式履行通知义务，本反担保人所确认的上述送达地址仍视为有效送达地址。</p>
<p>（四）本反担保人将按如下规定确定通知送达被视为正式送达的日期；</p>
<p>1、直接送达：以专人直接递送的，接收人(包括本反担保人指定的收件人）签收之日视为送达。</p>
<p>2、邮寄送达：</p>
<p>（1）以特快专递形式发出的，发至本市市内的，发出后第二日视为送达；发至内地其他地区的，发出后第三日视
    为送达；发至港、澳、台地区的，发出后第四日视为送达；发至境外其他国家或地区的，发出后第六日视为送达。</p>
<p>（2）以挂号方式发出的，发至本市的，邮寄后第三日视为送达；发至内地区的，发出后第四日视为送达；发至港、
    澳、台地区的，发出后第五日视为送达；发至境外其他国家或地区的，发出后第七日视为送达。</p>
<p>（五）因以下情形导致法律文书未能被本反担保人接收的，依然产生送达的法律后果：</p>
<p>1、因本反担保人提供或者确认的送达地址不准确的；</p>
<p> 2、送达地址变更后未及时书面告知对方和仲裁机构、人民法院的；</p>
<p> 3、本反担保人或有权签收人拒绝签收的。</p>
<p>发生上述情形时，适用本条第（四）款。</p>
<p>（六）履行送达地址变更通知义务的，以变更后的送达地址为有效送达地址。对于上述本反担保人在本反担保函
    中明确约定的送达地址，法院进行送达时可直接邮寄送达，即使本反担保人未能收到法院邮寄送达的文书，也
    应当视为送达。</p>
<p>
    （七）纠纷进入仲裁、民事诉讼程序后，如本反担保人应诉并直接向仲裁机构、法院提交送达地址确认书，该
    确认地址与本反担保函的送达地址不一致的，以向仲裁机构、法院提交确认的送达地址为准。送达地址确认书
    中载明的送达地址为律师或委托代理人地址的，本反担保函的确认的送达地址同时有效。</p>
<p>(八)本条承诺作为本反担保函中独立存在的条款，不受本反担保函其他条款效力的影响。</p>