<table style="margin-top: 15pt">
    <tr style="height: 45pt">
        <td style="border: none" width="50%"><strong>反担保人：<u>{{ counter_obj.assure_counter.custome.all.0.name }}</u></strong></td>
        <td style="border: none" width="50%"><strong>反担保人(配偶)：<u>{{ counter_obj.assure_counter.custome.all.0.person_custome.spouses.name }}</u></strong></td>
    </tr>
    <tr style="height: 45pt">
        <td style="border: none"><strong>身份证号码：<u>{{ counter_obj.assure_counter.custome.all.0.person_custome.license_num }}
        </u></strong></td>
        <td style="border: none"><strong>身份证号码：<u>{{ counter_obj.assure_counter.custome.all.0.person_custome.spouses.person_custome.license_num }}
        </u></strong></td>
    </tr>
    <tr style="height: 45pt">
        <td style="border: none" align="center">{% include 'dbms/agree/agree_board/date-period.html' %}</td>
        <td style="border: none" align="center">{% include 'dbms/agree/agree_board/date-period.html' %}</td>
    </tr>
</table>
<p>附：夫妇双方身份证、结婚证复印件，签字、盖手印、《反担保人个人基本情况》</p>