<script>
    $(function () {
        bindSearchWarrantB();
    });

    function bindSearchWarrantB() {
        $('#searchWarrantB').click(function () {
            var postData = {};
            $('#addWarrantModal').find('input,select').each(function () {
                var v = $(this).val();
                var n = $(this).attr('name');
                postData[n] = v;
            });
            var postDataStr = JSON.stringify(postData);

            $.ajax({
                url: '/dbms/search/warrant/',
                type: 'POST',
                traditional: true,
                data: {'postDataStr': postDataStr},
                dataType: 'JSON',
                success: function (arg) {
                    console.log(arg);
                    if (arg.status) {
                        $("#id_warrant").empty();
                        var warrant_list = arg.warrant_list;
                        $.each(warrant_list, function (i, item) {
                            var warrant_id = item['id'];
                            var warrant_name = item['name'];
                            var option_item = '<option value="' + warrant_id + '" selected="">' + warrant_name + '</option>';
                            $("#id_warrant").append(option_item);
                        });
                        {#window.location.reload();#}
                    } else {
                        alert(arg.warrant_list);

                    }
                }
            })
        })
    }
</script>






