<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>归档状态</th>
            <th>归档日期</th>
            <th>归档说明</th>
            <th>归档人</th>
            {% if PAGE_TITLE == '归档管理' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="provide-pigeonhole-tb">
        {% for pigeonhole in provide_obj.pigeonhole_provide.all %}
            <tr pigeonhole-nid="{{ pigeonhole.id }}">
                <td>{{ pigeonhole.get_implement_display }}</td>
                <td>{{ pigeonhole.pigeonhole_date }}</td>
                <td>{{ pigeonhole.pigeonhole_explain }}</td>
                <td>{{ pigeonhole.pigeonhole_transfer.name }}</td>
                {% if PAGE_TITLE == '归档管理' %}
                    <td><a class="btn btn-danger btn-xs delPigeonholeB">删除</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
