<table>
    <tr style="height: 36pt">
        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="right" valign="top">乙方（抵押人）：</td>
        {% elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="right" valign="top">乙方（出质人）：</td>
        {% endif %}
        <td style="border: 0pt; width: 25%" valign="top">
            <!--WARRANT_TYP_LIST = [
                (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
            {% for warrant in counter_obj.warrant_counter.warrant.all %}
                {% if forloop.first %}
                    {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                    {% if warrant.ownership_warrant.all %}
                        <strong><u>{% for ownership in warrant.ownership_warrant.all %}
                            {{ ownership.owner.name }}{% if not forloop.last %}、{% endif %}
                        {% endfor %}</u></strong>
                        {#(11, '应收账款')#}
                    {% elif warrant.warrant_typ == 11 %}
                        <strong><u>{{ counter_receive_obj.receive_owner.name }}</u></strong>
                        {#(21, '股权')#}
                    {% elif warrant.warrant_typ == 21 %}
                        <strong><u>{{ counter_stock_obj.stock_owner.name }}</u></strong>
                        {#(31, '票据')#}
                    {% elif warrant.warrant_typ == 31 %}
                        <strong><u>{{ counter_draft_obj.draft_owner.name }}</u></strong>
                        {#(41, '车辆')#}
                    {% elif warrant.warrant_typ == 41 %}
                        <strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong>
                        {#(51, '动产')#}
                    {% elif warrant.warrant_typ == 51 %}
                        <strong><u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong>
                    {% elif warrant.warrant_typ == 55 %}
                        <strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong>
                    {% else %}
                        <strong><u>？？？？？？？？？？？？</u></strong>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>

        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:135pt" align="right" valign="top">甲方（抵押权人）：</td>
        {% elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:115pt" align="right" valign="top">甲方（质权人）：</td>
        {% else %}
            <td style="border: 0pt; width:115pt" align="right" valign="top">？？？？</td>
        {% endif %}
        <td style="border: 0pt" valign="top">成都武侯中小企业融资担保有限责任公司</td>

    </tr>
    <tr style="height: 32pt">
        <td style="border: 0pt" align="right">法定代表人：</td>
        <td style="border: 0pt">
            <!--WARRANT_TYP_LIST = [
                (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
            {% for warrant in counter_obj.warrant_counter.warrant.all %}
                {% if forloop.first %}
                    {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                    {% if warrant.ownership_warrant.all %}
                        <strong><u>{% for ownership in warrant.ownership_warrant.all %}
                            {% if ownership.owner.company_custome %}
                                {{ ownership.owner.company_custome.representative }}
                            {% endif %}
                        {% endfor %}</u></strong>
                        {#(11, '应收账款')#}
                    {% elif warrant.warrant_typ == 11 %}
                        {% if warrant.receive_warrant.receive_owner.company_custome %}
                            <strong><u>{{ warrant.receive_warrant.receive_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                        {#(21, '股权')#}
                    {% elif warrant.warrant_typ == 21 %}
                        {% if warrant.stock_warrant.stock_owner.company_custome %}
                            <strong><u>{{ warrant.stock_warrant.stock_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                        {#(31, '票据')#}
                    {% elif warrant.warrant_typ == 31 %}
                        {% if warrant.draft_warrant.draft_owner.company_custome %}
                            <strong><u>{{ warrant.draft_warrant.draft_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                        {#(41, '车辆')#}
                    {% elif warrant.warrant_typ == 41 %}
                        {% if warrant.vehicle_warrant.vehicle_owner.company_custome %}
                            <strong><u>{{ warrant.vehicle_warrant.vehicle_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                        {#(51, '动产')#}
                    {% elif warrant.warrant_typ == 51 %}
                        {% if warrant.chattel_warrant.chattel_owner.company_custome %}
                            <strong><u>{{ warrant.chattel_warrant.chattel_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                    {% elif warrant.warrant_typ == 55 %}
                        {% if warrant.other_warrant.other_owner.company_custome %}
                            <strong><u>{{ warrant.other_warrant.other_owner.company_custome.representative }}</u></strong>
                        {% endif %}
                    {% else %}
                        <strong><u>？？？？？？？？？？？？</u></strong>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        <td style="border: 0pt" align="right">法定代表人：</td>
        <td style="border: 0pt">何长见</td>
    </tr>
    <tr style="height: 32pt">
        <td style="border: 0pt" colspan="2">（或授权代理人）签字：</td>
        <td style="border: 0pt" colspan="2">（或授权代理人）签字：</td>
    </tr>
</table>