<p>（一）本合同未尽事宜，甲乙双方可另行达成书面协议，作为本合同附件。本合同的任何附件、修改或补充均构成本合同不可分割的一部分，与本合同具有同等的法律效力。</p>
<p>（二）本合同独立于其他关联合同，其他关联合同的无效并不导致本合同无效。如本合同的某条款或某条款的部分内容被认定无效，该无效条款或该无效部分并不影响本合同及本合同其他条款或该条款其他内容的有效性。</p>
{% if notarization_typ %}
    <p>（三）本合同正本一式<strong><u>{{ agree_copy_cn }}</u></strong>份，甲方执<strong><u>壹</u></strong>份，乙方执<strong><u>壹</u></strong>份，公证处执<strong><u>壹</u></strong>份，登记机关执<strong><u>{{ agree_copy_jy_cn }}</u></strong>份。具有同等的法律效力。</p>
{% else %}
    <p>（三）本合同正本一式<strong><u>{{ agree_copy_cn }}</u></strong>份，甲方执<strong><u>壹</u></strong>份，乙方执<strong><u>壹</u></strong>份，登记机关执<strong><u>{{ agree_copy_jy_cn }}</u></strong>份。具有同等的法律效力。</p>
{% endif %}
<p><strong>声明：乙方已阅读本合同所有条款。应乙方要求，甲方已经就本合同做了相应的条款说明。乙方对本合同条款的含义及相应的法律后果已全部通晓并充分理解。</strong></p>
<p><strong>乙方确认：</strong></p>
<p><strong><u>
    {{ agree_obj.lending.summary.custom.name }}
    {% if agree_obj.lending.summary.borrower.all %}
        {% for borrower in agree_obj.lending.summary.borrower.all %}
            、{{ borrower.name }}
        {% endfor %}
    {% endif %}
</u></strong></p>
