<p>(此页无正文)</p>
<div class="sign-page">
    <div class="sign-page-j">
        {% include 'dbms/agree/agree_board/sign-j.html' %}
    </div>
    <div class="sign-page-y">
        <p>乙方（公章或合同专用章）：<span class="str-p"><strong><u>{{ agree_obj.lending.summary.custom.name }}</u></strong></span>
        </p>
        <p>
            法定代表人（或授权代理人）：<span
                class="str-p"><strong><u>{{ agree_obj.lending.summary.custom.company_custome.representative }}</u></strong></span>
        </p>
        <p>（签字或盖章）</p>
        {% include 'dbms/agree/agree_board/sign-date.html' %}
    </div>
</div>