<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>查询类型</th>
            <th>评估日期</th>
            <th>评估价值</th>
            <th>拍卖日期</th>
            <th>挂网价格</th>
            <th>成交日期</th>
            <th>成交金额</th>
            <th>查询情况</th>
            <th>查询日期</th>
            <th>创建人</th>
        </tr>
        </thead>
        <tbody>
        {% for inquiry in seal_obj.inquiry_seal.all %}
            <tr>
                <td>{{ inquiry.get_inquiry_type_display }}</td>
                <td>{{ inquiry.evaluate_date }}</td>
                <td align="right">{{ inquiry.evaluate_value|floatformat:2 }}</td>
                <td>{{ inquiry.auction_date }}</td>
                <td align="right">{{ inquiry.listing_price|floatformat:2 }}</td>
                <td>{{ inquiry.transaction_date }}</td>
                <td align="right">{{ inquiry.auction_amount|floatformat:2 }}</td>
                <td>{{ inquiry.inquiry_detail }}</td>
                <td>{{ inquiry.inquiryor_date }}</td>
                <td>{{ inquiry.inquiryor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}
</div>
