<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="background-color: #f5f5f5">
        <li role="presentation active">
            <a href="#counter-ensure" style="background-color: #f5f5f5"
               aria-controls="profile" role="tab" data-toggle="tab">保证</a></li>
        <li role="presentation">
            <a href="#counter-house" style="background-color: #f5f5f5"
               aria-controls="messages" role="tab" data-toggle="tab">房产</a></li>
        <li role="presentation">
            <a href="#counter-ground" style="background-color: #f5f5f5"
               aria-controls="messages" role="tab" data-toggle="tab">土地</a></li>
        <li role="presentation">
            <a href="#counter-receive" style="background-color: #f5f5f5"
               aria-controls="settings" role="tab" data-toggle="tab">应收</a></li>
        <li role="presentation">
            <a href="#counter-stock " style="background-color: #f5f5f5"
               aria-controls="home" role="tab" data-toggle="tab">股权</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="counter-ensure"><!--保证反担保-->
            {% include 'dbms/appraisal/lending/tab/counter-ensure.html' %}</div>
        <div role="tabpanel" class="tab-pane" id="counter-house"><!--房产反担保-->
            {% include 'dbms/appraisal/lending/tab/counter-house.html' %}</div>
        <div role="tabpanel" class="tab-pane" id="counter-ground"><!--土地反担保-->
            {% include 'dbms/appraisal/lending/tab/counter-ground.html' %}</div>
        <div role="tabpanel" class="tab-pane" id="counter-receive"><!--应收质押-->
            {% include 'dbms/appraisal/lending/tab/counter-receive.html' %}</div>
        <div role="tabpanel" class="tab-pane" id="counter-stock"><!--股权质押-->
            {% include 'dbms/appraisal/lending/tab/counter-stock.html' %}</div>
    </div>
</div>
