<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane active"
         id="counter-ensure"><!--保证反担保-->
        {% include 'dbms/appraisal/lending/detail/content/counter-ensure.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="counter-house"><!--房产反担保-->
        {% include 'dbms/appraisal/lending/detail/content/counter-house.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="counter-ground"><!--土地反担保-->
        {% include 'dbms/appraisal/lending/detail/content/counter-ground.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="counter-receive"><!--应收质押-->
        {% include 'dbms/appraisal/lending/detail/content/counter-receive.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="counter-stock"><!--股权质押-->
        {% include 'dbms/appraisal/lending/detail/content/counter-stock.html' %}
    </div>
</div>
