<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane active"
         id="counter">
        {% include 'dbms/article/scan/detail/content/tab-counter.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="charge">
        {% include 'dbms/article/scan/detail/content/tab-charge.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="provide">
        {% include 'dbms/article/scan/detail/content/tab-provide.html' %}

    </div>
    <div role="tabpanel"
         class="tab-pane"
         id="repayment">
        {% include 'dbms/article/scan/detail/content/tab-repayment.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="compensatory">
        {% include 'dbms/article/scan/detail/content/tab-compensatory.html' %}
    </div>
</div>
