<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>担保方式</th>
            <th>房产编号</th>
            <th>房产地址</th>
            <th>房产用途</th>
            <th>房产面积</th>
            {% if counter_operate %}
                <th>操作</th>
            {% endif %}

        </tr>
        </thead>
        <tbody class="guarantee-tb">
        {% for lending_sure in lending_obj.sure_lending.all %}
            {% if lending_sure.sure_typ in house_list %}
                {% for warrant in lending_sure.warrant_sure.warrant.all %}
                    <tr guarantee-nid={{ warrant.id }} sure-typ-nid={{ lending_sure.sure_typ }}>
                        <td>{{ lending_sure.get_sure_typ_display }}</td>
                        <td>{{ warrant.warrant_num }}</td>
                        <td>{{ warrant.house_warrant.house_locate }}</td>
                        <td>{{ warrant.house_warrant.get_house_app_display }}</td>
                        <td>{{ warrant.house_warrant.house_area }}</td>
                        {% if counter_operate %}
                            <td><a class="btn btn-danger btn-xs delGuaranteeB">删除</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
