<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>担保方式</th>
            <th>所有权人</th>
            <th>详情</th>
            {% if page_title == '放款次序' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="guarantee-tb">
        {% for lending_sure in lending_obj.sure_lending.all %}
            {% if lending_sure.sure_typ in DRAFT_LIST %}
                {% for warrant in lending_sure.warrant_sure.warrant.all %}
                    <tr guarantee-nid={{ warrant.id }} sure-typ-nid={{ lending_sure.sure_typ }}>
                        <td><a target="_blank" href="{% url 'dbms:warrant_scan' warrant_id=warrant.id %}">
                            {{ forloop.counter }}</a></td>
                        <td>{{ lending_sure.get_sure_typ_display }}</td>
                        <td>{{ warrant.draft_warrant.draft_owner }}</td>
                        <td>{{ warrant.draft_warrant.draft_detail }}</td>
                        {% if page_title == '放款次序' %}
                            <td><a class="btn btn-danger btn-xs delGuaranteeB">删除</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
