<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">

        <thead>
        <tr style="text-align: center">
            <th>担保方式</th>
            <th>所有人</th>
            <th>详情</th>
            {% if counter_operate %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="guarantee-tb">
        {% for lending_sure in lending_obj.sure_lending.all %}
            {% if lending_sure.sure_typ in receivable_list %}
                {% for warrant in lending_sure.warrant_sure.warrant.all %}
                    <tr guarantee-nid={{ warrant.id }} sure-typ-nid={{ lending_sure.sure_typ }}>
                        <td>{{ lending_sure.get_sure_typ_display }}</td>
                        <td>{{ warrant.receive_warrant.receive_owner }}</td>
                        <td>{{ warrant.receive_warrant.receivable_detail }}</td>
                        {% if counter_operate %}
                            <td><a class="btn btn-danger btn-xs delGuaranteeB">删除</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
