{% extends 'dbms/index_dbms.html' %}
{% load static %}
{% block title %}添加评审会{% endblock %}

{% block right-content-container %}
    <div class="container">
        <h2>添加评审会</h2>
        <form class="form-horizontal"
              action="{% url 'dbms:meeting_add' %}"
              method="post"> {% csrf_token %}
            <div class="row">
                <label class="col-xs-12">
                    <div class="form-group">
                        {{ form.review_model.label_tag }}
                        {{ form.review_model }}
                        {{ form.review_model.errors }}
                    </div>
                </label>

                <label class="col-xs-12">
                    <div class="form-group">
                        {{ form.review_date.label_tag }}
                        {{ form.review_date }}
                        {{ form.review_date.errors }}
                    </div>
                </label>

                <label class="col-xs-12">
                    <div class="form-group">
                        {{ form.expert.label_tag }}
                        {{ form.expert }}
                        {{ form.expert.errors }}
                    </div>
                </label>

                <label class="col-xs-12">
                    <div class="form-group">
                        {{ form.article.label_tag }}
                        {{ form.article }}
                        {{ form.article.errors }}
                    </div>
                </label>
            </div>
            <input class="active btn btn-primary btn-sm"
                   type="submit" value="提交">
        </form>
    </div>
{% endblock %}