<div>
    {% if kwargs.article_state == None %}
        <a class="active btn btn-primary btn-sm"
           href="{% url 'dbms:article_all' %}">全部</a>
    {% else %}
        <a class="btn btn btn-primary btn-sm"
           href="{% url 'dbms:article_all' %}">全部</a>
    {% endif %}

    {# 方式一：#}
    {% for item in article_state_list_dic %}
        {% if item.id == kwargs.article_state %}
            <a class="active btn btn-primary btn-sm"
               href="{% url 'dbms:article' article_state=item.id %}">
                {{ item.name }}
            </a>
        {% else %}
            <a class="btn btn-primary btn-sm"
               href="{% url 'dbms:article' article_state=item.id %}">
                {{ item.name }}
            </a>
        {% endif %}
    {% endfor %}
    <span style="display: inline">
        <form class="navbar-form"
              style="display: inline">
            <input type="text" class="form-control" placeholder="搜索客户或项目经理">
            <button type="submit" class="btn btn-primary btn-sm">搜索</button>
        </form>
    </span>
    <span>
        <a class="btn btn-success btn-sm pull-right"
           href="{% url 'dbms:article_add' %}">添加项目
        </a>
    </span>

    <span class="btn btn-success btn-sm pull-right"
          data-toggle="modal" data-target="#articleAddModal">
        添加项目
    </span>
</div>


<!-- Modal -->
{% include 'dbms/article/article/filter/mod.html' %}

