{% extends 'base.html' %}

{% block title %}个人首页{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    {% block pro_name %}武侯中小-担保管理系统-首页{% endblock %}
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button">
                            {{ request.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% for mm in request.session.menus %}
                        <li><a href={{ mm.url }}>
                            {{ mm.menu }}
                        </a></li>
                    {% endfor %}

                    {% for menu in menu_list %}
                        <li><a href="{% if menu.url_type == 0 %}
				                            {{ menu.url_name }}
				                         {% else %}
				                            {% url menu.url_name usernum=request.user.num %}
				                         {% endif %}">
                            {{ menu.name }}
                        </a></li>
                    {% endfor %}

                    {% for role in  request.user.job.all %}
                        {% for menu in role.menu.select_related %}
                            <li><a href="{% if menu.url_type == 0 %}
				                            {{ menu.url_name }}
				                         {% else %}
				                            {% url menu.url_name usernum=request.user.num %}
				                         {% endif %}">
                                {{ menu.name }}
                            </a></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main"
                 style="padding-left: 1px;padding-right: 1px;">
                {% block right-content-container %}
                    <h2 class="page-header">{{ request.user.name }}的个人首页</h2>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}