<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>借款合同</th>
            <th>保证合同</th>
            <th>通知日期</th>
            <th>通知金额</th>
            <th>期限(月)</th>
            <th>加权金额</th>
            <th>放款金额</th>
            <th>还款金额</th>
            <th>备注</th>
            <th>操作人员</th>
            {% if PAGE_TITLE == '风控落实' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="notify-tb">
        {% for notify in agree_obj.notify_agree.all %}
            <tr notify-nid="{{ notify.id }}">
                {% if notify_id %}
                    {% if notify.id == notify_id %}
                        <td><a href="{% url 'dbms:provide_agree_notify' agree_id=agree_obj.id notify_id=notify.id %}">
                            {{ forloop.counter }}*</a></td>
                    {% else %}
                        <td><a href="{% url 'dbms:provide_agree_notify' agree_id=agree_obj.id notify_id=notify.id %}">
                            {{ forloop.counter }}</a></td>
                    {% endif %}
                {% else %}
                    <td><a href="{% url 'dbms:provide_agree_notify' agree_id=agree_obj.id notify_id=notify.id %}">
                        {{ forloop.counter }}</a></td>
                {% endif %}
                <td>{{ notify.contracts_lease }}</td>
                <td>{{ notify.contract_guaranty }}</td>
                <td>{{ notify.notify_date }}</td>
                <td>{{ notify.notify_money }}</td>
                <td>{{ notify.time_limit }}</td>
                <td>{{ notify.weighting }}</td>
                <td>{{ notify.notify_provide_sum }}</td>
                <td>{{ notify.notify_repayment_sum }}</td>
                <td>{{ notify.remark|default:"" }}</td>
                <td>{{ notify.notifyor.name }}</td>
                {% if PAGE_TITLE == '风控落实' %}
                    <td><a class="btn btn-danger btn-xs delNotifyB">删除</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
