<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>评审姓名</th>
            <th>单位</th>
            <th>职务</th>
            <th>级别</th>
            <th>电话</th>
            <th>邮箱</th>
            {% if article_obj.article_state in edit_article_state_list %}
                <th>删除</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="expert-allot-tb">
        {% for expert in article_obj.expert.all %}
            <tr expert-nid="{{ expert.id }}">
                <td>{{ expert.name }}</td>
                <td>{{ expert.organization }}</td>
                <td>{{ expert.job }}</td>
                <td>{{ expert.get_level_display }}</td>
                <td>{{ expert.contact_numb }}</td>
                <td>{{ expert.email }}</td>
                {% if article_obj.article_state in edit_article_state_list %}
                    <td><a class="btn btn-danger btn-xs delExpertAllotB">删除</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
