<div class="modal fade" id="addCounterModal" tabindex="-1"
     role="dialog" aria-labelledby="addCounterModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addCounterModalLabel">添加反担保合同
                    <input name="agree_id" value="{{ agree_obj.id }}" style="display: none">
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    {% include 'dbms/agree/modl/mod_form/counter-add-edit.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-assure-c.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-assure-p.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-house.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-ground.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-coustruct.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-receivable.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-stock.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-draft.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-vehicle.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-chattel.html' %}
                    {% include 'dbms/agree/modl/mod_form/counter-other.html' %}
                </form>
            </div>
            <label id="formErrors"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="addCounterModalOk">确定</button>
            </div>
        </div>
    </div>
</div>