<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="background-color: #f5f5f5">
        {% comment %} <li role="presentation">
            <a href="#provide-article" style="background-color: #f5f5f5" aria-controls="home" role="tab"
               data-toggle="tab">项目情况 </a></li> {% endcomment %}
        <li role="presentation" class="active">
            <a href="#provide-repayment" style="background-color: #f5f5f5" aria-controls="home" role="tab"
               data-toggle="tab">还款 </a></li>
        {% if provide_obj.fication_provide.all %}
            <li role="presentation">
                <a href="#fication" style="background-color: #f5f5f5" aria-controls="home" role="tab"
                   data-toggle="tab">分类 </a>
            </li>
        {% endif %}
        {% if provide_obj.extension_provide.all %}
            <li role="presentation">
                <a href="#extension" style="background-color: #f5f5f5" aria-controls="home" role="tab"
                   data-toggle="tab">展期 </a>
            </li>
        {% endif %}
        {% if provide_obj.track_provide.all %}
            <li role="presentation">
                <a href="#track" style="background-color: #f5f5f5" aria-controls="home" role="tab"
                   data-toggle="tab">跟踪事项 </a></li>
        {% endif %}
        {% if provide_obj.compensatory_provide.all %}
            <li role="presentation">
                <a href="#compensatory" style="background-color: #f5f5f5" aria-controls="home" role="tab"
                   data-toggle="tab">代偿 </a></li>
        {% endif %}

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% comment %} <div role="presentation" class="tab-pane" id="provide-article"> <!--项目情况-->
            {% include 'dbms/provide/scan/tab/provide-article.html' %} </div> {% endcomment %}
        <div role="presentation" class="tab-pane active" id="provide-repayment"> <!--还款-->
            {% include 'dbms/provide/scan/tab/provide-repayment.html' %} </div>
        <div role="presentation" class="tab-pane" id="fication"> <!--分类-->
            {% include 'dbms/provide/scan/tab/provide-fication.html' %} </div>
        <div role="presentation" class="tab-pane" id="extension"> <!--展期-->
            {% include 'dbms/provide/scan/tab/provide-extension.html' %} </div>
        <div role="presentation" class="tab-pane" id="track"> <!--跟踪事项-->
            {% include 'dbms/provide/scan/tab/provide-track.html' %} </div>
        <div role="presentation" class="tab-pane" id="compensatory"> <!--代偿-->
            {% include 'dbms/provide/scan/tab/provide-compensatory.html' %} </div>
    </div>
</div>
