body {
    padding-top: 3pt;
    /*字体*/
    font-family: SimSun;
}

.contain {
    /*页面宽度*/
    width: 210mm;
    /*左空白*/
    margin-left: auto;
    /*右空白*/
    margin-right: auto;
    /*字体大小*/
    font-size: 14pt;
    /*背景色 */
    /*background-color: #dddddd;*/
    /*字间距*/
    letter-spacing: 0pt;
    /*行间距*/
    line-height: 25pt;
    background-image: url("../images/agree_dark_line.png");
    background-repeat: repeat-y;
}

/*段前缩进*/
p {
    margin-top: 9pt;
    margin-bottom: 0pt;
    text-indent: 30pt;
}

/*换页打印*/
.split {
    page-break-after: always;
}

/*收紧*/
.frap {
    /*字间距*/
    letter-spacing: 0pt;
}

/*合同标题*/
.agree-title {
    text-align: center;
    font-size: 27.5pt;
    padding-top: 25mm;
    padding-bottom: 25mm;
}

.page-home-p {
    /*{#padding-top: 0pt;#} */
    text-indent: 0pt;
}

/*合同封面-甲方*/
.page-home-j {
    font-size: 15.75pt;
    padding-top: 20mm;
    padding-bottom: 20mm;
    text-indent: 0pt;
}

/*合同封面-乙方*/
.page-home-y {
    font-size: 15.75pt;
    padding-top: 20mm;
    padding-bottom: 20mm;
    text-indent: 0pt;
}

/*合同封面-丙方*/
.page-home-b {
    font-size: 15.75pt;
    padding-top: 20mm;
    padding-bottom: 20mm;
    text-indent: 0pt;
}

/*合同签字页*/
.sign-page {
    padding-top: 20pt;
}

.sign-page > div {
    padding-bottom: 100pt;
}

.sign-page p {
    padding-bottom: 10pt;
    text-indent: 0pt;
}

.sign-date {
    padding-left: 340pt;
}

table {
    width: 100%;
    border-collapse: collapse;
    /*行间距*/
    line-height: 21pt;
}

tr td {
    border: 1px solid black;
    height: 24pt;
}

/*{#应收账款质押登记表样式#}*/
.receive-tab {
    /*{#宽度#} */
    width: 210mm;
    /*{#左空白#} */
    margin-left: auto;
    /*{#又空白#} */
    margin-right: auto;
    /*{#字体大小#} */
    font-size: 12pt;
    /*{#背景色#} */
    /*background-color: #dddddd;*/
    /*{#字间距 #} */
    letter-spacing: 0pt;
    /*{#行间距#} */
    line-height: 15pt;
    background-image: url("../images/agree_dark_line.png");
    background-repeat: repeat-y;
}

.receive-tab p {
    margin-top: 0pt;
    margin-bottom: 0pt;
    text-indent: 16pt;
    /*{#行间距#} */
    line-height: 17pt;
}

.pro-tab tr td {
    border: 0px solid black;
}