body {
    padding-top: 3pt;
    /*字体*/
    font-family: SimSun;
}

/*合同审签表样式*/
.sign-tab {
    /*宽度*/
    width: 180mm;
    /*左空白*/
    margin-left: auto;
    /*右空白*/
    margin-right: auto;
    /*字体大小*/
    font-size: 14pt;
    /*{#背景色*/
    /*background-color: #dddddd;*/
    /*字间距*/
    letter-spacing: 0pt;
    /*行间距*/
    line-height: 20.5pt;
    /*字体*/
    /*font-family: "宋体";*/
}

/*换页打印*/
.split {
    page-break-after: always;
}

.indal {
    /*缩进*/
    text-indent: 20pt;
    /*两端对齐文本*/
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    -moz-text-align-last: left; /* 针对 Firefox 的代码 */
}

.tc {
    text-align: center;
}

.bb {
    border: 1px solid black;
    height: 24pt;
}

.bbb {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 24pt;
}

.brl {
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 60pt;
}

.brt {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 35pt;
}

table {
    width: 100%;
    /*行间距*/
    line-height: 15pt;
}

th {
    border: 1px solid black;
    height: 24pt;
}

.bbn {
    border-bottom: 1px solid white;
}