body {
    /*padding-top: 10pt;*/
    font-family: SimSun;
}

.contain {
    /*{#宽度#} */
    width: 188mm;
    /*{#左空白#} */
    margin-left: auto;
    /*{#又空白#} */
    margin-right: auto;
    /*{#字体大小#} */
    font-size: 16pt;
    /*{#背景色 #} */
    background-color: #dddddd;
    /*{#字间距 #} */
    letter-spacing: 0pt;
    /*{#行间距#}*/
    line-height: 40pt;
}

.headline {
    text-align: center;
    font-weight: bold;
    line-height: 18pt;
    /*color: red;*/
    margin-bottom: 20pt;
}

.headline-1 {
    font-size: 28pt;
    margin-bottom: 18pt;
    color: red;
    transform: scale(1, 2);
}

.headline-2 {
    font-size: 22pt;
}

/*{#tr td {#}*/
/*{#    border: 1px solid black;#}*/
.bb2 {
    border: 2pt solid black;
}

.bl {
    border-left: 1pt solid black;
}

.style0 {
    border-top: none;
}