{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article_obj }}{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" media="screen" href="{% static 'dbms/css/notify-style.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'dbms/css/notify-style.css' %}">
{% endblock %}
{% block body %}
    <div class="sign-tab">
        {% if notify_obj.agree.lending.summary.product.name == '房抵贷' %}
            {% include 'dbms/provide/notify_show/fdd.html' %}
        {% elif notify_obj.agree.lending.summary.product.name == '担保贷' %}
            {% include 'dbms/provide/notify_show/dbd.html' %}
        {% elif notify_obj.agree.lending.summary.product.name == '过桥贷' %}
            {% include 'dbms/provide/notify_show/gqd.html' %}
        {% else %}

        {% endif %}
    </div>
{% endblock %}