{% extends 'dbms/tabulation.html' %}

{% block title %}合同管理{% endblock %}

{% block table %}
    <caption><h3>合同管理</h3></caption>
    {% if provide_list1 %}
        <thead>
            <tr>
                <th>序号</th>
                <th>合同编号</th>
                <th>签订人</th>
                <th>签订情况</th>
                <th>编辑</th>
            </tr>
        </thead>
        <tbody>
        {% for provide in provide_list1 %}
            <tr>
                <td>{{provide.id}}</td>
                <td>{{provide.assure_num}}</td>
                <td>
                    {% for custome in provide.custome.all %}
                        {{ custome.name }}|
                    {% endfor %}
                </td>
                <td>{{ provide.assure_sign }}</td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% if provide_list2 %}
        <thead>
            <tr>
                <th>序号</th>
                <th>合同编号</th>
                <th>房产编号</th>
                <th>签订情况</th>
                <th>编辑</th>
            </tr>
        </thead>
        <tbody>
        {% for provide in provide_list2 %}
            <tr>
                <td>{{provide.id}}</td>
                <td>{{provide.house_num}}</td>
                <td>
                    {% for house in provide.house.all %}
                        {{ house.house_numb }}|
                    {% endfor %}
                </td>
                <td>{{ provide.assure_sign }}</td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}