<div class="modal fade" id="editWarrantModal" tabindex="-1"
     role="dialog" aria-labelledby="editWarrantModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editWarrantModalLabel">修改产权
                    <input style="display: none" name="warrant_id" id="id_warrant_id" value={{ warrant_obj.id }}>
                    <input style="display: none" name="warrant_typ_n" id="id_warrant_typ_n" value={{ warrant_typ_n }}>
                </h4>
            </div>
            <div class="modal-body">
                {#WARRANT_TYP_LIST = [#}
                {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),#}
                {#(21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]#}
                <form class="form-horizontal">
                    {% include 'dbms/warrant/modl/mod_form/warrant-edit.html' %}
                    {% if warrant_typ_n == 1 %}
                        {% include 'dbms/warrant/modl/mod_form/house-add-edit.html' %}
                    {% elif warrant_typ_n == 5 %}
                        {% include 'dbms/warrant/modl/mod_form/ground-add-edit.html' %}
                    {% elif warrant_typ_n == 6 %}
                        {% include 'dbms/warrant/modl/mod_form/construct-add-edit.html' %}
                    {% elif warrant_typ_n == 11 %}
                        {% include 'dbms/warrant/modl/mod_form/receivable-edit.html' %}
                    {% elif warrant_typ_n == 21 %}
                        {% include 'dbms/warrant/modl/mod_form/stockes-edit.html' %}
                    {% elif warrant_typ_n == 31 %}
                        {% include 'dbms/warrant/modl/mod_form/draft-edit.html' %}
                    {% elif warrant_typ_n == 41 %}
                        {% include 'dbms/warrant/modl/mod_form/vehicle-edit.html' %}
                    {% elif warrant_typ_n == 51 %}
                        {% include 'dbms/warrant/modl/mod_form/chattel-edit.html' %}
                    {% elif warrant_typ_n == 55 %}
                        {% include 'dbms/warrant/modl/mod_form/other-edit.html' %}
                    {% elif warrant_typ_n == 99 %}
                        {% include 'dbms/warrant/modl/mod_form/hypothec-add-edit.html' %}
                    {% endif %}
                </form>
            </div>
            <label id="formErrors"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="editWarrantModalOk">确定</button>
            </div>
        </div>
    </div>
</div>