{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ agree_obj.agree_num }}</title>
    <link rel="stylesheet" media="screen" href="{% static 'dbms/css/agree-result-style.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'dbms/css/agree-result-style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<div class="contain-result">
    {%if agree_obj.investigation_fee > 0 %}
        {% if agree_obj.agree_state == 11 or agree_obj.agree_state == 51 %}
            <div class="container-fluid">
                <input style="display: none" name="agree_id" id="id_agree_id" value={{ agree_obj.id }}>
            </div>
            <div id="view-save">
                {% if agree_obj.agree_typ == 1 or agree_obj.agree_typ == 41%} <!--(1, 'D-单笔')-->
                    {% include 'dbms/agree/agree_board/supple/supplementary-single.html' %}    
                {% elif agree_obj.agree_typ == 2 or agree_obj.agree_typ == 42%} <!--(2, 'D-最高额')-->
                    {% include 'dbms/agree/agree_board/supple/supplementary-maximum.html' %}    
                {%else%}
                    <p>系统没有相关模板，请联系管理员！！！！！！</p>
                    <p>系统没有相关模板，请联系管理员！！！！！！</p>
                    <p>系统没有相关模板，请联系管理员！！！！！！</p>
                    <p>系统没有相关模板，请联系管理员！！！！！！</p>
                {%endif%}
            </div>
            {% include 'dbms/agree/extra/js-view-save-supplementary.html' %}
        {% else %}
            {{ agree_obj.supplementary|safe }}
        {% endif %}
    {%endif%}
</div>
</body>
</html>
