{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ counter_obj.counter_num }}</title>
    <link rel="stylesheet" media="screen" href="{% static 'dbms/css/agree-style.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'dbms/css/agree-style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
{% if agree_obj.agree_state == 11 or agree_obj.agree_state == 51 %}
    {#{% if 1 %}#}
    <div class="container-fluid" style="padding-left: 1px;">
        <input style="display: none" name="counter_id" id="id_counter_id" value={{ counter_obj.id }}>
    </div>
    <div id="view-save">
        {% if agree_typ == 1 %}
{#            (1, '单笔')#}
            {% if counter_typ == 1 %}
                {% include 'dbms/agree/agree_board/counter/c-s-x.html' %}
            {% elif counter_typ == 2 %}
                {% include 'dbms/agree/agree_board/counter/c-s-g.html' %}
            {% elif counter_typ in D_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-d.html' %}
            {% elif counter_typ in Z_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-z.html' %}
            {% else %}
                <p>！！！！！！！还未添加合同模板，请联系系统管理员！！！！！！！</p>
            {% endif %}
        {% elif agree_typ == 2 %}
{#            (2, '最高额')#}
            {% if counter_typ == 1 %}
                {% include 'dbms/agree/agree_board/counter/c-m-x.html' %}
            {% elif counter_typ == 2 %}
                {% include 'dbms/agree/agree_board/counter/c-m-g.html' %}
            {% elif counter_typ in D_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-m-d.html' %}
            {% elif counter_typ in Z_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-m-z.html' %}
            {% else %}
                <p>！！！！！！！还未添加合同模板，请联系系统管理员！！！！！！！</p>
            {% endif %}
        {% elif agree_typ == 3 %}
            <p>！！！！！！！agree_typ == 3还未添加合同模板，请联系系统管理员！！！！！！！</p>
        {% elif agree_typ == 4 %}
            <p>！！！！！！！agree_typ == 4还未添加合同模板，请联系系统管理员！！！！！！！</p>
        {% elif agree_typ == 7 %}
            <p>！！！！！！！agree_typ == 7还未添加合同模板，请联系系统管理员！！！！！！！</p>
        {% elif agree_typ == 22 %}
{#            (22, '公司保函')#}
            {% if counter_typ == 1 %}
                {% include 'dbms/agree/agree_board/counter/c-s-x-l.html' %}
            {% elif counter_typ == 2 %}
                {% include 'dbms/agree/agree_board/counter/c-s-g-l.html' %}
            {% elif counter_typ in D_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-d-l.html' %}
            {% elif counter_typ in Z_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-z-l.html' %}
            {% else %}
                <p>！！！！！！！还未添加合同模板，请联系系统管理员！！！！！！！</p>
            {% endif %}
        {% elif agree_typ == 41 %}
{#            (41, '单笔(公证)')#}
            {% if counter_typ == 1 %}
                {% include 'dbms/agree/agree_board/counter/c-s-x-n.html' %}
            {% elif counter_typ == 2 %}
                {% include 'dbms/agree/agree_board/counter/c-s-x-n-g.html' %}
{#                {% include 'dbms/agree/agree_board/counter/c-s-g-n.html' %}#}
            {% elif counter_typ in D_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-d-n.html' %}
            {% elif counter_typ in Z_COUNTER_TYP_LIST %}
                {% include 'dbms/agree/agree_board/counter/c-s-z-n.html' %}
            {% else %}
                <p>！！！！！！！还未添加合同模板，请联系系统管理员！！！！！！！</p>
            {% endif %}
        {% elif agree_typ == 42 %}
            <p>！！！！！！！agree_typ == 42还未添加合同模板，请联系系统管理员！！！！！！！</p>
        {% elif agree_typ == 47 %}
            <p>！！！！！！！agree_typ == 47还未添加合同模板，请联系系统管理员！！！！！！！</p>
        {% endif %}
    </div>
    {% include 'dbms/agree/extra/js-view-save-counter.html' %}
{% else %}
    {{ counter_obj.counter_view|safe }}
{% endif %}
</body>
</html>
