{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ agree_obj.agree_num }}</title>
    {% if agree_obj.agree_typ in AGREE_TYP_D %}
        <link rel="stylesheet" media="screen" href="{% static 'dbms/css/agree-style.css' %}">
        <link rel="stylesheet" media="print" href="{% static 'dbms/css/agree-style.css' %}">
    {% elif agree_obj.agree_typ in AGREE_TYP_X %}
        <link rel="stylesheet" media="screen" href="{% static 'dbms/css/agree-style-x.css' %}">
        <link rel="stylesheet" media="print" href="{% static 'dbms/css/agree-style-x.css' %}">
    {% endif %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
{% if agree_obj.agree_state == 11 or agree_obj.agree_state == 51 %}
    {#{% if 1 %}#}
    <div class="container-fluid">
        <input style="display: none" name="agree_id" id="id_agree_id" value={{ agree_obj.id }}>
    </div>
    <div id="view-save">
        <div class="contain">
            {#        AGREE_TYP_LIST = [#}
            {#        (1, 'D-单笔'), (2, 'D-最高额'), (4, 'D-委贷'),#}
            {#        (21, 'D-分离式保函'), (22, 'D-公司保函'), (23, 'D-银行保函'),#}
            {#        (41, 'D-单笔(公证)'), (42, 'D-最高额(公证)'),#}
            {#        (51, 'X-小贷单笔'), (52, 'X-小贷最高额'), ]#}
            {% if agree_typ == 1 %} <!--(1, 'D-单笔')-->
                {% include 'dbms/agree/agree_board/entrust-single.html' %}
            {% elif agree_typ == 2 %} <!--(1, 'D-单笔')-->
                {% include 'dbms/agree/agree_board/entrust-maximum.html' %}
            {% elif agree_typ == 4 %} <!--(4, 'D-委贷'))-->
                <p>！！！！！！！！！！ (4, 'D-委贷')！！！！！！！！！！</p>
            {% elif agree_typ == 21 %} <!--(21, 'D-分离式保函')-->
                {% include 'dbms/agree/agree_board/separate-guarantee.html' %}
            {% elif agree_typ == 22 %} <!--(22, 'D-公司保函')-->
                {% include 'dbms/agree/agree_board/entrust-single-l.html' %}
            {% elif agree_typ == 23 %} <!--(23, 'D-银行保函')-->
                <p>！！！！！！！！！！ (23, 'D-银行保函')！！！！！！！！！！？</p>
            {% elif agree_typ == 41 %} <!--(41, 'D-单笔(公证)')-->
                {% include 'dbms/agree/agree_board/entrust-single-n.html' %}
            {% elif agree_typ == 42 %}<!--(42, 'D-最高额(公证)-->
                <p>！！！！！！！！！！ (42, 'D-最高额(公证)')！！！！！！！！！！</p>
            {% elif agree_typ == 51 %}<!--(51, 'X-小贷单笔')-->
                {% if agree_obj.lending.summary.custom.genre == 1 %} <!--(1, '企业')-->
                    {% include 'dbms/agree/agree_board/loan_en/loan-single-c.html' %}
                {% elif agree_obj.lending.summary.custom.genre == 2 %} <!--(2, '个人')-->
                    {% include 'dbms/agree/agree_board/loan_en/loan-single-p.html' %}
                {% endif %}
            {% else %}
                <p>！！！！！！！！！！无该类型合同模板，请联系管理员！！！！！！！！！！</p>
            {% endif %}
        </div>
    </div>
    {% include 'dbms/agree/extra/js-view-save-agree.html' %}
{% else %}
    {{ agree_obj.agree_view|safe }}
{% endif %}
</body>
</html>
