<div>附件一：</div>
<div align="center" style="padding-bottom: 25pt"><strong>抵押物清单</strong></div>
<!--清单表格-->
<table cellspacing="0" cellpadding="0">
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        {% if warrant.warrant_typ == 1 or warrant.warrant_typ == 2 %}
            {% if forloop.first %}<!--第一次循环-->
                <tr>
                    <td colspan="2" align="center">抵 押 人</td>
                    <td colspan="5">
                        {% for ownership in warrant.ownership_warrant.all %}
                            {{ ownership.owner.name }}{% if not forloop.last %}、{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td align="center">抵押财产名称</td>
                    <td align="center">规划用途</td>
                    <td align="center">面积(平方米)</td>
                    <td align="center">处所</td>
                    <td align="center">权利证书编号</td>
                    <td align="center">评估价值（元）</td>
                    <td align="center">备注</td>
                </tr>
                {% if warrant.warrant_typ == 2 %}<!--第一次循环->房产包-->
                    {% for house_bag in warrant.housebag_warrant.all %}<!--房产包循环-->
                        {% if forloop.counter == 1 %}<!--房产包首次循环-->
                            <tr>
                                <td rowspan="{{ counter_warrant_list_count }}">{{ counter_property_type }}</td>
                                <td>{{ house_bag.get_housebag_app_display }}</td>
                                <td align="right">{{ house_bag.housebag_area }}</td>
                                <td>{{ house_bag.housebag_locate }}</td>
                                <td rowspan="{{ warrant.housebag_warrant.all.count }}">
                                    {% for ownership in warrant.ownership_warrant.all %}
                                        {{ ownership.ownership_num }}{% if not forloop.last %}、{% endif %}
                                    {% endfor %}
                                </td>
                                <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                                <td></td>
                            </tr>
                        {% else %}<!--房产包非首次循环-->
                            <tr>
                                <td>{{ house_bag.get_housebag_app_display }}</td>
                                <td align="right">{{ house_bag.housebag_area }}</td>
                                <td>{{ house_bag.housebag_locate }}</td>
                                <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %} <!--第一次循环->非房产包-->
                    <tr>
                        <td rowspan="{{ counter_warrant_list_count }}">{{ counter_property_type }}</td>
                        <td>{{ warrant.house_warrant.get_house_app_display }}</td>
                        <td align="right">{{ warrant.house_warrant.house_area }}</td>
                        <td>{{ warrant.house_warrant.house_locate }}</td>
                        <td>
                            {% for ownership in warrant.ownership_warrant.all %}
                                {{ ownership.ownership_num }}{% if not forloop.last %}、{% endif %}
                            {% endfor %}
                        </td>
                        <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% else %}
                {% if warrant.warrant_typ == 2 %}
                    {% for house_bag in warrant.housebag_warrant.all %}
                        {% if forloop.counter == 1 %}
                            <tr>
                                <td>{{ house_bag.get_housebag_app_display }}</td>
                                <td align="right">{{ house_bag.housebag_area }}</td>
                                <td>{{ house_bag.housebag_locate }}</td>
                                <td rowspan="{{ warrant.housebag_warrant.all.count }}">
                                    {% for ownership in warrant.ownership_warrant.all %}
                                        {{ ownership.ownership_num }}{% if not forloop.last %}、{% endif %}
                                    {% endfor %}
                                </td>
                                <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                                <td></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ house_bag.get_housebag_app_display }}</td>
                                <td align="right">{{ house_bag.housebag_area }}</td>
                                <td>{{ house_bag.housebag_locate }}</td>
                                <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>{{ warrant.house_warrant.get_house_app_display }}</td>
                        <td align="right">{{ warrant.house_warrant.house_area }}</td>
                        <td>{{ warrant.house_warrant.house_locate }}</td>
                        <td>
                            {% for ownership in warrant.ownership_warrant.all %}
                                {{ ownership.ownership_num }}{% if not forloop.last %}、{% endif %}
                            {% endfor %}
                        </td>
                        <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <td colspan="7" style="text-indent: 16pt">
                    本《抵押物清单》是编号为{{ counter_obj.counter_num }}《{{ counter_obj.get_counter_name_display }}》的组成部分。
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<!--签单签字信息-->
<table>
    <tr style="height: 36pt">
        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="center" valign="">抵押人（企业或者其他组织公章、自然人签字）：</td>
        {% elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="center" valign="top">质押人（企业或者其他组织公章、自然人签字）：</td>
        {% endif %}
        <td style="border: 0pt; width: 25%" valign="top">
            <!--WARRANT_TYP_LIST = [
                (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
            {% for warrant in counter_obj.warrant_counter.warrant.all %}
                {% if forloop.first %}<!--第一次循环-->
                    {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                    {% if warrant.ownership_warrant.all %}
                        <strong><u>{% for ownership in warrant.ownership_warrant.all %}
                            {{ ownership.owner.name }}{% if not forloop.last %}、{% endif %}
                        {% endfor %}</u></strong>
                        {#(11, '应收账款')#}
                    {% elif warrant.warrant_typ == 11 %}
                        <strong><u>{{ counter_receive_obj.receive_owner.name }}</u></strong>
                        {#(21, '股权')#}
                    {% elif warrant.warrant_typ == 21 %}
                        <strong><u>{{ counter_stock_obj.stock_owner.name }}</u></strong>
                        {#(31, '票据')#}
                    {% elif warrant.warrant_typ == 31 %}
                        <strong><u>{{ counter_draft_obj.draft_owner.name }}</u></strong>
                        {#(41, '车辆')#}
                    {% elif warrant.warrant_typ == 41 %}
                        <strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong>
                        {#(51, '动产')#}
                    {% elif warrant.warrant_typ == 51 %}
                        <strong><u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong>
                    {% elif warrant.warrant_typ == 55 %}
                        <strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong>
                    {% else %}
                        <strong><u>？？？？？？？？？？？？</u></strong>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>

        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:135pt" align="center" valign="top">抵押权人（公章）：</td>
        {% elif counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:115pt" align="center" valign="top">质权人（公章）：</td>
        {% endif %}
        <td style="border: 0pt" valign="top">{{ UN }}</td>
    </tr>
</table>
