{% if forloop.first %}<!--第一次循环-->
    <tr>
        <td colspan="2" align="center">出 质 人</td>
        <td colspan="5">
            {{ counter_draft_obj.draft_owner.name }}
        </td>
    </tr>
    <tr>
        <td align="center">质押权利名称</td>
        <td colspan="2" align="center">票据编号</td>
        <td align="center">票面金额(元)</td>
        <td align="center">出票日期</td>
        <td align="center">到期日</td>
        <td align="center">承兑人</td>
    </tr>
    {% for draft in counter_draft_obj.extend_draft.all%}
        <tr>
            {% if forloop.first%}
                <td rowspan="{{ counter_draft_list_count }}">{{ counter_draft_obj.get_typ_display }}</td>
            {% endif%}
            <td  colspan="2" >{{ draft.draft_num }}</td>
            <td align="right">{{ draft.draft_amount }}</td>
            <td align="center">{{ draft.issue_date }}</td>
            <td align="center">{{ draft.due_date }}</td>
            <td align="right">{{ draft.draft_acceptor }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>{{ warrant.ground_warrant.get_ground_app_display }}</td>
        <td align="right">{{ warrant.ground_warrant.ground_area }}</td>
        <td>{{ warrant.ground_warrant.ground_locate }}</td>
        <td>
            {% for ownership in warrant.ownership_warrant.all %}
                {{ ownership.ownership_num }}{% if not forloop.last %}、{% endif %}
            {% endfor %}
        </td>
        <td align="right">{{ warrant.evaluate_value|default_if_none:'' }}</td>
        <td></td>
    </tr>
{% endif %}