<div>附件一：</div>
{% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
<div align="center" style="padding-bottom: 25pt"><strong>抵押物清单</strong></div>
{%elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
<div align="center" style="padding-bottom: 25pt"><strong>质物清单</strong></div>
{%else%}
<div align="center" style="padding-bottom: 25pt"><strong>？？？？？清单</strong></div>
{%endif%}

<!--清单表格-->
<table cellspacing="0" cellpadding="0">
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        {% if warrant.warrant_typ == 1 or warrant.warrant_typ == 2 %}
            {% include 'dbms/agree/agree_board/loan_co/mortgage-1-2.html' %}
        {% elif warrant.warrant_typ == 5 %}
            {% include 'dbms/agree/agree_board/loan_co/mortgage-5.html' %}
        {% elif warrant.warrant_typ == 5 %}
            {% include 'dbms/agree/agree_board/loan_co/mortgage-5.html' %}
        {% elif warrant.warrant_typ == 31 %}
            {% include 'dbms/agree/agree_board/loan_co/mortgage-31.html' %}
        {% else %}
            <p>？？？？？？？？？？？？？</p>
            <p>？？？？？？？？？？？？？</p>
            <p>？？？？？？？？？？？？？</p>
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="7" style="text-indent: 16pt">
            {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
                本《抵押物清单》是编号为{{ counter_obj.counter_num }}《{{ counter_obj.get_counter_name_display }}》的组成部分。
            {%elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
                本《质物清单》是编号为{{ counter_obj.counter_num }}《{{ counter_obj.get_counter_name_display }}》的组成部分，出质人承诺本《质物清单》中记载的出质权利内容为真实、有效、合法的。
            {%else%}
                ？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？。
            {%endif%}
        </td>
    </tr>
</table>
<!--签单签字信息-->
<table>
    <tr style="height: 36pt">
        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="center" valign="">抵押人（企业或者其他组织公章、自然人签字）：</td>
        {% elif counter_obj.counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width: 115pt" align="center" valign="top">出质人（企业或者其他组织公章、自然人签字）：</td>
        {% endif %}
        <td style="border: 0pt; width: 25%" valign="top">
            <!--WARRANT_TYP_LIST = [
                (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
            {% for warrant in counter_obj.warrant_counter.warrant.all %}
                {% if forloop.first %}<!--第一次循环-->
                    {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                    {% if warrant.ownership_warrant.all %}
                        <strong><u>{% for ownership in warrant.ownership_warrant.all %}
                            {{ ownership.owner.name }}{% if not forloop.last %}、{% endif %}
                        {% endfor %}</u></strong>
                        {#(11, '应收账款')#}
                    {% elif warrant.warrant_typ == 11 %}
                        <strong><u>{{ counter_receive_obj.receive_owner.name }}</u></strong>
                        {#(21, '股权')#}
                    {% elif warrant.warrant_typ == 21 %}
                        <strong><u>{{ counter_stock_obj.stock_owner.name }}</u></strong>
                        {#(31, '票据')#}
                    {% elif warrant.warrant_typ == 31 %}
                        <strong><u>{{ counter_draft_obj.draft_owner.name }}</u></strong>
                        {#(41, '车辆')#}
                    {% elif warrant.warrant_typ == 41 %}
                        <strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong>
                        {#(51, '动产')#}
                    {% elif warrant.warrant_typ == 51 %}
                        <strong><u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong>
                    {% elif warrant.warrant_typ == 55 %}
                        <strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong>
                    {% else %}
                        <strong><u>？？？？？？？？？？？？</u></strong>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>

        {% if counter_obj.counter_typ in D_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:135pt" align="center" valign="top">抵押权人（公章）：</td>
        {% elif counter_typ in Z_COUNTER_TYP_LIST %}
            <td style="border: 0pt; width:115pt" align="center" valign="top">质权人（公章）：</td>
        {% endif %}
        <td style="border: 0pt" valign="top">{{ UN }}</td>
    </tr>
</table>
