<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>坐落</th>
            <th>类型</th>
            <th>建筑面积</th>
            <th>产权人</th>

        </tr>
        </thead>
        <tbody>
        {% for ground in p_list %}
            <tr>
                <td>
                    <a href="{% url 'dbms:warrant_scan' warrant_id=ground.warrant.id %}">
                        {{ forloop.counter }}
                    </a>
                </td>

                <td>{{ ground.ground_locate }}</td>
                <td>{{ ground.get_ground_app_display }}</td>
                <td>{{ ground.ground_area }}</td>
                <td>
                    {% for ownership in ground.warrant.ownership_warrant.all %}
                        {{ ownership.owner.short_name }}（{{ ownership.ownership_num }}）}
                        {% if not forloop.last %}、{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'dbms/board/page.html' %}


</div>
