<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号({{ provide_acount }})</th>
            <th>客户名称</th>
            <th>放款银行</th>
            <th>放款金额</th>
            <th>放款种类</th>
            <th>放款日期</th>
            <th>到期日</th>
            {% if PAGE_TITLE == '归档管理' %}
                <th>档案编号</th>
            {% else %}
                <th>还款金额</th>
                <th>在保余额</th>
            {% endif %}
            <th>归档状态</th>
            <th>在保状态</th>
        </tr>
        </thead>
        <tbody>
        {% for provide in p_list %}
            <tr>
                {% if PAGE_TITLE == '归档管理' or PAGE_TITLE == '逾期归档' %}
                    <td><a href="{% url 'dbms:pigeonhole_scan' provide_id=provide.id %}">
                        {{ provide.notify.agree.agree_num }} </a></td>
                {% else %}
                    <td><a href="{% url 'dbms:provide_scan' provide_id=provide.id %}">
                        {{ provide.notify.agree.agree_num }} </a></td>
                {% endif %}
                {#                <td>{{ provide.notify.agree.lending.summary.custom.short_name }}</td>#}
                <td>{{ provide.notify.agree.lending.summary.custom.short_name }}</td>
                <td>{{ provide.notify.agree.branch.short_name }}</td>
                <td align="right">{{ provide.provide_money }}</td>
                <td>{{ provide.get_provide_typ_display }}</td>
                <td>{{ provide.provide_date }}</td>
                <td>{{ provide.due_date }}</td>
                {% if PAGE_TITLE == '归档管理' %}
                    <td>{{ provide.file_num|default_if_none:"" }}</td>
                {% else %}
                    <td align="right">{{ provide.provide_repayment_sum }}</td>
                    <td align="right">{{ provide.provide_balance }}</td>
                {% endif %}
                <td>{{ provide.get_implement_display }}</td>
                <td>{{ provide.get_provide_status_display }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}
</div>
