<p>甲乙丙三方就本合同中涉及各类通知、协议等文件及就合同发生纠纷时相关文件和法律文书送达时的送达地址及法律后果作如下约定：</p>
<p>（一） 甲乙丙三方确认的有效送达地址如下：</p>
<p>如至甲方：</p>
<p>地址：武科西五路360号西部智谷B区2栋4单元4楼（武侯政务服务中心背后）</p>
<p>电话：028-85566171</p>
<p>传真：028-85566171</p>
<p>邮政编码：610041</p>
<p>收件人：成都武侯中小企业融资担保有限责任公司</p>
<p>如至乙方：</p>
<!--COUNTER_TYP_LIST = (
    (1, '企业担保'), (2, '个人保证'),
    (11, '房产抵押'), (12, '土地抵押'), (13, '动产抵押'), (15, '车辆抵押'),
    (31, '应收质押'), (32, '股权质押'), (33, '票据质押'),
    (51, '股权预售'), (52, '房产预售'), (53, '土地预售'))-->
{% if counter_typ == 1 %}
    {% for custom in counter_obj.assure_counter.custome.all %}
        <div>
            <p>地址：<strong><u>{{ custom.contact_addr }}</u></strong></p>
            <p>电话：<strong><u>{{ custom.contact_num }}</u></strong></p>
            <p>收件人：<strong><u>{{ custom.linkman }}</u></strong></p>
        </div>
    {% endfor %}
{% elif counter_typ == 2 %}
    {% for custom in counter_obj.assure_counter.custome.all %}
    <div>
        <p>地址：<strong><u>{{ custom.contact_addr }}</u></strong></p>
        <p>电话：<strong><u>{{ custom.contact_num }}</u></strong></p>
        <p>收件人：<strong><u>{{ custom.linkman }}</u></strong></p>
        {% if custom.person_custome.spouses %}
            <p>地址：<strong><u>{{ custom.person_custome.spouses.contact_addr }}</u></strong></p>
            <p>电话：<strong><u>{{ custom.person_custome.spouses.contact_num }}</u></strong></p>
            <p>收件人：<strong><u>{{ custom.person_custome.spouses.linkman }}</u></strong></p>
        {% endif %}
    </div>
    {% endfor %}
    {#MORTGAGE_COUNTER_TYP_LIST = [11, 12, 13, 14, 15, ]#}
{% else %}
    <!--WARRANT_TYP_LIST = [
        (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
        (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        <div>
            {% if forloop.first %}
                {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                {% if warrant.ownership_warrant.all %}
                    {% for ownership in warrant.ownership_warrant.all %}
                        <p>地址：<strong><u>{{ ownership.owner.contact_addr }}</u></strong></p>
                        <p>电话：<strong><u>{{ ownership.owner.contact_num }}</u></strong></p>
                        <p>收件人：<strong><u>{{ ownership.owner.linkman }}</u></strong></p>
                    {% endfor %}
                    {#(11, '应收账款')#}
                {% elif warrant.warrant_typ == 11 %}
                    <p>地址：<strong><u>{{ warrant.receive_warrant.receive_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.receive_warrant.receive_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.receive_warrant.receive_owner.linkman }}</u></strong></p>
                    {#(21, '股权')#}
                {% elif warrant.warrant_typ == 21 %}
                    <p>地址：<strong><u>{{ warrant.stock_warrant.stock_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.stock_warrant.stock_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.stock_warrant.stock_owner.linkman }}</u></strong></p>
                    {#(31, '票据')#}
                {% elif warrant.warrant_typ == 31 %}
                    <p>地址：<strong><u>{{ warrant.draft_warrant.draft_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.draft_warrant.draft_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.draft_warrant.draft_owner.linkman }}</u></strong></p>
                    {#(41, '车辆')#}
                {% elif warrant.warrant_typ == 41 %}
                    <p>地址：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.linkman }}</u></strong></p>
                    {#(51, '动产')#}
                {% elif warrant.warrant_typ == 51 %}
                    <p>地址：<strong><u>{{ warrant.chattel_warrant.chattel_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.chattel_warrant.chattel_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.chattel_warrant.chattel_owner.linkman }}</u></strong></p>
                    {#(55, '其他')#}
                {% elif warrant.warrant_typ == 55 %}
                    <p>地址：<strong><u>{{ warrant.other_warrant.other_owner.contact_addr }}</u></strong></p>
                    <p>电话：<strong><u>{{ warrant.other_warrant.other_owner.contact_num }}</u></strong></p>
                    <p>收件人：<strong><u>{{ warrant.other_warrant.other_owner.linkman }}</u></strong></p>
                {% else %}
                    <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                    <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                    <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
<p>如至丙方</p>
<div>
    <p>地址：<strong><u>{{ agree_obj.lending.summary.custom.contact_addr }}</u></strong></p>
    <p>电话：<strong><u>{{ agree_obj.lending.summary.custom.contact_num }}</u></strong></p>
    <p>收件人：<strong><u>{{ agree_obj.lending.summary.custom.linkman }}</u></strong></p>
</div>
<p>（二）甲乙丙三方确认上述送达地址适用范围包括非诉时各类通知、协议等文件以及就合同发生纠纷时相关文件和法律文书的送达，同时包括在争议进入仲裁、民事诉讼程序后的一审、二审、再审和执行程序。</p>
<p>（三）三方的送达地址需要变更时应向对方履行书面的通知义务；仲裁及民事诉讼阶段当事人地址变更时应当向仲裁机构、人民法院履行送达地址变更通知义务。未履行以上通知义务的，三方确认的送达地址仍视为有效送达地址。</p>
<p>任何一方未按前述方式履行通知义务，三方所确认的送达地址仍视为有效送达地址。</p>
<p>（四）三方按如下规定确定的通知送达日期将被视为正式的通知送达日期：</p>
<p>1、直接送达：以专人直接递送的，接收人(包括本合同指定收件人、法定代表人及其指定的接收人）签收之日视为送达。</p>
<p>2、邮寄送达：</p>
<p>（1）以特快专递形式发出的，发往本市市内的，发出后第二日视为送达；发往内地其他地区的，发出后第三日视为送达；发往港、澳、台地区的，发出后第四日视为送达；发往境外其他国家或地区的，发出后第六日视为送达。</p>
<p>（2）以挂号信方式发出的，发往本市的，邮寄后第三日视为送达；发至内地其他地区的，发出后第四日视为送达；发往港、澳、台地区的，发出后第五日视为送达；发往境外其他国家或地区的，发出后第七日视为送达。</p>
<p>（五）因以下情形导致法律文书未能被当事人接受的，依然产生送达的法律后果：</p>
<p>1、因当事人提供或者确认的送达地址不准确的；</p>
<p>2、送达地址变更后未及时书面告知对方、仲裁机构和人民法院的；</p>
<p>3、当事人或有权签收人拒绝签收的。</p>
<p>发生上述情形时，适用本条第（四）款。</p>
<p>（六）履行送达地址变更通知义务的，以变更后的送达地址为有效送达地址。对于上述当事人在合同中明确约定的送达地址，法院进行送达时可直接邮寄送达，即使当事人未能收到法院邮寄送达的文书，由于其在合同中的约定，也应当视为送达。</p>
<p>（七）纠纷进入仲裁、民事诉讼程序后，如当事人应诉并直接向仲裁机构、法院提交送达地址确认书，该确认地址与本合同的送达地址不一致的，以向仲裁机构、法院提交确认的送达地址为准。送达地址确认书中载明的送达地址为律师或委托代理人地址的，本合同确认的送达地址同时有效。</p>
<p>(八)本约定作为合同中独立存在的条款，不受合同其他条款效力的影响。</p>