<p>1、本合同未尽事宜，甲、乙、丙三方可另行达成书面协议，作为本合同附件。</p>
<p>2、本合同的任何附件、修改或补充均构成本合同不可分割的一部分，与本合同具有同等的法律效力。</p>
<p>3、本合同独立于其他关联合同，其他关联合同的无效并不导致本合同无效。如本合同的某条款或某条款的部分内容被认定无效，该无效条款或该无效部分并不影响本合同及本合同其他条款或该条款其他内容的有效性。</p>
<!--COUNTER_TYP_LIST = (
        (1, '企业担保'), (2, '个人保证'),
        (11, '房产抵押'), (12, '土地抵押'), (13, '动产抵押'), (15, '车辆抵押'),
        (31, '应收质押'), (32, '股权质押'), (33, '票据质押'),
        (51, '股权预售'), (52, '房产预售'), (53, '土地预售'))-->
{% if notarization_typ %}
<p>
    {% if counter_typ in X_COUNTER_TYP_LIST %}
        4、本合同正本一式肆份，甲、乙、丙三方各执壹份，公证处执壹份。具有同等的法律效力。
    {% else %}
        4、本合同正本一式伍份，甲、乙、丙三方各执壹份，登记机关执壹份，公证处执壹份。具有同等的法律效力。
    {% endif %}
</p>
{% else %}
<p>
    {% if counter_typ in X_COUNTER_TYP_LIST %}
        4、本合同正本一式叁份，甲、乙、丙三方各执壹份。具有同等的法律效力。
    {% else %}
        4、本合同正本一式肆份，甲、乙、丙三方各执壹份，登记机关壹份。具有同等的法律效力。
    {% endif %}
</p>
{% endif %}

<p><strong>声明：甲方已采取合理方式提请乙、丙方注意本合同项下免除或限制其责任的条款，应乙方要求，甲方已经就本合同做了相应的条款说明。甲、乙、丙三方对本合同所有条款内容的理解不存在异议。</strong></p>

<table style="margin-top: 15pt">
    <tr style="height: 30pt">
        <td style="border: none" width="50%"><strong>乙方确认签章：</strong></td>
        <td style="border: none"><strong>丙方确认签章：</strong></td>
    </tr>
    <tr style="height: 30pt">
        <td style="border: none">
            {% if counter_typ in X_COUNTER_TYP_LIST %}
                {% for custom in counter_obj.assure_counter.custome.all %}
                    <strong><u>{{ custom.name }}{% if custom.person_custome.spouses %}、{{ custom.person_custome.spouses.name }}{% endif %}</u></strong>
                {% endfor %}
            {% else %}
                <!--WARRANT_TYP_LIST = [
                    (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                    (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                {% for warrant in counter_obj.warrant_counter.warrant.all %}
                    {% if forloop.first %}
                        {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
                        {% if warrant.ownership_warrant.all %}
                            {% for ownership in warrant.ownership_warrant.all %}
                                <strong><u>
                                    {{ ownership.owner.name }}
                                    {% if not forloop.last %}、{% endif %}
                                </u></strong>
                            {% endfor %}
                            {#(11, '应收账款')#}
                        {% elif warrant.warrant_typ == 11 %}
                            <strong><u>{{ warrant.receive_warrant.receive_owner.name }}</u></strong>
                            {#(21, '股权')#}
                        {% elif warrant.warrant_typ == 21 %}
                            <strong><u>{{ warrant.stock_warrant.stock_owner.name }}</u></strong>
                            {#(31, '票据')#}
                        {% elif warrant.warrant_typ == 31 %}
                            <strong><u>{{ warrant.draft_warrant.draft_owner.name }}</u></strong>
                            {#(41, '车辆')#}
                        {% elif warrant.warrant_typ == 41 %}
                            <strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong>
                            {#(51, '动产')#}
                        {% elif warrant.warrant_typ == 51 %}
                            <strong><u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong>
                            {#(55, '其他')#}
                        {% elif warrant.warrant_typ == 55 %}
                            <strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong>
                        {% else %}
                            <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td style="border: none">
            <strong><u>{{ agree_obj.lending.summary.custom.name }}</u></strong>
        </td>
    </tr>
</table>
