<!-- COUNTER_TYP_LIST = (
        (1, '企业担保'), (2, '个人保证'),
        (11, '房产抵押'), (12, '土地抵押'), (13, '动产抵押'), (14, '在建工程抵押'), (15, '车辆抵押'),
        (31, '应收质押'), (32, '股权质押'), (33, '票据质押'), (34, '动产质押'),
        (41, '其他权利质押'),
        (51, '股权预售'), (52, '房产预售'), (53, '土地预售'))-->
{% if counter_typ == 1 %}
    {% for custom in counter_obj.assure_counter.custome.all %}
        <p><strong>反担保保证人（乙方）：<u>{{ custom.name }}</u></strong></p>
        <p>住所（地址）：<u>{{ custom.company_custome.registered_addr }}</u></p>
        <p>法定代表人：<u>{{ custom.company_custome.representative }}</u></p>
    {% endfor %}
    {#MORTGAGE_COUNTER_TYP_LIST = [11, 12, 13, 14, 15, ]#}
{% else %}
    <!--WARRANT_TYP_LIST = [
        (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
        (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        {% if forloop.first %}
            {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
            {% if warrant.ownership_warrant.all %}
                {% if warrant.ownership_warrant.all.0.owner.genre == 1 %}
                    {% for ownership in warrant.ownership_warrant.all %}
                        <p><strong>抵押人（乙方）：<u>{{ ownership.owner.name }}</u></strong></p>
                        <p>住所（地址）：<u>{{ ownership.owner.company_custome.registered_addr }}</u></p>
                        <p>法定代表人：<u>{{ ownership.owner.company_custome.representative }}</u></p>
                    {% endfor %}
                {% else %}
                    <p><strong>抵押人（乙方）：<u>
                        {% for ownership in warrant.ownership_warrant.all %}
                            {{ ownership.owner.name }}{% if not forloop.last %}、{% endif %}
                        {% endfor %}
                    </u></strong></p>
                {% endif %}
                {#(11, '应收账款')#}
            {% elif warrant.warrant_typ == 11 %}
                <p><strong>出质人（乙方）：<u>{{ warrant.receive_warrant.receive_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.receive_warrant.receive_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.receive_warrant.receive_owner.company_custome.representative }}</u></p>
                {#(21, '股权')#}
            {% elif warrant.warrant_typ == 21 %}
                <p><strong>出质人（乙方）：<u>{{ warrant.stock_warrant.stock_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.stock_warrant.stock_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.stock_warrant.stock_owner.company_custome.representative }}</u></p>
                {#(31, '票据')#}
            {% elif warrant.warrant_typ == 31 %}
                <p><strong>出质人（乙方）：<u>{{ warrant.draft_warrant.draft_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.draft_warrant.draft_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.draft_warrant.draft_owner.company_custome.representative }}</u></p>
                {#(41, '车辆')#}
            {% elif warrant.warrant_typ == 41 %}
                <p><strong>抵押人（乙方）：<u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.vehicle_warrant.vehicle_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.vehicle_warrant.vehicle_owner.company_custome.representative }}</u></p>
                {#(51, '动产')#}
            {% elif warrant.warrant_typ == 51 %}
                <p><strong>抵押人（乙方）：<u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.chattel_warrant.chattel_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.chattel_warrant.chattel_owner.company_custome.representative }}</u></p>
                {#(55, '其他')#}
            {% elif warrant.warrant_typ == 55 %}
                <p><strong>出质人（乙方）：<u>{{ warrant.other_warrant.other_owner.name }}</u></strong></p>
                <p>住所（地址）：<u>{{ warrant.other_warrant.other_owner.company_custome.registered_addr }}</u></p>
                <p>法定代表人：<u>{{ warrant.other_warrant.other_owner.company_custome.representative }}</u></p>
            {% else %}
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
