<!-- COUNTER_TYP_LIST = (
        (1, '企业担保'), (2, '个人保证'),
        (11, '房产抵押'), (12, '土地抵押'), (13, '动产抵押'), (14, '在建工程抵押'), (15, '车辆抵押'),
        (31, '应收质押'), (32, '股权质押'), (33, '票据质押'), (34, '动产质押'),
        (41, '其他权利质押'),
        (51, '股权预售'), (52, '房产预售'), (53, '土地预售'))-->
{% if counter_obj.assure_counter.custome.all %}
    {% for custom in counter_obj.assure_counter.custome.all %}
        {% if custom.genre == 1 %}
            <p><strong>反担保保证人（乙方）：{{ custom.name }}</strong></p>
            <p>住所（地址）：{{ custom.company_custome.registered_addr }}</p>
            <p>法定代表人：{{ custom.company_custome.representative }}</p>
        {% elif custom.genre == 2 %}
            <p><strong>反担保保证人（乙方）：{{ custom.name }}</strong></p>
            <p>住所（地址）：{{ custom.person_custome.license_addr }}</p>
            <p>身份证号码：{{ custom.person_custome.license_num }}</p>
            {% if custom.person_custome.spouses %}
                <p><strong>反担保保证人（乙方）：{{ custom.person_custome.spouses.name }}</strong></p>
                <p>住所（地址）：{{ custom.person_custome.spouses.person_custome.license_addr }}</p>
                <p>身份证号码：{{ custom.person_custome.spouses.person_custome.license_num }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    {#MORTGAGE_COUNTER_TYP_LIST = [11, 12, 13, 14, 15, ]#}
{% else %}
    <!--WARRANT_TYP_LIST = [
        (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
        (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        {% if forloop.first %}
            {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
            {% if warrant.ownership_warrant.all %}
                {% for ownership in warrant.ownership_warrant.all %}
                    {% if ownership.owner.genre == 1 %}
                        <p><strong>抵押人（乙方）：{{ ownership.owner.name }}</strong></p>
                        <p>住所（地址）：{{ ownership.owner.company_custome.registered_addr }}</p>
                        <p>法定代表人：{{ ownership.owner.company_custome.representative }}</p>
                    {% elif ownership.owner.genre == 2 %}
                        <p><strong>抵押人（乙方）：{{ ownership.owner.name }}</strong></p>
                        <p>住所（地址）：{{ ownership.owner.person_custome.license_addr }}</p>
                        <p>身份证号码：{{ ownership.owner.person_custome.license_num }}</p>
                    {% endif %}
                {% endfor %}
                {#(11, '应收账款')#}
            {% elif warrant.warrant_typ == 11 %}
                {% if warrant.receive_warrant.receive_owner.genre == 1 %}
                    <p><strong>出质人（乙方）：{{ warrant.receive_warrant.receive_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.receive_warrant.receive_owner.company_custome.registered_addr }}</p>
                    <p>法定代表人：{{ warrant.receive_warrant.receive_owner.company_custome.representative }}</p>
                {% elif warrant.receive_warrant.receive_owner.genre == 2 %}
                    <p><strong>出质人（乙方）：{{ warrant.receive_warrant.receive_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.receive_warrant.receive_owner.person_custome.license_addr }}</p>
                    <p>身份证号码：{{ warrant.receive_warrant.receive_owner.person_custome.license_num }}</p>
                {% endif %}
                {#(21, '股权')#}
            {% elif warrant.warrant_typ == 21 %}
                {% if warrant.stock_warrant.stock_owner.genre == 1 %}
                    <p><strong>出质人（乙方）：{{ warrant.stock_warrant.stock_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.stock_warrant.stock_owner.company_custome.registered_addr }}</p>
                    <p>法定代表人：{{ warrant.stock_warrant.stock_owner.company_custome.representative }}</p>
                {% elif warrant.stock_warrant.stock_owner.genre == 2 %}
                    <p><strong>出质人（乙方）：{{ warrant.stock_warrant.stock_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.stock_warrant.stock_owner.person_custome.license_addr }}</p>
                    <p>身份证号码：{{ warrant.stock_warrant.stock_owner.person_custome.license_num }}</p>
                {% endif %}
                {#(31, '票据')#}
            {% elif warrant.warrant_typ == 31 %}
                <p><strong>出质人（乙方）：{{ warrant.draft_warrant.draft_owner.name }}</strong></p>
                <p>住所（地址）：{{ warrant.draft_warrant.draft_owner.company_custome.registered_addr }}</p>
                <p>法定代表人：{{ warrant.draft_warrant.draft_owner.company_custome.representative }}</p>
                {#(41, '车辆')#}
            {% elif warrant.warrant_typ == 41 %}
                {% if warrant.vehicle_warrant.vehicle_owner.genre == 1 %}
                    <p><strong>抵押人（乙方）：{{ warrant.vehicle_warrant.vehicle_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.vehicle_warrant.vehicle_owner.company_custome.registered_addr }}</p>
                    <p>法定代表人：{{ warrant.vehicle_warrant.vehicle_owner.company_custome.representative }}</p>
                {% elif warrant.vehicle_warrant.vehicle_owner.genre == 2 %}
                    <p><strong>出质人（乙方）：{{ warrant.vehicle_warrant.vehicle_owner.name }}</strong></p>
                    <p>住所（地址）：{{ warrant.vehicle_warrant.vehicle_owner.person_custome.license_addr }}</p>
                    <p>身份证号码：{{ warrant.vehicle_warrant.vehicle_owner.person_custome.license_num }}</p>
                {% endif %}
                {#(51, '动产')#}
            {% elif warrant.warrant_typ == 51 %}
                <p><strong>抵押人（乙方）：{{ warrant.chattel_warrant.chattel_owner.name }}</strong></p>
                <p>住所（地址）：{{ warrant.chattel_warrant.chattel_owner.company_custome.registered_addr }}</p>
                <p>法定代表人：{{ warrant.chattel_warrant.chattel_owner.company_custome.representative }}</p>
                {#(55, '其他')#}
            {% elif warrant.warrant_typ == 55 %}
                <p><strong>出质人（乙方）：{{ warrant.other_warrant.other_owner.name }}</strong></p>
                <p>住所（地址）：{{ warrant.other_warrant.other_owner.company_custome.registered_addr }}</p>
                <p>法定代表人：{{ warrant.other_warrant.other_owner.company_custome.representative }}</p>
            {% else %}
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
