{#保证类合同#}
{% if counter_obj.assure_counter.custome.all %}
    {% for custom in counter_obj.assure_counter.custome.all %}
        {% if custom.genre == 1 %}
            <p>乙方（公章或合同专用章）：<strong><u>{{ custom.name }}</u></strong></p>
            <p>法定代表人（或授权代理人）：<strong><u>{{ custom.company_custome.representative }}</u></strong></p>
            <p>（签字或盖章）</p>
            {% include 'dbms/agree/agree_board/sign-date.html' %}
        {% elif custom.genre == 2 %}
            <p>乙方：<strong><u>{{ custom.name }}</u></strong></p>
            <p>（本人或授权代理人签字）</p>
            {% include 'dbms/agree/agree_board/sign-date.html' %}
            {% if custom.person_custome.spouses %}
                <p>乙方：<strong><u>{{ custom.person_custome.spouses.name }}</u></strong></p>
                <p>（本人或授权代理人签字）</p>
                {% include 'dbms/agree/agree_board/sign-date.html' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {#抵质押类合同#}
{% else %}
    <!--WARRANT_TYP_LIST = [
                   (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
                   (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
    {% for warrant in counter_obj.warrant_counter.warrant.all %}
        {% if forloop.first %}
            {#(1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程')#}
            {% if warrant.ownership_warrant.all %}
                {% for ownership in warrant.ownership_warrant.all %}
                    {% if ownership.owner.genre == 1 %}
                        <p>乙方（公章或合同专用章）：<strong><u>{{ ownership.owner.name }}</u></strong></p>
                        <p>法定代表人（或授权代理人）：<strong><u>{{ ownership.owner.company_custome.representative }}</u></strong></p>
                        <p>（签字或盖章）</p>
                    {% elif ownership.owner.genre == 2 %}
                        <p>乙方：<strong><u>{{ ownership.owner.name }}</u></strong></p>
                        <p>（本人或授权代理人签字）</p>
                    {% endif %}
                    {% include 'dbms/agree/agree_board/sign-date.html' %}
                {% endfor %}
                {#(11, '应收账款')#}
            {% elif warrant.warrant_typ == 11 %}
                {% if warrant.receive_warrant.receive_owner.genre == 1 %}
                    <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.receive_warrant.receive_owner.name }}</u></strong></p>
                    <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.receive_warrant.receive_owner.company_custome.representative }}</u></strong></p>
                    <p>（签字或盖章）</p>
                {% elif warrant.receive_warrant.receive_owner.genre == 2 %}
                    <p>乙方：<strong><u>{{ warrant.receive_warrant.receive_owner.name }}</u></strong></p>
                    <p>（本人或授权代理人签字）</p>
                {% endif %}
                {% include 'dbms/agree/agree_board/sign-date.html' %}
                {#(21, '股权')#}
            {% elif warrant.warrant_typ == 21 %}
                {% if warrant.stock_warrant.stock_owner.genre == 1 %}
                    <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.stock_warrant.stock_owner.name }}</u></strong></p>
                    <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.stock_warrant.stock_owner.company_custome.representative }}</u></strong></p>
                    <p>（签字或盖章）</p>
                {% elif warrant.stock_warrant.stock_owner.genre == 2 %}
                    <p>乙方：<strong><u>{{ warrant.stock_warrant.stock_owner.name }}</u></strong></p>
                    <p>（本人或授权代理人签字）</p>
                {% endif %}
                {% include 'dbms/agree/agree_board/sign-date.html' %}
                {#(31, '票据')#}
            {% elif warrant.warrant_typ == 31 %}
                <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.draft_warrant.draft_owner.name }}</u></strong></p>
                <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.draft_warrant.draft_owner.company_custome.representative }}</u></strong></p>
                <p>（签字或盖章）</p>
                {% include 'dbms/agree/agree_board/sign-date.html' %}
                {#(41, '车辆')#}
            {% elif warrant.warrant_typ == 41 %}
                {% if warrant.vehicle_warrant.vehicle_owner.genre == 1 %}
                    <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong></p>
                    <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.company_custome.representative }}</u></strong></p>
                    <p>（签字或盖章）</p>
                {% elif warrant.vehicle_warrant.vehicle_owner.genre == 2 %}
                    <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.vehicle_warrant.vehicle_owner.name }}</u></strong></p>
                    <p>（本人或授权代理人签字）</p>
                {% endif %}
                {% include 'dbms/agree/agree_board/sign-date.html' %}
                {#(51, '动产')#}
            {% elif warrant.warrant_typ == 51 %}
                <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.chattel_warrant.chattel_owner.name }}</u></strong></p>
                <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.chattel_warrant.chattel_owner.company_custome.representative }}
                </u></strong></p>
                <p>（签字或盖章）</p>
                {% include 'dbms/agree/agree_board/sign-date.html' %}
                {#(55, '其他')#}
            {% elif warrant.warrant_typ == 55 %}
                {% if warrant.other_warrant.other_owner.genre == 1 %}
                    <p>乙方（公章或合同专用章）：<strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong></p>
                    <p>法定代表人（或授权代理人）：<strong><u>{{ warrant.other_warrant.other_owner.company_custome.representative }}</u></strong></p>
                    <p>（签字或盖章）</p>
                {% elif warrant.other_warrant.other_owner.genre == 2 %}
                    <p>乙方：<strong><u>{{ warrant.other_warrant.other_owner.name }}</u></strong></p>
                    <p>（本人或授权代理人签字）</p>
                {% endif %}
                {% include 'dbms/agree/agree_board/sign-date.html' %}
            {% else %}
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
                <p><strong>？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？</strong></p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
