{% extends 'dbms/board/tabulation.html' %}

{% block title %}企业客户管理{% endblock %}
{% block add %}
    <a class="btn btn-primary" href="{% url 'dbms:custome_add' %}">添加</a>
{% endblock %}
{% block table %}
    <caption><h3>企业客户管理</h3></caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>客户名称</th>
        <th>联系地址</th>
        <th>联系人</th>
        <th>联系电话</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    {% for custome in custome_list %}
        <tr>
            <td>{{ custome.id }}</td>
            <td>{{ custome.name }}</td>
            <td>{{ custome.contact_addr }}</td>
            <td>{{ custome.linkman }}</td>
            <td>{{ custome.contact_num }}</td>
            <td><a href="{% url 'dbms:custome_edit' custome.id %}">编辑</a>|
                <a href="{% url 'dbms:custome_del' custome.id %}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}