<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>industries</title>
</head>
<body>
<a href="{% url 'dbms:industry_add' %}">添加</a>
<table>
    <caption>Customes Manage</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>行业代码</th>
            <th>行业名称</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
    {% for industry in industry_list %}
        <tr>
            <td>{{industry.id}}</td>
            <td>{{industry.code}}</td>
            <td>{{industry.name}}</td>
{#            <td><a href="/dbms/industry/edit/?nid={{ industry.id }}/">编辑</a>|<a>删除</a></td>#}
            <td><a href="{% url 'dbms:industry_edit' industry.id %}">编辑</a>|<a>删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>