<p>甲方同意为乙方向贷款人<strong><u>{{ agree_obj.branch.name }}</u></strong>申请的自{% include 'dbms/agree/agree_board/date-period.html' %}至{% include 'dbms/agree/agree_board/date-period.html' %}期间，额度为<strong><u>人民币{{ agree_amount_cn }}</u></strong>的流动资金贷款提供担保。</p>
<p>保证范围：与甲方和贷款人签订的{% include 'dbms/agree/agree_board/ul.html' %}（以下称“保证合同”，合同编号：{% include 'dbms/agree/agree_board/ul.html' %}）一致。</p>
<p>利率：与乙方和贷款人签订的{% include 'dbms/agree/agree_board/ul.html' %}（以下称“主合同”，合同编号：{% include 'dbms/agree/agree_board/ul.html' %}）一致。</p>
<p>保证期限：与甲方和贷款人签订的{% include 'dbms/agree/agree_board/ul.html' %}（合同编号：{% include 'dbms/agree/agree_board/ul.html' %}）中约定的保证期间一致。</p>
<p>超出甲方以上保证金额和保证期限的任何款项，甲方不承担担保责任。</p>