{% extends 'dbms/index_dbms.html' %}
{% load static %}
{% block title %}添加项目{% endblock %}

{% block right-content-container %}
    <div class="container" style="padding-right: 15px">
        <h2>添加项目</h2>
        <form class="form-horizontal"
              action="{% url 'dbms:article_add' %}"
              method="post"> {% csrf_token %}
            {#"form-inline":内联表单#}
            {#"form-horizontal":水平排列的表单#}
            {% include 'dbms/article/article/from_add_edit.html' %}

        </form>
    </div>
{% endblock %}