<div class="panel panel-default">
    <div class="panel-heading">
        <label>项目情况</label>
        <label class="navbar-right">
            {% if not lending_obj %}
                <a class="btn btn-primary btn-sm " id="summaryScan" target="_blank"
                   href="{% url 'dbms:appraisal_summary_scan' article_id=article_obj.id %}">意见书</a><!--#path(' '-->
                <a class="btn btn-primary btn-sm " id="signScan" target="_blank"
                   href="{% url 'dbms:appraisal_sign_scan' article_id=article_obj.id %}">签批单</a><!--#path(' '-->
                <a class="btn btn-primary btn-sm " id="addSupplyB">补调问题</a>
                <a class="btn btn-primary btn-sm " id="singleQuota">单项额度</a><!--#path('appraisal/single/add/'-->
                <a class="btn btn-primary btn-sm " id="lendingOrder">放款次序</a><!--#path('appraisal/lending/add/'-->
                <a class="btn btn-primary btn-sm " id="articleSignB">项目签批</a><!--#path('appraisal/sign/'-->
                <a class="btn btn-primary btn-sm " id="articleChangeB">项目变更</a><!--#path('appraisal/sign/'-->
                <a class="btn btn-primary btn-sm " id="investigateB">补充调查</a><!--#path('custom/del/'-->
            {% else %}
                <a class="btn btn-primary btn-sm " id="guaranteeB">反担保</a><!--#path('appraisal/guarantee/add/'-->
                <a class="btn btn-primary btn-sm " id="changeLendingOrderB">变更</a>
                <!--#path('appraisal/guarantee/add/'-->
            {% endif %}

        </label>
    </div>

    <div class="panel-body row" style="padding: 1px;">
        {% include 'dbms/article/scan/article-summry-body.html' %}
    </div>
</div>
