<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>计划日期</th>
            <th>保后状态</th>
            <th>保后方式</th>
            <th>风险分析</th>
            <th>风控建议</th>
            <th>保后日期</th>
            <th>风险分类</th>
            {% if PAGE_TITLE == '保后管理' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="review-tb">
        {% for review in review_custom_list %}
            <tr review-nid="{{ review.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ review.review_plan_date }}</td>
                <td>{{ review.get_review_state_display }}</td>
                <td>{{ review.get_review_sty_display }}</td>
                <td>{{ review.analysis }}</td>
                <td>{{ review.suggestion }}</td>
                <td>{{ review.review_date }}</td>
                <td>{{ review.get_classification_display }}</td>
                {% if PAGE_TITLE == '保后管理' %}
                    <td><a class="btn btn-primary btn-xs reviewB">保后</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
