<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>客户名称</th>
            <th>客户类型</th>
            <th>管户经理</th>
            <th>联系地址</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>行业</th>
            <th>行业代码</th>
            <th>区域</th>
        </tr>
        </thead>
        <tbody>
        {% for custom in p_list %}
            <tr>
                <td><a href="{% url 'dbms:custom_scan' custom_id=custom.id %}">{{ custom.name }}</a></td>
                <td>{{ custom.get_genre_display }}</td>
                <td>{{ custom.managementor }}</td>
                <td>{{ custom.contact_addr }}</td>
                <td>{{ custom.linkman }}</td>
                <td>{{ custom.contact_num }}</td>
                <td>{{ custom.idustry.name }}</td>
                <td>{{ custom.idustry.code }}</td>
                <td>{{ custom.district.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dbms/board/page.html' %}
</div>
