<div>
    <label>
        {% if kwargs.review_model == None %}
            <a class="active btn btn-primary btn-sm"
               href="{% url 'dbms:meeting_all' %}">全部</a>
        {% else %}
            <a class="btn btn-primary btn-sm"
               href="{% url 'dbms:meeting_all' %}">全部</a>
        {% endif %}

        {# 方式二：#}
        {% for item in review_model_list %}
            {% if item.0 == kwargs.review_model %}
                <a class="active btn btn-primary btn-sm"
                   href="{% url 'dbms:meeting' review_model=item.0 %}">
                    {{ item.1 }}
                </a>
            {% else %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'dbms:meeting' review_model=item.0 %}">
                    {{ item.1 }}
                </a>
            {% endif %}
        {% endfor %}
    </label>

    <label>
        <form class="navbar-form" style="display: inline">
            <input type="search" name="_s" class="form-control" placeholder="审报会编号,项目编号，客户名称">
            <button type="submit" class="btn btn-primary btn-sm">搜索</button>
        </form>
    </label>

    <label class="pull-right">
        <a class="btn btn-primary btn-sm" id="addMeeting">
            添加评审会
        </a>
    </label>

</div>


