{% extends 'base.html' %}
{% block title %}武侯担保{% endblock %}

{% block body %}
    <div class="container">
        <div>Hello {{ request.user.name }},
            欢迎使用武侯中小担业务系统，请选择……
        </div>
        <a class="btn btn-primary"
           href="{% url 'dbms:index' usernum=request.user.num %}"
           role="button">
            担保业务管理系统
        </a>
    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs"
            role="tablist">
            <li role="presentation"
                class="active">
                <a href="#home"
                   aria-controls="home"
                   role="tab"
                   data-toggle="tab">
                    项目列表
                </a>
            </li>
            <li role="presentation">
                <a href="#profile"
                   aria-controls="profile"
                   role="tab"
                   data-toggle="tab">
                    Profile
                </a>
            </li>
            <li role="presentation">
                <a href="#messages"
                   aria-controls="messages"
                   role="tab"
                   data-toggle="tab">
                    Messages
                </a>
            </li>
            <li role="presentation">
                <a href="#settings"
                   aria-controls="settings"
                   role="tab"
                   data-toggle="tab">
                    Settings
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel"
                 class="tab-pane active"
                 id="home">
                <div class="table-responsive">
                    {#"table-responsive":表格响应式布局#}
                    <table class="table table-bordered
                    table-hover table-condensed active">
                        {#"table-bordered":表格表格边框#}
                        {#"table-hover":表格悬停变色#}
                        {#"table-condensed":表格紧缩#}
                        {#<caption><h4>项目管理</h4></caption>#}
                        <thead>
                        <tr style="text-align: center">
                            <th>序号</th>
                            <th>项目编号</th>
                            <th>客户</th>
                            <th>金额</th>
                            <th>期限</th>
                            <th>项目经理</th>
                            <th>项目助理</th>
                            <th>风控专员</th>
                            <th>提交日期</th>
                            <th>项目状态</th>
                            <th>编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in article_list %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.article_num }}</td>
                                <td>{{ article.custom }}</td>
                                <td>{{ article.amount }}</td>
                                <td>{{ article.credit_term }}</td>
                                <td>{{ article.director.name }}</td>
                                <td>{{ article.assistant.name }}</td>
                                <td>{{ article.control.name }}</td>
                                <td>{{ article.article_date }}</td>
                                {#方式一：推荐#}
                                <td>{{ article.get_article_state_display }}</td>
                                <td>
                                    <a href="{% url 'dbms:article_edit' usernum=request.user.num id=article.id %}">
                                        编辑
                                    </a>|
                                    <a href="{% url 'dbms:article_del' usernum=request.user.num id=article.id %}">
                                        删除
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel"
                 class="tab-pane"
                 id="profile">
                这是二个页面？
            </div>
            <div role="tabpanel"
                 class="tab-pane"
                 id="messages">
                这是三个页面？
            </div>
            <div role="tabpanel"
                 class="tab-pane"
                 id="settings">
                这是四个页面？
            </div>
        </div>
    </div>
{% endblock %}