{% extends 'base.html' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top"><!--导航-->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dbms:index' %}">
                    {% block pro_name %}成都武侯中小企业融资担保有限责任公司{% endblock %}
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button">
                            {{ request.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/">个人信息</a></li>
                            <li><a href="{% url 'logout' %}">退出系统</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar"><!--菜单-->
                <ul class="nav nav-sidebar">
                    {% for menu in menu_result %}
                        <li class="carte-parrent"><a style="padding-bottom: 5px;padding-top: 5px;">
                            {{ menu.caption }}</a>
                            {% if menu.open == True %}
                                <ul class="carte-child">
                                    {% for child in menu.child %}
                                        {% if child.open == True %}
                                            <li style="list-style-type:disc"><a href="{{ child.url }}">
                                                {{ child.caption }}</a>
                                            </li>
                                        {% else %}
                                            <li style="list-style-type:circle"><a href="{{ child.url }}">
                                                {{ child.caption }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <ul class="carte-child" style="display: none">
                                    {% for child in menu.child %}
                                        <li style="list-style-type:circle"><a href="{{ child.url }}">
                                            {{ child.caption }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
                 style="padding-left: 1px;padding-right: 1px;"> <!--主体-->
                {% block right-content-container %}
                    <h2 class="page-header"><a href="{% url 'dbms:index' %}">测试页，点击进入正式系统</a></h2>
                    <ul>
                        {% for menu in menu_result %}
                            <li>
                                id:{{ menu.id }}->caption:{{ menu.caption }}->parent_id:{{ menu.parent_id }}->ordery：{{ menu.ordery }}
                                <ul>
                                    {% for ccc in menu.child %}
                                        <li>
                                            id:{{ ccc.id }}->caption:{{ ccc.caption }}->parent_id:{{ ccc.parent_id }}->url：{{ ccc.url }}->ordery：
                                            {{ ccc.ordery }}->open：{{ ccc.open }}->child：{{ ccc.child }}
                                        </li>
                                    {% endfor %}

                                </ul>
                            </li>
                        {% endfor %}
                    </ul>

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


