{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <h3 class="form-signin-heading">业务管理系统</h3>
        <form class="form-signin" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" id="inputEmail" name="username" class="form-control" placeholder="用户名" required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码"
                       required>
            </div>
            <span style="color: red">{{ error_msg }}</span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                登录
            </button>
        </form>
        <h1 style="color: #1c5a9c">成都武侯中小企业融资担保有限责任公司</h1>
{#        <h1 style="color: #1c5a9c">成都武侯武兴小额贷款有限责任公司</h1>#}
    </div> <!-- /container -->
{% endblock %}