<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title> 页面名称 </title>
    <style type="text/css">
        header, footer {
            display: none;
        }

        @media print {
            header {
                display: block;
            }

            footer {
                display: block;
            }
        }
    </style>
</head>
<body>

<header>页眉</header>


<table>
    {% for custom_p in custom_p_list %}
        <tr>
            <td>{{ custom_p }}</td>
            <td>{{ custom_p.get_marital_status_display }}</td>
        </tr>
    {% endfor %}


</table>
<p>内容</p>

<footer>页脚</footer>

</body>
</html>