<div class="tab-content">
    <div role="tabpanel"
         class="tab-pane"
         id="storages"> <!--出入库-->
        {% include 'dbms/warrant/house/scan/tab/content/storages.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane"
         id="valuate"> <!--评估情况-->
        {% include 'dbms/warrant/house/scan/tab/content/valuate.html' %}
    </div>

    <div role="tabpanel"
         class="tab-pane active"
         id="mortgage"> <!--抵押情况-->
        {% include 'dbms/warrant/house/scan/tab/content/storages.html' %}
    </div>

</div>
