<p>本页为签字页（无正文）。</p>
<div class="sign-page">
    <div class="sign-page-y">
        <p>借款人(公章或合同专用章）：<strong><u>{{ agree_obj.lending.summary.custom.name }}</u></strong></p>
        <p>
            法定代表人或负责人或授权代表：<strong><u>{{ agree_obj.lending.summary.custom.company_custome.representative }}</u></strong>
        </p>
        <p>（签字或盖章）</p>
        {% include 'dbms/agree/agree_board/sign-date.html' %}
    </div>
    <div class="sign-page-j">
        <p>贷款人（公章或合同专用章）：{{ UN }}</p>
        <p>法定代表人或负责人或授权代表：黄一平</p>
        <p>（签字或盖章）</p>
        {% include 'dbms/agree/agree_board/sign-date.html' %}
    </div>
</div>