<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>他权编号</th>
            <th>入库情况</th>
            {% if PAGE_TITAL == '权证管理' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="agree-warrant-tb">
        {% for ypothec in agree_obj.ypothec_agree.all %}
            <tr warrant-nid={{ ypothec.warrant.id }}>
                <td>{{ forloop.counter }}</td>
                <td><a target="_blank" href="{% url 'dbms:warrant_scan' warrant_id=ypothec.warrant.id %}">
                    {{ ypothec.warrant.warrant_num }}</a></td>
                <td>{{ ypothec.warrant.get_warrant_state_display }}</td>
                {% if PAGE_TITAL == '权证管理' %}
                    <td><a class="btn btn-danger btn-xs addStoragesAgreeB">出入库</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
