<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">

        <thead>
        <tr style="text-align: center">
            <th>序号</th>
            <th>担保方式</th>
            <th>所有人</th>
            <th>详情</th>
            <th>他权情况</th>
            <th>入库情况</th>

        </tr>
        </thead>
        <tbody class="agree-warrant-tb">
        {% for lending_sure in lending_obj.sure_lending.all %}
            {% if lending_sure.sure_typ in RECEIVABLE_LIST %}
                {% for warrant in lending_sure.warrant_sure.warrant.all %}
                    <tr warrant-nid={{ warrant.id }}>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lending_sure.get_sure_typ_display }}</td>
                        <td>{{ warrant.receive_warrant.receive_owner }}</td>
                        <td>{{ warrant.receive_warrant.receivable_detail }}</td>
                         <td>
                            {% for ypothec in warrant.ypothec_m_agree.all %}
                                {% if ypothec.agree.id == agree_obj.id %}
                                    {{ ypothec.warrant }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ warrant.get_warrant_state_display }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
