<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号</th>
            <th>放款银行</th>
            <th>合同类型</th>
            <th>合同金额</th>
            <th>通知金额</th>
            <th>放款金额</th>
            <th>还款金额</th>
            <th>合同状态</th>
            {% if lending_operate %}
                <th>操作</th>
            {% endif %}

        </tr>
        </thead>
        <tbody class="guarantee-tb">
        {% for agree in lending_obj.agree_lending.all %}
            <tr>
                <td><a target="_blank" href="{% url 'dbms:agree_scan' agree_id=agree.id %}">
                    {{ agree.agree_num }}</a>
                </td>
                <td>{{ agree.branch }}</td>
                <td>{{ agree.get_agree_typ_display }}</td>
                <td>{{ agree.agree_amount }}</td>
                <td>{{ agree.agree_notify_sum }}</td>
                <td>{{ agree.agree_provide_sum }}</td>
                <td>{{ agree.agree_repayment_sum }}</td>
                <td>{{ agree.get_agree_state_display }}</td>
                {% if lending_operate %}
                    <td><a class="btn btn-danger btn-xs delGuaranteeB">删除</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
