<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>项目编号</th>
            <th>客户名称</th>
            <th>申请金额</th>
            <th>项目经理</th>
            <th>项目助理</th>
            <th>风控专员</th>
            <th>评审委员</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody id="meeting-article-tb">
        {% for article in meeting_obj.article.all %}
            <tr article-nid="{{ article.id }}">
                {% if article_id %}
                    {% if article.id == article_id %}
                        <td>
                            <a href="{% url 'dbms:meeting_scan_article' meeting_id=meeting_obj.id article_id=article.id %}">
                                {{ article.article_num }}*</a></td>
                    {% else %}
                        <td>
                            <a href="{% url 'dbms:meeting_scan_article' meeting_id=meeting_obj.id article_id=article.id %}">
                                {{ article.article_num }}</a></td>
                    {% endif %}
                {% else %}
                    <td><a href="{% url 'dbms:meeting_scan_article' meeting_id=meeting_obj.id article_id=article.id %}">
                        {{ article.article_num }}</a></td>
                {% endif %}
                <td>{{ article.custom }}</td>
                <td>{{ article.amount }}</td>
                <td>{{ article.director.name }}</td>
                <td>{{ article.assistant.name }}</td>
                <td>{{ article.control.name }}</td>
                <td>
                    {% for expert in article.expert.all %}
                        {{ expert.name }}{% if not forloop.last %}、{% endif %}
                    {% endfor %}
                </td>
                <td><a class="btn btn-danger btn-xs delMeetingArticleB">取消</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
