<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>放款日期</th>
            <th>放款种类</th>
            <th>放款金额</th>
            <th>到期日</th>
            <th>归档状态</th>
            <th>项目状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for notify in agree_obj.notify_agree.all %}
                {% for provide in notify.provide_notify.all %}
                    <tr>
                        <td>{{ provide.provide_date }}</td>
                        <td>{{ provide.get_provide_typ_display }}</td>
                        <td>{{ provide.provide_money }}</td>
                        <td>{{ provide.due_date }}</td>
                        <td>{{ provide.get_implement_display }}</td>
                        <td>{{ provide.get_article_state_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
