{% extends 'dbms/index_dbms.html' %}

{% block title %}{{ PAGE_TITLE }}{% endblock %}

{% block right-content-container %}

    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/provide/track/track-scan-summry.html' %}
        {% include 'dbms/provide/track/track-scan-tab.html' %}

        {% include 'dbms/provide/modl/track-ex-del-mod.html' %}
        
        {% include 'dbms/provide/modl/track-change-mod.html' %}

    </div>
{% endblock %}

{% block extra-js %}
    {% include 'dbms/provide/extra/js-track-ex-del.html' %}

    {% include 'dbms/provide/extra/js-track-change.html' %}
{% endblock %}