<div>
    <label>
        {% if kwargs.agree_state == None %}
            <a class="active btn btn-primary btn-sm"
               href="{% url 'dbms:custom_all' %}">全部</a>
        {% else %}
            <a class="btn btn btn-primary btn-sm"
               href="{% url 'dbms:custom_all' %}">全部</a>
        {% endif %}

        {# 方式一：#}
        {% for genr in genre_list %}
            {% if genr.0 == kwargs.genr %}
                <a class="active btn btn-primary btn-sm"
                   href="{% url 'dbms:custom' genr=genr.0 %}">
                    {{ genr.1 }}
                </a>
            {% else %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'dbms:custom' genr=genr.0 %}">
                    {{ genr.1 }}
                </a>
            {% endif %}
        {% endfor %}
    </label>

    <label>
        <form class="navbar-form" style="display: inline">
            <input type="text" class="form-control" placeholder="搜索客户名称">
            <button type="submit" class="btn btn-primary btn-sm">搜索</button>
        </form>
    </label>

    <label class="pull-right">

        <a class="btn btn-success btn-sm" id="addCustom">
            添加客户
        </a>
    </label>
</div>