<div class="split">
    {% include 'dbms/agree/agree_board/entrust/home-page.html' %}
</div>

<div class="split">
    <p>鉴于乙方向甲方申请开立保函，为明确双方权利义务，甲乙双方经协商一致，特订立本合同。</p>
    <p><strong>第一条 保函的开立</strong></p>
    <p>1.1保函的各项内容：</p>
    <p>（1）保函类型： <u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u></p>
    <p>（2）受益人名称：<u><strong>{{ agree_obj.guarantee_agree.beneficiary }}</strong></u></p>
    <p>（3）合同名称：<u><strong>{{ agree_obj.guarantee_agree.basic_contract }}{% if not agree_obj.guarantee_agree.basic_contract_num == '无'%}（编号：{{ agree_obj.guarantee_agree.basic_contract_num }}）{% endif %}</strong></u></p>
    <p>（4）担保金额（币种及大写金额）<u><strong>人民币{{ agree_amount_cn }}</strong></u></p>
    <p>（5）担保范围：见<u><strong>{{ agree_obj.guarantee_agree.guarantee_number }}</strong></u>号<u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u></p>
    <p>（6）索赔条件及文件：见<u><strong>{{ agree_obj.guarantee_agree.guarantee_number }}</strong></u>号<u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u></p>
    <p>（7）生效时间：见<u><strong>{{ agree_obj.guarantee_agree.guarantee_number }}</strong></u>号<u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u></p>
    <p>（8）失效时间：见<u><strong>{{ agree_obj.guarantee_agree.guarantee_number }}</strong></u>号<u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u></p>
    <p>1.2 在下列条件全部满足之前，甲方有权拒绝开立保函：</p>
    <p>(1)本合同项下的反担保条款和/或合同（如有）已生效；</p>
    <p>(2)乙方已按甲方的规定缴纳相应的费用和保证金；</p>
    <p>(3)开立本合同项下保函依法需经国家有关部门审批的，已取得该有权部门的批准。</p>
    <p>1.3本合同项下保函的实际格式以甲方出具的保函正本为准。</p>
    <p><strong>第二条 担保费</strong></p>
    <p>2.1收取标准：按以下第<strong><u>（1）</u></strong>项收取担保费：</p>
    <p>（1）一次性收取：按担保总额的<strong><u>{{ single_quota_rate }}%</u></strong>收取[含税]；</p>
    <p>（2）按担保时间收取：每月按担保总额的____%收取。</p>
    <p>（3）担保费收取按如下约定执行：____________________________。</p>
    <p>2.2具体数额：按以下第<u><strong>（1）</strong></u>项执行：</p>
    <p>（1）一次收取担保费金额为：<strong><u>人民币{{ charge_cn }}</u></strong>。</p>
    <p>（2）____________________________。</p>
    <p>2.3收取时间：按以下第<strong><u>（1）</u></strong>项执行：</p>
    <p>（1）乙方于甲方每次出具<u><strong>{{ agree_obj.guarantee_agree.get_letter_typ_display }}</strong></u>前将该笔担保所涉及的担保费款项支付给甲方。</p>
    <p>（2）于担保期内每年的____月____日前支付当年的担保费。</p>
    <p>（3）____________________________。</p>
    <p>2.4 收取方式：<strong><u>转账、支票或现金支付</u></strong>。</p>
    <p>2.5乙方未在上述规定的时间内按时足额支付担保费的，甲方有权在乙方足额支付担保费之前拒绝与其债权人签订担保合同，乙方应按未付担保费金额的20%支付违约金。</p>
    <p><strong>第三条 保证金</strong></p>
    <p>3.1乙方按所开具的保函金额的____%向甲方指定账户存入保证金。</p>
    <p>3.2保证金在甲方存放期间，乙方同意不计收利息。</p>
    <p>3.3保证金自存入甲方指定账户之日起即转移为甲方占有。保证金为甲方在本合同项下的债权提供反担保。甲方在本合同项下需对外承担担保责任时，有权扣划保证金。</p>
    <p><strong>第四条 乙方的陈述与保证</strong></p>
    <p>4.1乙方是依法设立并合法存续的独立民事主体，具备所有必要的权利能力，能以自身名义履行本合同的义务并承担民事责任。</p>
    <p>4.2签署和履行本合同是乙方真实的意思表示，并经过所有必须的同意、批准及授权，不存在任何法律上的瑕疵。</p>
    <p>4.3乙方在签署和履行本合同过程中向甲方提供的全部文件、报表、资料及信息是真实、准确、完整和有效的，未隐瞒可能影响其财务状况和还款能力的任何信息。</p>
    <p>4.4交易合同真实、合法、有效，乙方有充分的履约能力。</p>
    <p><strong>第五条 甲方的权利与义务</strong></p>
    <p>5.1甲方有权向乙方收取手续费及其他相关费用，要求乙方立即偿付甲方向受益人支付的所有款项以及因开立或履行保函而发生的所有费用。</p>
    <p>5.2本合同项下保函的受益人索赔时，甲方应根据保函的约定对受益人的索赔进行审查。甲方认为索赔符合保函约定的，可向受益人付款无需事先通知或征得乙方同意。</p>
    <p>5.3甲方审查受益人的索赔时，仅根据保函的约定进行表面的形式审查。因受益人欺诈所造成的损失，由乙方承担，甲方向受益人付款后，有权向乙方追偿。</p>
    <p>5.4甲方根据本合同开立保函及受理索赔的过程中，享有相关国际惯例所规定的免责事项，包括但不限于：只处理相关的单据、文件、证明等，对所涉基础交易中的问题不负任何责任，对单据、文件、证明等的真伪及邮寄过程中的遗失均不负责。</p>
    <p>5.5甲方在本合同项下的权利不受基础交易合同的效力、履行情况或基础交易当事人争议的影响。</p>
    <p>5.6甲方有义务对乙方提供的财务、经营资料及信息保密，但法律另有规定或本合同另有约定的除外。</p>
    <p><strong>第六条 乙方的义务</strong></p>
    <p>6.1乙方应按本合同约定支付担保费及其他相关费用，并按甲方的要求立即偿付甲方向受益人支付的所有款项及因开立或履得保函而发生的所有费用。</p>
    <p>6.2受益人提出索赔时，乙方应按甲方的要求及时足额地将款项划入甲方指定的账户，以备偿付。</p>
    <p>6.3乙方应诚实履行基础交易合同及保函中约定的相关义务，并及时向甲方通报履约情况及可能出现的问题。</p>
    <p>6.4乙方应遵守本合同项下保函所适用的国际惯例。</p>
    <p>6.5乙方应遵循甲方与办理担保业务相关的业务制度及操作惯例，包括但不限于配合甲方对保函项下的项目进展或/和合同履行情况进行调查了解，及时提供甲方要求的一切财务报表、其他资料及信息，并保证所提供文件、资料和信息的真实、完整、准确。</p>
    <p>6.6乙方有下列任一事项时，应当至少提前30天书面通知甲方，并且，在提供甲方认可的债务清偿方案及反担保前不能采取行动：</p>
    <p>（1）出售、赠与、出租、出借、转移、抵押、质押或以其他方式处分重要资产、资产的全部或大部份；</p>
    <p>（2）经营体制或产权组织形式发生重大变化，包括但不限于实施承包、租赁、联营、公司制改造、股份合作制改造、企业出售、合并（兼并）、合资（合作）、分立、设立子公司、产权转让、减资等。</p>
    <p>6.7乙方应当在下列事项发生或可能发生之日起7日内书面通知甲方：</p>
    <p>（1）修改章程，变更企业名称、法定代表人（负责人）、住所、通讯地址及营业范围等工商登记事项，或作出对财务、人事有重大影响的决定；</p>
    <p>（2）乙方或反担保人拟申请破产或可能或已被债权人申请破产；</p>
    <p>（3）涉及重大诉讼案件，或者，主要资产或本合同项下反担保物被子采取了财产保全等强制措施；</p>
    <p>（4）为第三方提供保证，并因此而对其财务状况或履行本合同项下义务的能力产生重大不利影响；</p>
    <p>（5）签署对其经营和财务状况有重大影响的合同；</p>
    <p>（6）乙方或反担保人停产、歇业、解散、停业整顿、被撤销或营业执照被吊销；</p>
    <p>（7）乙方、乙方的法定代表人（负责人）或主要管理人员涉及违法活动；</p>
    <p>（8）经营出现严重困难，财务状况恶化，或发生对其正常经营、财务状况或偿债能力有负面影响的其他事件。</p>
    <p>6.8本合同项下的反担保发生不利于甲方的变化时，乙方应及时提供甲方认可的其他反担保。</p>
    <p>本款所称“变化”包括但不限于：反担保人停产、歇业、解散、停业整顿、被撤销或营业执照被吊销、申请或被申请破产；反担保人的经营或财务状况有重大变化；反担保人涉及重大诉讼或仲裁案件；反担保物的价值减少或可能减少；反担保人在反担保合同项下有违约行为；反担保人与乙方发生争议；反担保人要求解除反担保合同；担保合同未生效或无效或被撤销；担保物权不成立或无效；或影响担保人债权安全的其他事件等。</p>
    <p><strong>第七条 其他约定事项</strong></p>
    <p> ____________________________________________________________________</p>
    <p><strong>第八条补充保证金</strong></p>
    <p>出现下列情形时，甲方有权要求乙方补充提供保证金，直至保证金金额达到本合同项下保函的最大担保金额：</p>
    <p>（1）乙方在第四条项下所作陈述与保证不真实；</p>
    <p>（2）乙方违反本合同的约定；</p>
    <p>（3）第6.6条所列应通知的任一事项实际发生，甲方认为将影响其债权的安全；</p>
    <p>（4）乙方在履行与甲方订立的其他合同时，有迟延履行等违约行为且经甲方催告后仍未予纠正的。</p>
    <p><strong>第九条</strong> 保函有效期届满或保证义务履行完毕，乙方应将保函正本收回并退还甲方；若保函正本不能退回的，乙方应提供受益人出具的保函失效的书面文件或保证义务完结的证明文件。</p>
    <p>保函有效期届满，若乙方未能履行上述义务的，应向甲方支付逾期保费。逾期保费从保函有效期届满之日起算，到保函正本退回或受益人出具保函失效的书面文件、保证义务完结的证明文件收到之日截止，按本合同第二条（一）款规定的担保费率计算收取。</p>
    <p><strong>第十条 甲方的追偿权</strong></p>
    <p>甲方按照本合同的约定承担了保证责任后，即有权要求乙方立即归还甲方代偿的全部款项及甲方实现债权的费用，乙方另外应支付甲方代偿之日起企业银行同期贷款利息、罚息，并按上述代偿款项的<b>5%</b>一次性支付违约金。</p>
    <p><strong>第十一条 争议的解决</strong></p>
    <p>本合同发生争议或纠纷时，甲乙双方当事人可以通过协商解决，协商不成的，应向甲方所在地人民法院提起诉讼。</p>
    <p><strong>第十二条</strong> 如甲方代乙方履行清偿义务，甲方向乙方行使追偿权的期限为自甲方履行代偿之日起两年止。</p>
    <p>乙方确认的有效送达地址如下：</p>
    <p>联系地址：<strong><u>{{ agree_obj.lending.summary.custom.contact_addr }}</u></strong></p>
    <p>联系电话：<strong><u>{{ agree_obj.lending.summary.custom.contact_num }}</u></strong></p>
    <p>收件人：<strong><u>{{ agree_obj.lending.summary.custom.linkman }}</u></strong></p>
    <p>乙方确认的送达地址用于接收与本合同相关的所有法律文书。收件人、送达地址和联系电话发生变更的，应于变更后三日内书面通知甲方。因送达信息不准确、变更后未及时告知，或其指定的收件人拒绝签收，导致法律文书未能实际接收的，法律文书退回之日视为有效送达之日。乙方自愿接受上述约定并承担由此可能产生的不利法律后果，并保证所提供的送达地址各项内容是准确和有效的。</p>
    <p><strong>第十三条</strong>本合同各方同意并不可撤销地授权甲方将各方的名称、注册地址等信息、及各方在本合同项下业务活动和履约活动中形成的交易记录、信用信息、以及不良信息（包括未按照本合同履行义务的信息、人民法院判决或者裁定本机构履行义务以及强制执行的信息以及法律、法规规定的其他不良信息），报送给中国人民银行征信系统和其他依法设立的信用信息数据库，并允许相关信息被合法查询。甲方也有权为本合同订立和履行之目的，通过中国人民银行征信系统和其他依法设立的信用信息数据库查询各方的相关信息。</p>
    <p><strong>第十四条 其他条款</strong></p>
    <p>14.1本合同由甲乙双方法定代表人（或其授权代理人）签章（签字或盖章）并加盖公章后生效。</p>
    <p>14.2本合同生效后，任何有关本合同的补充、修改、变更、解除等均需由甲乙双方协商一致并订立书面协议。 </p>
    <p>14.3本合同一式<strong><u>{{ agree_copy_cn }}</u></strong>份，乙方执<strong><u>壹</u></strong>份，甲方执<strong><u>壹</u></strong>份，登记机关执<strong><u>{{ agree_copy_jy_cn }}</u></strong>份。具有同等的法律效力。</p>
</div>

<div class="split">
    {% include 'dbms/agree/agree_board/entrust/signature-page.html' %}
</div>


