<div class="split">
    {% include 'dbms/agree/agree_board/entrust/home-page.html' %}
</div>

<div class="split">
    <div>{% include 'dbms/agree/agree_board/entrust/single/0-pre-0.html' %}</div>
    <p><strong>一、保证的范围与期限</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/1-scope-term-1.html' %}</div>
    <p><strong>二、保证金、担保费及其他费用</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/2-charge-1.html' %}</div>
    <p><strong>三、甲方的权利、义务</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/3-rights-obligations-j-1.html' %}</div>
    <p><strong>四、乙方的权利、义务</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/4-rights-obligations-y-1.html' %}</div>
    <p><strong>五、反担保</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/5-counter-guarantee-1.html' %}</div>
    <p><strong>六、合同的变更和解除</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/6-change-remove-1.html' %}</div>
    <p><strong>七、违约责任</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/7-liability-1.html' %}</div>
    <p><strong>八、义务的连续性</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/8-continuity-1.html' %}</div>
    <p><strong>九、其他约定事项</strong></p>
    <div>{% include 'dbms/agree/agree_board/blank-space.html' %}</div>
    <p><strong>十、争议的解决</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/10-dispute-1.html' %}</div>
    <p><strong>十一、合同的生效</strong></p>
    <div>{% include 'dbms/agree/agree_board/entrust/single/11-operation-1.html' %}</div>
    <p><strong>十二、通知送达条款</strong></p>
    {% include 'dbms/agree/agree_board/entrust/service-clause.html' %}
    <p><strong>十三、其他</strong></p>
    {% include 'dbms/agree/agree_board/entrust/other.html' %}
</div>

<div class="split">
    {% include 'dbms/agree/agree_board/entrust/signature-page.html' %}
</div>


