<div class="split" xmlns="http://www.w3.org/1999/html">
    {% include 'dbms/agree/agree_board/entrust/home-page.html' %}
</div>

<div class="split">
    {#引子#}
    <div>{% include 'dbms/agree/agree_board/entrust/max/0-pre.html' %}</div>
    <p>一、甲乙双方遵循平等、自愿、公平、诚实信用原则订立本合同。</p>
    {#担保范围条款#}
    <p>二、{% include 'dbms/agree/agree_board/entrust/max/2-amount-0.html' %}</p>
    {#保证金条款#}
    <p>三、{% include 'dbms/agree/agree_board/entrust/max/3-bail-0.html' %}</p>
    <p>四、甲方代乙方履行付款责任后，乙方应立即向甲方归还下列款项：</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/4-1.html' %}</div>
    <p>五、甲方有权在代付范围内，接管一切为债权而设立的任何担保物及其它向乙方债务提供反担保的求偿权，
        乙方应该履行其作为债务人所应履行的一切义务。</p>
    <p>乙方向甲方提供的全部反担保行为对甲方为乙方在上述期间发生的每一笔担保均承担反担保责任。</p>
    <p>六、担保综合费的收取</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/6-charge-1.html' %}</div>
    <p>七、甲方的权利义务</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/7-rights-j-1.html' %}</div>
    <p>八、乙方的权利义务</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/8-rights-y-1.html' %}</div>
    <p>九、乙方向甲方提供反担保时，应签订相应的《最高额抵押反担保合同》、《最高额质押反担保合同》、《最
        高额保证反担保合同》并承诺下述事项：</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/9-promise-1.html' %}</div>
    <p>十、抵押、质押期间，抵押物、质押物如发生投保范围的损失，或者因其他第三人行为导致抵押物价值减少，保险
        赔偿金或损害赔偿金应作为抵押、质押物，由乙方存入甲方指定的账户，抵押、质押期间，未经甲方书面同意，
        乙方不得单方面动用。</p>
    <p>十一、由第三人为乙方向甲方提供财产进行反担保的，本合同第九条所列之条款由乙方和第三人承担履行责任。</p>
    <p>十二、合同的变更和解除</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/12-change-1.html' %}</div>
    <p>十三、违约责任</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/13-duty-1.html' %}</div>
    <p>十四、甲方代乙方履行清偿义务后，甲方有权以抵押物折价或从拍卖、变卖抵押物所得价款中优先受偿。</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/14-priority-1.html' %}</div>
    <p>十五、义务的连续性</p>
    <div>{% include 'dbms/agree/agree_board/entrust/max/15-continuation-1.html' %}</div>
    <p>十六、通知送达条款</p>
    <div>{% include 'dbms/agree/agree_board/entrust/service-clause.html' %}</div>
    <p>十七、甲乙双方同意约定的其他事项：</p>
    <div>{% include 'dbms/agree/agree_board/17-other-1.html' %}</div>
    {#争议解决#}
    <p>十八、{% include 'dbms/agree/agree_board/entrust/max/18-dispute-1.html' %}</p>
    <p>十九、本协议经甲方与乙方加盖公章且法定代表人签章即生效。</p>
    <p>二十、其他</p>
    <div>{% include 'dbms/agree/agree_board/entrust/20-other.html' %}</div>
</div>

<div class="split">
    <div>
        {% include 'dbms/agree/agree_board/entrust/signature-page.html' %}
    </div>
</div>


