<div class="split">
    {% include 'dbms/agree/agree_board/entrust/home-page.html' %}
</div>

<div class="split">
    <p>根据乙方请求，甲方同意为其向 <strong><u>{{ agree_obj.branch.name }}（以下简称：银行）</u></strong>申请出具的以乙方为被保证人的一系列分离式保函提供连带责任保证担保。 为明确各自的权利、义务，甲乙双方遵照有关法律规定，经协商一致，订立本合同，以便共同遵守执行。</p>
    <p>一、甲乙双方遵循平等、自愿、公平、诚实信用原则订立本合同。</p>
    <p>二、本合同所称分离式保函是指银行应甲方申请出具的以乙方为被保证人的一系列保函（包括但不限于投标保函、履约保函、预付款保函、民工工资保函等），该分离式保函业务占用甲方在银行的授信额度，甲方就以乙方为被保证人的一系列分离式保函承担了连带保证责任。</p>
    <p>三、甲、乙双方一致确认，分离式保函最高额为<strong><u>人民币{{ agree_amount_str }}万元（大写：{{ agree_amount_cn }}）</u></strong>，保函出具期间为{% include 'dbms/agree/agree_board/date-period.html' %}至{% include 'dbms/agree/agree_board/date-period.html' %}。</p>
    <p>在保函出具期间内的任一时点，只要甲方尚未收回的分离式保函余额不超过分离式保函最高额，甲方可以连续、循环地为乙方申请出具分离式保函，而不论次数和每次的金额，也不论每份分离式保函的到期日是否超过保函出具期间。</p>
    <p>乙方办理每一份分离式保函，甲方为此需向银行签署一份<strong><u>{{ file_name }}</u></strong>并对每一份分离式保函承担连带保证责任。上述一系列<strong><u>{{ file_name }}</u></strong>包括但不限于：
    <u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u>
    </p>
    <p>（一） 担保范围：与甲方和银行自{% include 'dbms/agree/agree_board/date-period.html' %}至{% include 'dbms/agree/agree_board/date-period.html' %}期间签订的一系列<strong><u>{{ file_name }}</u></strong>中约定的担保范围一致。但保函总额不超过<strong><u>人民币{{ agree_amount_cn }}</u></strong>及相应的利息、违约金、实现债权的费用等。</p>
    <p>（二）担保期限：与甲方和银行自{% include 'dbms/agree/agree_board/date-period.html' %}至{% include 'dbms/agree/agree_board/date-period.html' %}期间签订的一系列<strong><u>{{ file_name }}</u></strong>中约定的保证期间一致。</p>
    <p>四、当受益人索偿时，甲方有权独立判断索赔要求及索赔金额是否符合保函约定；甲方对外赔付，无须事先征得乙方同意，且该付款行为不受乙方与受益人之间基础合同纠纷的影响，乙方承诺不提出任何异议。</p>
    <p>五、银行向受益人赔付，甲方因此向银行偿还其赔付款项或甲方直接向受益人赔付后，甲方有权向乙方追偿下列款项：</p>
    <p>（一）甲方直接向受益人赔付或向银行偿还的全部金额及自赔付或偿还之日起的利息（按银行同期贷款基准利率<strong><u>4</u></strong>倍计息）；</p>
    <p>（二）甲方实现债权的一切费用（包括但不限于调查费、诉讼费、评估费、差旅费、律师费、财产保全费、公证费、鉴定费、翻译费、评估拍卖费等）及其它损失；</p>
    <p>（三）在本合同项下约定应付但未付或未结清的担保费及相关费用。</p>
    <p>甲方有权在赔付范围内，接管一切为债权而设立的任何担保物及其它向甲方提供的反担保措施的求偿权，乙方应履行其作为被担保人所应履行的一切义务。</p>
    <p>六、担保费的收取</p>
    <p>（一）收取标准：按以下第<strong><u>2</u></strong>项收取担保费：</p>
    <p>1、按月计算，每月按担保敞口总额的____%收取，不足壹月的按壹月计。</p>
    <p>2、按以下约定执行：按照担保总额的<strong><u>{{ single_quota_rate }}%</u></strong>收取。</p>
    <p>（二）具体数额：按以下第<strong><u>2</u></strong>项执行：</p>
    <p>1、一次收取担保费金额为：人民币<u>&nbsp&nbsp&nbsp&nbsp\&nbsp&nbsp&nbsp&nbsp</u>万元。</p>
    <p>2、按甲方与银行签订每一份<strong><u>{{ file_name }}</u></strong>时确认的担保额度、担保期限，按本合同确定的担保费率计算收取；</p>
    <p>3、<u>&nbsp&nbsp&nbsp&nbsp\&nbsp&nbsp&nbsp&nbsp</u>。</p>
    <p>（三）收取时间：按以下第<strong><u>1</u></strong>项执行：</p>
    <p>1、乙方于甲方每次向银行出具<strong><u>{{ file_name }}</u></strong>前将该笔担保所涉及的担保费款项支付给甲方。</p>
    <p>2、于担保期内每年的<u>&nbsp&nbsp&nbsp&nbsp</u>月<u>&nbsp&nbsp&nbsp&nbsp</u>日前支付当年的担保费。 </p>
    <p>3、<u>&nbsp&nbsp&nbsp&nbsp\&nbsp&nbsp&nbsp&nbsp</u>。</p>
    <p>（四）收取方式：<strong><u>现金或转账支付</u></strong>。</p>
    <p>（五）乙方未在上述规定的时间内按时足额支付担保费的，甲方有权在乙方足额支付担保费之前拒绝为其申请出具分离式保函，且每逾期一日应按应付未付担保费金额的<strong><u>0.05%/日</u></strong>支付违约金。如甲方已为其申请出具保函的，乙方除应按未付担保费金额的<strong><u>20%</u></strong>支付违约金外还应承担甲方为实现债权所发生的全部费用（包括但不限于调查费、诉讼费、评估费、差旅费、律师费、财产保全费、公证费、鉴定费、翻译费、评估拍卖费等）。</p>
    <p>（六）担保费应事先缴纳，一旦保函出具，则乙方无权要求甲方退回该笔担保费。</p>
    <p>七、双方的其他权利义务</p>
    <p>1、甲方在甲乙双方签订本合同，向甲方支付相应担保费后，为乙方出具相应保函。</p>
    <p>2、乙方应根据甲方要求提供其与受益人之间的基础合同、乙方之营业执照等基础资料、乙方之财务报表及其他相关资料，并保证所提供资料的准确性、真实性；甲方有权对乙方的施工组织、经营管理、财务状况等进行监督、检查。</p>
    <p>3、乙方如需变更名称、经营范围、注册资金、注册地、主要营业机构所在地、法定代表人或发生合并、分立、重组等重大经营举措应提前三十日通知甲方；发生仲裁、诉讼、行政等事项应立即通知甲方。</p>
    <p>4、乙方不得擅自将本合同所涉及工程项目分包、转包给第三人。乙方与受益人有关基础合同的任何修改、变更，应及时告知甲方。</p>
    <p>5、乙方应全面履行基础合同，保证对已收到的工程款项专款专用，及时向甲方通报基础合同履行情况，并积极配合甲方进行定期或不定期的检查、监督。</p>
    <p>八、乙方向甲方提供下列担保，作为甲方为其提供担保的反担保：</p>
    <p>（一）乙方向甲方缴存人民币（大写）<u>&nbsp&nbsp&nbsp&nbsp\&nbsp&nbsp&nbsp&nbsp</u>元的担保风险保证金。在乙方完全履行完被担保人义务后，乙方应提供相关有效书面文件，证明甲方保证责任已解除。甲方在确认保证责任已全部解除后，将上述保证金退还乙方，如乙方不履行被担保人义务，上述保证金将作为违约金，甲方不予退还。该保证金孳生的利息归甲方所有。</p>
    <p>（二）乙方向甲方提供财产作为反担保时，应签订相关反担保合同并承诺下述事项：</p>
    <p>1、与财产担保物相关的评估、保险、鉴定、登记、保管、公证费用均由乙方承担；</p>
    <p>2、担保物价值减少，乙方应在三十日内向甲方提供甲方认可的、与该担保物减少的价值额相当的其他担保。</p>
    <p>（三）由第三方为乙方向甲方提供信用反担保的，应签署相关反担保合同。</p>
    <p>九、由第三人为乙方向甲方提供财产进行反担保的，本协议第八条所列之条款由乙方和第三人承担履行责任。</p>
    <p>十、分离式保函有效期届满或保证义务履行完毕，乙方应将保函正本收回并退还甲方；若保函正本不能退回的，乙方应提供受益人出具的保函失效的书面文件或保证义务完结的证明文件。</p>
    <p>分离式保函有效期届满，若乙方未能履行上述义务的，应向甲方支付逾期保费。逾期保费从保函有效期届满之日起算，到保函正本退回或受益人出具保函失效的书面文件、保证义务完结的证明文件收到之日截止，按本合同第六条（一）款规定的担保费率计算收取。</p>
    <p>十一、合同的变更和解除</p>
    <p>（一）本合同生效后，甲乙任何一方不得擅自变更和解除本合同。</p>
    <p>（二）甲乙任何一方发生合并、分立、承包及股份制改造等转制变更时，由变更后法人承担或连带承担履行本合同的义务，享有应有的权利。</p>
    <p>十二、甲乙双方同意约定的其他事项：</p>
    <p> <u>{{ other }}</u>。</p>
    <p>十三、因本协议发生的争议或一方不履约，经协商不能达成一致意见，应向甲方所在地人民法院提起诉讼。如甲方代乙方履行清偿义务，甲方向乙方行使追偿权的期限为自甲方履行代偿之日起至甲方对乙方追偿权诉求时效期届满之日止。</p>
    <p>乙方应提供其送达地址：<strong><u>（收件人：{{ agree_obj.lending.summary.custom.linkman }}，联系电话：{{ agree_obj.lending.summary.custom.contact_num }}，送达地址：{{ agree_obj.lending.summary.custom.contact_addr }}）</u></strong>用于接收人民法院的法律文书，并保证送达地址正确有效的。收件人、送达地址和联系电话发生变更的，应于变更后三日内书面通知甲方。因送达信息不准确、变更后未及时告知，或其指定的收件人拒绝签收，导致法律文书未能实际接收的，法律文书退回之日视为有效送达之日。乙方自愿接受上述约定并承担由此可能产生的不利法律后果，并保证所提供的送达地址各项内容是准确和有效的。</p>
    <p>十四、因本协议发生的争议，经协商不能达成一致意见，应向甲方所在地人民法院提起诉讼。</p>
    <p>十五、本协议经甲乙双方盖章或签字即生效。本合同一式二份，甲乙双方各执一份，其法律效力相同。</p>
    <p>十六、本合同各方同意并不可撤销地授权{{ UN }}将各方的名称、注册地址等信息、及各方在本合同项下业务活动和履约活动中形成的交易记录、信用信息、以及不良信息（包括未按照本合同履行义务的信息、人民法院判决或者裁定本机构履行义务以及强制执行的信息以及法律、法规规定的其他不良信息），报送给中国人民银行征信系统和其他依法设立的信用信息数据库，并允许相关信息被合法查询。成都武侯中小企业融资担保有限责任公司也有权为本合同订立和履行之目的，通过中国人民银行征信系统和其他依法设立的信用信息数据库查询各方的相关信息。</p>
</div>

<div class="split">
    {% include 'dbms/agree/agree_board/entrust/signature-page.html' %}
</div>


