<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>评审委员</th>
            <th>评委意见</th>
            <th>意见详情</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for expert in article_obj.expert.all %}
            <tr expert_nid="{{ expert.id }}">
                <td>{{ expert.name }}</td>
                {% if article_obj.comment_expert.all %}
                    {% for comment in article_obj.comment_expert.all %}
                        {% if comment.expert.id == expert.id %}
                            <td>{{ comment.get_comment_type_display }}</td>
                            <td>{{ comment.concrete }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-primary btn-xs expert-comment">
                        评审意见
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
