<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        {#"table-bordered":表格表格边框#}
        {#"table-hover":表格悬停变色#}
        {#"table-condensed":表格紧缩#}
        {#<caption><h4>项目管理</h4></caption>#}
        <thead>
        <tr style="text-align: center">
            <th>编号</th>
            <th>坐落</th>
            <th>类型</th>
            <th>建筑面积</th>
            <th>产权证</th>
        </tr>
        </thead>
        <tbody>
        {% for house in house_list %}
            <tr>
                <td>
                    <a href="#">
                        {{ house.warrant.warrant_num }}
                    </a>
                </td>
                <td>{{ house.house_locate }}</td>
                <td>{{ house.get_application_display }}</td>
                <td>{{ house.area_structure }}</td>
                <td>
                    {% for ownership in house.warrant.ownership_warrant.all %}
                        {{ ownership.ownership_num }}、
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'dbms/board/page.html' %}


</div>
