<div id="form_draft_storage">
    <div class="form-group"><!--出入库类型-->
        <label for="id_draft_state"
               class="col-sm-3 control-label">{{ form_draft_storage.draft_state.label }}：</label>
        <div class="col-sm-9">
            <select name="draft_state" class="form-control" id="id_draft_state">
                {% for db_sv in db_sv_list %}
                    {% if db_sv.0 == dbSn %}
                        <option value="{{ db_sv.0 }}" selected="">{{ db_sv.1 }}</option>
                    {% else %}
                        <option value="{{ db_sv.0 }}">{{ db_sv.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <label id="e_draft_state" class="pull-right">{{ form_draft_storage.draft_state.errors }}</label>
    </div>
</div>
