{% if PAGE_TITLE == '权证管理' %}
    <div role="tabpanel" class="tab-pane active" id="provide-article"><!--项目情况-->
        {% include 'dbms/provide/agree/scan/tab/provide-article.html' %}</div>
{% else %}
    {% if PAGE_TITLE == '风控落实' %}
        <div role="tabpanel" class="tab-pane" id="provide-article"><!--项目情况-->
            {% include 'dbms/provide/agree/scan/tab/provide-article.html' %}</div>
    {% endif %}
{% endif %}

{% if PAGE_TITLE == '项目次序' or  PAGE_TITLE == '放款次序' %}
    <div role="tabpanel" class="tab-pane active" id="agree"><!--委托合同-->
        {% include 'dbms/article/lending/tab/lending-agree.html' %}</div>
{% endif %}

{% if hypothec_agree_list %}
    <div role="tabpanel" class="tab-pane" id="provide-hypothec"><!--他权-->
        {% include 'dbms/provide/agree/scan/tab/provide-war-hypothec.html' %}</div>
{% endif %}

{% include 'dbms/provide/agree/scan/tab-con-guarantee.html' %} {#反担保#}

{% if PAGE_TITLE == '风控落实' or PAGE_TITLE == '放款通知' %}
    <div role="tabpanel" class="tab-pane active" id="loan-notice"><!--放款通知-->
        {% include 'dbms/provide/agree/scan/tab/provide-notice.html' %}</div>
{% endif %}
{#{% if PAGE_TITLE == '放款通知' %}#}
{#    <div role="presentation" class="tab-pane active" id="provide"> <!--放款-->#}
{#        {% include 'dbms/provide/agree/notify/tab/notify-provide.html' %} </div>#}
{#{% endif %}#}
