{% if PAGE_TITLE == '权证管理' %}
    <li role="presentation" class="active">
        <a href="#provide-article" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">项目情况</a></li>
{% else %}
    {% if PAGE_TITLE == '风控落实' %}
        <li role="presentation">
            <a href="#provide-article" style="background-color: #f5f5f5"
               aria-controls="messages" role="tab" data-toggle="tab">项目情况</a></li>
         <li role="presentation">
            <a href="#agree" style="background-color: #f5f5f5"
               aria-controls="messages" role="tab" data-toggle="tab">合同</a></li>
    {% endif %}
{% endif %}

{% if PAGE_TITLE == '项目次序' or  PAGE_TITLE == '放款次序' %}
    <li role="presentation" class="active">
        <a href="#agree" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">委托合同</a></li>
{% endif %}

{% if hypothec_agree_list %}
    <li role="presentation">
        <a href="#provide-hypothec" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">他权</a></li>
{% endif %}

{% include 'dbms/provide/agree/scan/tab-tit-guarantee.html' %} {#反担保#}

{% if PAGE_TITLE == '风控落实' or PAGE_TITLE == '放款通知' %}
    <li role="presentation" class="active">
        <a href="#loan-notice" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">放款通知</a></li>
{% endif %}
