<div role="tabpanel" class="tab-pane" id="provide-ensure"><!--保证反担保-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-ensure.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-house"><!--房产反担保-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-house.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-ground"><!--土地反担保-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-ground.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-construct"><!--在建工程-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-construct.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-receive"><!--应收质押-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-receive.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-stock"><!--股权质押-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-stock.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-draft"><!--票据质押-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-draft.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-vehicle"><!--车辆-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-vehicle.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-chattel"><!--动产抵押-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-chattel.html' %}</div>
<div role="tabpanel" class="tab-pane" id="provide-other"><!--其他-->
    {% include 'dbms/provide/agree/scan/tab/provide-app-other.html' %}</div>
