{% if not PAGE_TITLE == '权证管理' %}
    {% if custom_lending_list %}
        <li role="presentation">
            <a href="#provide-ensure" style="background-color: #f5f5f5"
               aria-controls="profile" role="tab" data-toggle="tab">保证</a></li>
    {% endif %}
{% endif %}

{% if warrant_lending_h_list %}
    <li role="presentation">
        <a href="#provide-house" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">房产</a></li>
{% endif %}
{% if warrant_lending_g_list %}
    <li role="presentation">
        <a href="#provide-ground" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">土地</a></li>
{% endif %}
{% if warrant_lending_6_list %}
    <li role="presentation">
        <a href="#provide-construct" style="background-color: #f5f5f5"
           aria-controls="messages" role="tab" data-toggle="tab">在建工程</a></li>
{% endif %}
{% if warrant_lending_r_list %}
    <li role="presentation">
        <a href="#provide-receive" style="background-color: #f5f5f5"
           aria-controls="settings" role="tab" data-toggle="tab">应收账款</a></li>
{% endif %}
{% if warrant_lending_s_list %}
    <li role="presentation">
        <a href="#provide-stock" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">股权</a></li>
{% endif %}
{% if warrant_lending_d_list %}
    <li role="presentation">
        <a href="#provide-draft" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">票据</a></li>
{% endif %}
{% if warrant_lending_v_list %}
    <li role="presentation">
        <a href="#provide-vehicle" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">车辆</a></li>
{% endif %}
{% if warrant_lending_c_list %}
    <li role="presentation">
        <a href="#provide-chattel" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">动产</a></li>
{% endif %}
{% if warrant_lending_o_list %}
    <li role="presentation">
        <a href="#provide-other" style="background-color: #f5f5f5"
           aria-controls="home" role="tab" data-toggle="tab">其他</a></li>
{% endif %}