{% extends 'dbms/index_dbms.html' %}

{% block title %}{{ custom_obj }}{% endblock %}

{% block right-content-container %}
    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/custom/scan/custom-summry.html' %}
        {% include 'dbms/custom/scan/custom-tab.html' %}
        {% include 'dbms/custom/modl/custom-del-mod.html' %}
        {% include 'dbms/custom/modl/custom-edit-mod.html' %}
        {% include 'dbms/custom/modl/shareholder-add-mod.html' %}
        {% include 'dbms/custom/modl/shareholder-del-mod.html' %}
        {% include 'dbms/custom/modl/trustee-add-mod.html' %}
        {% include 'dbms/custom/modl/trustee-del-mod.html' %}
        {% include 'dbms/custom/modl/spouse-add-mod.html' %}
        {% include 'dbms/custom/modl/spouse-del-mod.html' %}
        {% include 'dbms/custom/modl/custom-change-mod.html' %}

        {% include 'dbms/custom/modl/custom-subsidiary-mod.html' %}
        {% include 'dbms/custom/modl/subsidiary-del-mod.html' %}
        
        {% include 'dbms/custom/modl/custom-article-add-mod.html' %}
        {% include 'dbms/custom/modl/controler-change-mod.html' %}
    </div>
{% endblock %}

{% block extra-js %}
    {% include 'dbms/custom/extra/js-custom-del.html' %}
    {% include 'dbms/custom/extra/js-custom-edit.html' %}
    {% include 'dbms/custom/extra/js-shareholder-add.html' %}
    {% include 'dbms/custom/extra/js-shareholder-del.html' %}
    {% include 'dbms/custom/extra/js-trustee-add.html' %}
    {% include 'dbms/custom/extra/js-trustee-del.html' %}
    {% include 'dbms/custom/extra/js-spouse-add.html' %}
    {% include 'dbms/custom/extra/js-spouse-del.html' %}
    {% include 'dbms/article/extra/js-article-add.html' %}

    {% include 'dbms/custom/extra/js-custom-change.html' %}

    {% include 'dbms/custom/extra/js-subsidiary-del.html' %}
    {% include 'dbms/custom/extra/js-subsidiary-add.html' %}

    {% include 'dbms/custom/extra/js-controler-change.html' %}
    
    {% include 'dbms/js/js-search-custom.html' %}


{% endblock %}