<div class="contain">
    <div class="split">
        <p style="text-align: center; font-size: 21pt; margin-bottom: 21pt;">不可撤销的反担保函</p>
        <p style="text-indent: 0pt">致：成都武侯中小企业融资担保有限责任公司</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/g/g-0-m-pre.html' %}</div>
        <p>一、{% include 'dbms/agree/agree_board/counter/max/g/g-1.html' %}</p>
        <p>二、{% include 'dbms/agree/agree_board/counter/max/g/g-2.html' %}</p>
        <p>三、{% include 'dbms/agree/agree_board/counter/max/g/g-3.html' %}</p>
        <p>四、{% include 'dbms/agree/agree_board/counter/max/g/g-4.html' %}</p>
        <p>五、{% include 'dbms/agree/agree_board/counter/max/g/g-5.html' %}</p>
        <p>六、{% include 'dbms/agree/agree_board/counter/max/g/g-6.html' %}</p>
        <p>七、{% include 'dbms/agree/agree_board/counter/max/g/g-7.html' %}</p>
        <p>八、{% include 'dbms/agree/agree_board/counter/max/g/g-8.html' %}</p>
        <p>九、{% include 'dbms/agree/agree_board/counter/max/g/g-9-0.html' %}</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/g/g-9-1.html' %}</div>
        <div>{% include 'dbms/agree/agree_board/counter/max/g/g-sign.html' %}</div>
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/max/g/g-appendix.html' %}</div>
    </div>
</div>


