<div class="contain">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-home.html' %}
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/max/0-pre.html' %}</div>
        <p><strong>一、</strong> 抵押物：{% include 'dbms/agree/agree_board/counter/max/d/1-d-pawn-0.html' %}</p>
        <p><strong>二、</strong> 最高额抵押反担保的债权为：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/1-creditor-rights-1.html' %}</div>
        <p><strong>三、</strong> 抵押担保范围：乙方以抵押物的全部价值或依法变现的全部金额担保，担保的范围为：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/2-d-scope-1.html' %}</div>
        <p><strong>四、</strong> 抵押反担保期间</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/3-d-period-1.html' %}</div>
        <p><strong>五、</strong> 为确保抵押物的真实性、合法性，乙方承诺：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/5-d-promise-1.html' %}</div>
        <p><strong>六、</strong> 乙方若出现下列情况之一时，应提前三十日通知甲方：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/6-d-notice-1.html' %}</div>
        <p><strong>七、{% include 'dbms/agree/agree_board/counter/max/d/7-d-0.html' %}</strong></p>
        <p><strong>八、</strong> 债权的确定</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/8-d-credit-1.html' %}</div>
        <p><strong>九、</strong> 抵押权的效力</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/9-d-render-1.html' %}</div>
        <p><strong>十、</strong> 抵押财产的占管</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/10-d-tube-1.html' %}</div>
        <p><strong>十一、</strong> 抵押财产保险</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/11-d-insurance-1.html' %}</div>
        <p><strong>十二、</strong> 抵押登记</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/12-d-register-1.html' %}</div>
        <p><strong>十三、</strong> 抵押权的实现</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/13-d-realize-1.html' %}</div>
        <p><strong>十四、</strong> 甲方依法处分抵押物所得的价款，按下列顺序分配：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/14-d-distribution-1.html' %}</div>
        <p><strong>十五、</strong> 违约责任：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/15-d-contract-1.html' %}</div>
        <p><strong>十六、</strong> {% include 'dbms/agree/agree_board/counter/max/d/16-d-0.html' %}</p>
        <p><strong>十七、</strong> 抵押建筑物和其他土地附着物及建设用地使用权发生拆迁的特别约定</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/d/17-d-special-1.html' %}</div>
        <p><strong>十八、</strong> 通知送达条款</p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/counter-notify-1.html' %}</div>
        <p><strong>十九、</strong> 争议的解决</p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/counter-dispute-1.html' %}</div>
        <p><strong>二十、</strong> 其他约定事项</p>
        <div>{% include 'dbms/agree/agree_board/blank-space.html' %}</div>
        <p><strong>二十一、</strong> {% include 'dbms/agree/agree_board/counter/max/d/21-d-0.html' %}</p>
        <p><strong>二十二、</strong> {% include 'dbms/agree/agree_board/counter/max/d/22-d-0.html' %}</p>
        <p><strong>二十三、</strong> {% include 'dbms/agree/agree_board/counter/max/d/23-d-0.html' %}</p>
        <p><strong>二十四、</strong> 其他</p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/24-other.html' %}</div>
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/max/d/25-d-appendix-1.html' %}
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-sign.html' %}
    </div>
</div>


