<div class="contain">
    <div class="split">
        <p style="text-align: center; font-size: 21pt; margin-bottom: 21pt;"><strong>{{ counter_obj.get_counter_name_display }}</strong></p>
        <p style="text-indent: 0pt">致：成都武侯中小企业融资担保有限责任公司</p>
        <div>{% include 'dbms/agree/agree_board/counter/g/max/g-0-m-pre.html' %}</div>
        <p>一、{% include 'dbms/agree/agree_board/counter/g/g-1.html' %}</p>
        <p>二、{% include 'dbms/agree/agree_board/counter/g/g-2.html' %}</p>
        <p>三、{% include 'dbms/agree/agree_board/counter/g/g-3.html' %}</p>
        <p><strong>四、{% include 'dbms/agree/agree_board/counter/g/g-4.html' %}</strong></p>
        <p><strong>五、{% include 'dbms/agree/agree_board/counter/g/g-5.html' %}</strong></p>
        <p>六、{% include 'dbms/agree/agree_board/counter/g/g-6.html' %}</p>
        <p>七、{% include 'dbms/agree/agree_board/counter/g/g-7.html' %}</p>
        <p>八、{% include 'dbms/agree/agree_board/counter/g/g-8.html' %}</p>
        <p>九、{% include 'dbms/agree/agree_board/counter/g/g-9-0.html' %}</p>
        <div>{% include 'dbms/agree/agree_board/counter/g/g-9-1.html' %}</div>
        <div>{% include 'dbms/agree/agree_board/counter/g/g-sign.html' %}</div>
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/g/g-appendix.html' %}</div>
    </div>
</div>


