<div class="contain">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-home.html' %}
    </div>
    <div class="split">
        <p>经甲、乙、丙三方协商一致达成协议，乙方愿意以保证的方式就甲方与丙方于{% include 'dbms/agree/agree_board/date-period.html' %}签订《{{ agree_obj.get_agree_name_display }}》（合同编号：<u><strong>{{ agree_obj.agree_num }}</strong></u>下同）中约定的甲方和丙方的有关责任与义务向甲方提供保证反担保并承担连带保证责任。</p>
        <p><strong>一、反担保的保证金额及期限</strong></p>
        <p>乙方的反担保的保证金额和《{{ agree_obj.get_agree_name_display }}》中约定的甲方的保证金额相同，根据《{{ agree_obj.get_agree_name_display }}》的约定，<u><strong>甲方提供的担保金额为人民币{{ agree_amount_str }}万元整（大写：人民币{{ agree_amount_cn }}），反担保期限和范围与《{{ agree_obj.get_agree_name_display }}》(合同编号:{{ agree_obj.agree_num }})项下保函约定内容一致。</strong></u></p>
        <p>乙方愿就上述内容向甲方提供反担保，承担连带保证责任，并同意放弃“物权优先”抗辩权。</p>
        <p><strong>二、 反担保的保证责任</strong></p>
        <p>（一）根据《{{ agree_obj.get_agree_name_display }}》的约定，在甲方履行了保证责任即代丙方向受益人赔付后，有权向丙方追偿其已付款项。此时，乙方作为丙方的反担保人，对于清偿甲方的已付款项负有连带还款责任：</p>
        <p>1、乙方向甲方对包括但不限于以下事项承担连带还款责任：</p>
        <p>（1）甲方的赔付金额及因开立或履行保函而发生的所有费用（包括但不限于诉讼费用、律师费用、公证费用、执行费用）。</p>
        <p>（2）甲方自赔付之日起的赔付款项的利息，其利率按银行同期贷款利息计算。</p>
        <p>（3）甲方应收取的丙方违约金。</p>
        <p>（4）甲方的其它费用和损失。</p>
        <p>2、乙方保证在接到甲方书面通知后15天内清偿上述所有款项，并将款项划入甲方指定的账户内。</p>
        <p>3、如甲方对乙方的上述担保还同时设置有其他反担保的，甲方就履行反担保责任的顺序有任意选择权。</p>
        <p>（二）按照《{{ agree_obj.get_agree_name_display }}》的约定，丙方应按期足额向甲方缴纳担保费，如丙方违反此约定，则乙方应在接到甲方书面通知10天内，代丙方向甲方缴纳，包括：</p>
        <p>1、担保费本息。</p>
        <p>2、违约金。</p>
        <p>3、甲方其它损失。</p>
        <p>（三）乙方有义务监督丙方严格履行《{{ agree_obj.get_agree_name_display }}》约定的所有义务，若丙方不履行此义务或履行义务与约定条件不符，则乙方应在接到甲方书面通知10日内赔偿因此而造成的甲方所有损失。</p>
        <p><strong>三、乙方的其它责任如下：</strong></p>
        <p>（一）应甲方要求，定期或随时向甲方提供反映本企业生产经营状况、资金、财务、债权债务情况的计划、统计、财务会计报表及有关文件资料（包括资产负债表、损益表、债权债务表、固定资产明细表等），并保证其真实性。</p>
        <p>（二）乙方不得以任何理由拒不执行甲方在检查时所提出的合理意见与建议。</p>
        <p>（三）未经甲方书面同意，乙方不得出租、出售、转移、转让或以其它方式处置其甲方认为足以影响其偿债能力或担保能力的财产。</p>
        <p>（四）如需变更企业名称、经营范围、注册资金、法人代表、地址等工商登记事项或发生企业分立、合并及其它重大经营决策的改变时，应提前30天书面通知甲方并征得甲方同意，并不得因此影响甲方的利益。</p>
        <p><strong>四、义务和责任的连续性</strong></p>
        <p>（一）本合同项下的乙方的义务和责任不因乙方的上级单位的任何指示、指令、财务状况或与其它单位签订任何协议、文件或《{{ agree_obj.get_agree_name_display }}》的解除而解除。</p>
        <p>（二）乙方如发生合并、分立时，由变更后的当事人承担本合同所列各项义务与责任，如乙方机构被撤销，应由乙方与丙方落实能为甲方接受的新的反担保人，承担本合同项下的所有义务。</p>
        <p>（三）本合同生效后，不因乙方承办人或法定代表人的变动而变更或免除乙方的所有义务与责任。</p>
        <p><strong>五、违约责任</strong></p>
        <p>如乙方违反本合同项下约定的乙方的责任与义务，并因此而造成甲方损失的，甲方有权按照乙方应付款总额的15%向乙方收取违约金。如违约金不足以弥补甲方损失，乙方还应就不足部份向甲方予以清偿。同时，甲方有权申请强制执行。</p>
        <p><strong>六、不可抗力</strong></p>
        <p>由于水灾、火灾、地震、政府禁令等不可抗力事件，致使本合同当事人不能履行或不能完全履行约定的义务和责任时，遭受不可抗力的一方必须及时通知其它各方，说明不能履行本合同的全部义务或部分义务或需要延期履行合同的理由，并提供有关证明文件，以全部或部分免除责任或延期履行。</p>
        <p><strong>七、甲乙丙三方同意约定的其他事项：</strong></p>
        <p>___________________________________________________________________</p>
        <p><strong>八、争议的解决</strong></p>
        <p>本合同若发生争议或纠纷时，当事人可以通过协商解决或者向甲方所在地有管辖权的人民法院起诉。</p>
        <p><strong>九、</strong>如本合同任何一方提出公证要求，则本合同应在有权公证机关进行公证，其费用由丙方和乙方承担。</p>
        <p><strong>十、</strong>本合同受中华人民共和国法律管辖，并依照中华人民共和国法律解释。</p>
        <p><strong>十一、</strong>有关合同的任何补充、修改等均须经甲、乙、丙三方共同协商同意，并由三方订立书面补充或修改协议。</p>
        <p><strong>十二、</strong>本合同由甲、乙、丙三方法定代表人或授权代理人签章（签字或盖章）并加盖公章后，与《{{ agree_obj.get_agree_name_display }}》同时生效。</p>
        <p><strong>十三、</strong>如甲方代丙方履行清偿义务，甲方向丙方行使追偿权的期限为自乙方履行代偿之日起两年止。</p>
        <p><strong>十四、通知送达条款</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/16-notify-1.html' %}</div>
        <p><strong>十五、</strong>本合同各方同意并不可撤销地授权甲方将各方的名称、注册地址等信息、及各方在本合同项下业务活动和履约活动中形成的交易记录、信用信息、以及不良信息（包括未按照本合同履行义务的信息、人民法院判决或者裁定本机构履行义务以及强制执行的信息以及法律、法规规定的其他不良信息），报送给中国人民银行征信系统和其他依法设立的信用信息数据库，并允许相关信息被合法查询。甲方也有权为本合同订立和履行之目的，通过中国人民银行征信系统和其他依法设立的信用信息数据库查询各方的相关信息。</p>
        <p><strong>十六、</strong>本合同正本一式叁份，甲、乙、丙双方各执壹份，具有同等法律效力。</p>
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-sign.html' %}
    </div>

</div>


