<div class="contain">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-home.html' %}
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/_s/0-pre.html' %}</div>
        <div>{% include 'dbms/agree/agree_board/counter/_s/0-pre-1-3.html' %}</div>
        <p><strong>一、抵押反担保的范围</strong>
        <div>{% include 'dbms/agree/agree_board/counter/_c/1-scope-1.html' %}</div>
        <p><strong>二、抵押财产</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/2-property-1-d-z.html' %}</div>
        <p><strong>三、抵押反担保期间</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/3-period-1-3.html' %}</div>
        <p><strong>四、乙方承诺</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/4-promise-y-1-3.html' %}</div>
        <p><strong>五、抵押权的效力</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/5-effect-1.html' %}</div>
        <p><strong>六、抵押财产的占管</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/6-occupy-1.html' %}</div>
        <p><strong>七、抵押财产保险</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/7-insurance-1.html' %}</div>
        <p><strong>八、抵押登记</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/8-regist-1.html' %}</div>
        <p><strong>九、抵押权的实现</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/9-realize-1-3.html' %}</div>
        <p><strong>十、违约责任</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/10-duty-1-3.html' %}</div>
        <p><strong>十一、抵押建筑物和其他土地附着物及建设用地使用权发生拆迁的特别约定</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/11-special-1.html' %}</div>
        <p><strong>十二、费用承担</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/12-cost-1-d-z.html' %}</div>
        <p><strong>十三、其他约定事项</strong></p>
        <div>{% include 'dbms/agree/agree_board/blank-space.html' %}</div>
        <p><strong>十四、争议的解决</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/14-dispute-1.html' %}</div>
        <p><strong>十五、合同的生效</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/15-effect-1.html' %}</div>
        <p><strong>十六、通知送达条款</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/16-notify-1.html' %}</div>
        <p><strong>十七、强制执行条款</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/13-notarization.html' %}</div>
        <p><strong>十八、其他</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/17-other-1.html' %}</div>
    </div>

    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-sign.html' %}
    </div>

    <div class="split">
        {% include 'dbms/agree/agree_board/counter/d/d-appendix-1.html' %}
    </div>

</div>


