<div class="contain">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-home.html' %}
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/_s/0-pre.html' %}</div>
        <div>{% include 'dbms/agree/agree_board/counter/_s/0-pre-1-3.html' %}</div>
        <p><strong>一、质押反担保的范围</strong>
        <div>{% include 'dbms/agree/agree_board/counter/_c/1-scope-1.html' %}</div>
        <p><strong>二、出质的权利</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/2-property-1-d-z.html' %}</div>
        <p><strong>三、质押反担保期间</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/3-period-1-3.html' %}</div>
        <p><strong>四、乙方承诺</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/4-promise-y-1-3.html' %}</div>
        <p><strong>五、权利凭证的移交和保管</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/z/5-transfer-1-2.html' %}</div>
        <p><strong>六、质权的实现</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/9-realize-1-3.html' %}</div>
        <p><strong>七、权利凭证的返还</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/z/7-return-1.html' %}</div>
        <p><strong>八、乙方的其他义务</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/z/8-other-duty-1-2.html' %}</div>
        <p><strong>九、违约责任</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/10-duty-1-3.html' %}</div>
        <p><strong>十、费用承担</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/d/12-cost-1-d-z.html' %}</div>
        <p><strong>十一、其他约定事项</strong></p>
        <div>{% include 'dbms/agree/agree_board/blank-space.html' %}</div>
        <p><strong>十二、争议的解决</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/14-dispute-1.html' %}</div>
        <p><strong>十三、合同的生效</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/15-effect-1.html' %}</div>
        <p><strong>十四、通知送达条款</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/16-notify-1.html' %}</div>
        <p><strong>十五、其他</strong></p>
        <div>{% include 'dbms/agree/agree_board/counter/_c/17-other-1.html' %}</div>
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/_c/counter-sign.html' %}
    </div>
    <div class="split">
        {% if counter_warrant_typ == 11 %}
            {% include 'dbms/agree/agree_board/counter/z/z-appendix-receive.html' %}
        {% elif counter_warrant_typ == 21%}
            {% include 'dbms/agree/agree_board/counter/d/d-appendix-1.html' %}
        {% elif counter_warrant_typ == 31 %}
            {% include 'dbms/agree/agree_board/counter/z/d-appendix-draft.html' %}
        {% else %}
            <p>？？？？？？？？？？？？？？？？？？？？？？？？？？</p>
            <p>？？？？？？？？？？？？？？？？？？？？？？？？？？</p>
            <p>？？？？？？？？？？？？？？？？？？？？？？？？？？</p>
            <p>？？？？？？？？？？？？？？？？？？？？？？？？？？</p>
        {% endif %}
    </div>
    {% if counter_warrant_typ == 11 %}
        <div class="split">
            {% include 'dbms/agree/agree_board/counter/z/z-registration-receive.html' %}
        </div>
    {% endif %}

</div>


