<div class="container">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/counter-home-page.html' %}
    </div>
    <div class="split">
        <p>经乙方申请，甲方同意接受乙方的委托，为乙方的贷款提供担保。为明确各自的权利、义务，
            甲乙双方遵照有关法律规定，经协商一致，订立本合同，并承诺共同遵守执行。</p>
        <p>一、保证的范围与期限</p>

        <p>甲方同意为乙方向贷款人<strong><u>{{ agree_obj.branch.name }}</u></strong>申请的自______年___月___日至
            ______年___月___日期间，额度为人民币<strong><u>{{ agree_obj.agree_amount }}</u></strong>万元（大写：
            _________________）的的流动资金贷款提供担保。</p>
        <p>保证范围：与甲方和贷款人签订的________________（以下称“保证合同”，
            合同编号：____________________）一致。</p>
        <p>利率：与乙方和贷款人签订的__________________（以下称“主合同”，
            合同编号：________________________）一致。</p>
        <p>保证期限：与甲方和贷款人签订的___________________（合同编号：__________________________）
            中约定的保证期间一致。</p>
        <p>超出甲方以上保证金额和保证期限的任何款项，甲方不承担担保责任。</p>

        <p>二、保证金、担保费及其他费用 </p>

        <p>（一）保证金
        <p>甲方可根据乙方的信用情况，向乙方收取一定比例的担保风险保证金。双方约定，甲方为乙方提供本合同担保收取
            的担保风险保证金金额为 此栏空白
            万元，由乙方在本合同生效后三个工作日内且在甲方与贷款人签订担保合同之前付至甲方指定账户。</p>
        <p>在乙方完全履行其在主合同、本委托保证合同、反担保合同及其他相关合同项下的全部义务后，甲方将上述保证金
            （无息）退还乙方；如乙方不履行前述义务，上述保证金将作为违约金，甲方不予退还。</p>
        <p>（二）担保费</p>
        <p>1、收取标准：按担保总额的2.1%收取[含税] ；</p>
        <p>2、具体数额：共计人民币柒万元整 ；</p>
        <p>3、收取时间：本合同签订后一日内支付 ；</p>
        <p>4、收取方式：支票或转账 ；</p>
        <p>5、乙方未在上述规定的时间内按时足额支付担保费的，甲方有权在乙方足额支付担保费之前（以到账时间为准）
            拒绝与贷款人签订保证或反担保合同；甲方已与贷款人订立保证合同的，乙方应按应付未付担保费金额的0.08%/
            日支付违约金。</p>

        <p>三、甲方的权利、义务</p>

        <p>（一）甲方有权对乙方的经营情况及借款的使用情况进行检查和了解。</p>
        <p>（二）甲方有权按照本合同第二条约定向乙方按时足额收取保证金、担保费。</p>
        <p>（三）甲方应对乙方提供的有关乙方的资料、文件、信息保密，但法律、法规规定的，司法、仲裁或其他类似程序
            或有关监管部门和其他有权机构要求披露的或本合同另有约定的除外。</p>

        <p>四、乙方的权利、义务</p>

        <p>（一）未经甲方书面同意，不得擅自与贷款人修改主合同。</p>
        <p>（二）乙方必须按主合同约定的还款方式、时间、数额严格执行还款计划。</p>
        <p>（三）未经甲方书面同意，乙方不得以出租、出售、出借、赠与、抵押、质押、转移、转让、置换等方式处分其甲
            方认为足以影响其偿债能力的财产或其合法财产性权利。</p>
        <p>（四）担保期间，乙方应当每季度结束后十五日内向甲方提供资产负债表、损益表及现金流量表等财务报告、财务
            状况说明书及其他有关企业经营、财务的材料和文件。甲方可定期或不定期对乙方的生产、经营及财务状况及贷
            款使用情况进行监督，乙方应积极配合。甲方因乙方不配合监督行为而发生的各种费用，均由乙方承担。</p>
        <p>（五）担保期间，如发生对甲方的担保行为有任何不利影响的任何事件，包括但不限于涉及诉讼、仲裁、刑事追究、
            行政处罚、停业、歇业、解散、被宣告破产、被吊销营业执照、财务状况恶化等，乙方应在前述事件发生或者可
            能发生之日起三日内书面通知甲方。</p>
        <p>（六）担保期间，如乙方变更法定代表人、项目负责人、住所、电话、传真等，应提前三十天书面通知甲方。</p>
        <p>（七）实施以下行为之一的，乙方应提前三十日书面通知甲方并征得甲方书面同意：</p>
        <p>1、乙方改变经营决策，包括但不限于转股、改组、合并、分立、股份制改造、合资、合作、联营、承包、租赁、
            经营范围和注册资本变更等可能影响甲方权益的情形。</p>
        <p>2、乙方作出举借新债、对外担保等可能影响甲方作为保证人利益的其他重大经营决策时。</p>

        <p>五、反担保</p>

        <p>乙方向甲方提供反担保时，应签订《抵押反担保合同》、《质押反担保合同》、《保证反担保合同》并承诺下
            述事项：</p>
        <p>（一）与反担保抵押、质押、保证相关的一切费用，包括但不限于评估、保险、鉴定、登记、保管、公证等费用
            均由乙方承担。</p>
        <p>（二）《抵押反担保合同》、《质押反担保合同》项下反担保的抵押财产、质押财产价值减少时，乙方应在
            三十日内向甲方提供甲方认可的、与该抵押财产、质押财产减少的价值额相当的新担保。</p>
        <p>（三）反担保财产的保险</p>
        <p> 1、乙方负责办理抵押财产、质押财产在反担保期间的财产保险，并应如实告知保险人被保险财产已经抵押或
            质押给甲方的事实，且要求保险人以保险批单形式予以注明相关信息并要求保险人作出未经甲方同意，保险人
            不得直接将保险金给付给乙方的承诺。保险单由甲方代为保管。乙方投保的保险的保险期限至少应长于贷
            款期限六个月。</p>
        <p> 2、反担保期间，抵押财产、质押财产如发生保险范围内的损失，或者因其他第三人行为导致抵押财产、
            质押财产价值减少，保险赔偿金或损害赔偿金应作为抵押财产、质押财产，由乙方存入甲方指定的账户，
            且该账户内的款项在抵押、质押期间，未经甲方书面同意，乙方不得单方面动用。</p>
        <p>（四）第三人为乙方之利益以财产、信用等方式向甲方提供反担保的，由乙方和第三人共同向甲方承担担保责任。</p>
        <p>（五）乙方向甲方提供的所有反担保措施落实前，未经甲方确认，乙方不得使用上述贷款。</p>

        <p>六、合同的变更和解除</p>

        <p>（一）本合同生效后，甲乙任何一方不得擅自变更和解除本合同。</p>
        <p>（二）未经甲方书面同意，乙方不得采取任何方式变更、转移或者变相变更、转移本合同项下的权利、义务。</p>

        <p>七、违约责任</p>

        <p>（一）本合同生效后，甲乙双方均应履行本合同约定的义务，任何一方不履行或不完全履行本合同约定义
            务的，应当承担相应的违约责任。</p>
        <p>（二）在本合同履行过程中，如发生以下情形之一的，即视为乙方违约：</p>
        <p> 1、乙方不履行本合同约定的任何一项义务。</p>
        <p>2、乙方违反主合同约定，致使甲方代偿的。</p>
        <p>3、乙方没有按期偿还主合同项下的贷款本金、利息。</p>
        <p>4、乙方向甲方提供的所有反担保措施未落实前，未经甲方确认，乙方擅自使用主合同项下的贷款的。</p>
        <p>5、向甲方提供反担保的乙方（或第三人）违反反担保协议或反担保财产明显贬值，乙方又无法提供甲方认可的
            新的担保财产时。</p>
        <p>6、乙方向甲方提供虚假资料，或隐瞒真实信息，致使甲方依据现有信息作出错误判断而提供担保的。</p>
        <p>7、乙方出现欠息、经营状态明显恶化、发生严重安全、质量、公共事故，或其他突发事件、涉诉或重大法律
            纠纷、拖欠职工工资、财务指标异常或恶化、资金大量异常移动</p>
        、企业非正常停产、企业负责人失去联系、企业骨干多人离职等不安事项。</p>
        <p>8、乙方及反担保人发生了其他足以影响其偿债能力或致使其缺乏偿债诚意的状况及行为。</p>
        <p>9、乙方违反主合同的约定或者发生主合同项下的违约事项，致使银行要求甲方承担担保责任的。</p>
        <p>10、乙方发生危及、损害或可能危及、损害甲方权益的其他事项。</p>
        <p>（三）出现上述第七条，第二款情形之一，甲方有权行使下述一项或几项措施，乙方对此没有异议:</p>
        <p>1、要求乙方、反担保人限期纠正其违约行为。</p>
        <p>2、要求乙方赔偿因违约而给甲方造成的损失。</p>
        <p>3、要求乙方支付甲方担保金额的5%的违约金。</p>
        <p>4、要求乙方在甲方规定的期限内提前偿还全部借款本息，同时有权要求贷款银行停止发放尚未划付的贷款、
            提前收回已发放的贷款本息。</p>
        <p>5、甲方代乙方履行付款责任后，要求乙方立即归还下列款项：</p>
        <p>(1) 甲方向银行代偿的金额和自代偿之日起的利息（按银行同期贷款基准利率 4 倍计息）；</p>
        <p>(2) 甲方因实现债权所发生的各项费用（包括但不限于诉讼费、差旅费、律师费、财产保全费、公证费、
            鉴定费、翻译费、评估拍卖费等）。</p>
        <p> 6、对乙方或其他方提供的反担保财产申请法院依法强制执行，所得款项及权益优先清偿贷款本息。
            分配顺序如下：</p>
        <p>（1）抵押财产的保管费用、实现债权费用和代偿后代偿额应发生的利息；</p>
        <p>（2）贷款人本息损失及甲方的代偿损失；</p>
        <p>（3）甲方收取乙方5%的违约金；</p>
        <p>（4）甲方代贷款人收缴其与乙方所约定的有关违约金；</p>
        <p>（5）补偿上述款项后，仍有剩余，剩余部分返还乙方。</p>
        <p> 7、在代付范围内，接管一切为债权而设立的任何担保物及其它为该债权而设立的借款反担保的求偿权，
            乙方应该履行其作为债务人所应履行的一切义务。</p>
        <p>8、拍卖或变卖担保财产所得价款不足以补偿贷款人本息损失及甲方的代偿损失时，向乙方继续追偿。</p>
        <p>9、甲方认为必要和可能的其他措施。</p>
        <p>（四）在本合同履行过程中，如因乙方违反本合同、反担保合同约定，致使银行贷款不予/不能发放或乙
            方主动放弃银行贷款的，乙方应向甲方支付拟贷款金额1%的尽职调查费，尽职调查费用甲方可以从乙
            方已缴纳的担保费用中直接扣除。</p>

        <p>八、义务的连续性</p>

        <p>本合同项下乙方的一切义务均具有连续性，对其继承人、接管人、受让人及其合并、改组、更改名称等
            后的主体均具有完全的约束力，不受任何争议、索赔和法律程序及上级单位任何指令和乙方与任何自然人
            或法人签订的任何合同、文件的影响，也不因乙方破产、无力偿还债务、丧失企业资格、更改组织章程以
            及发生任何本质上的变更而有任何改变。</p>

        <p>九、其他约定事项</p>

        <p>此栏空白</p>

        <p>十、争议的解决</p>

        <p>凡因本合同发生的及与本合同有关的其他任何争议，甲乙双方应协商解决；协商不成的，甲乙双方同意向本
            合同签订地有管辖权的人民法院提起诉讼，本合同签订地为成都市武侯区。</p>

        <p>十一、合同的生效</p>

        <p>本合同由甲方法定代表人或授权代理人、乙法定代表人或授权代理人签章（签字或盖章）并加盖公章或
            合同专用章后生效。</p>

        <p>十二、通知送达条款</p>
        {% include 'dbms/agree/agree_board/counter/16-service-clause.html' %}
        <p>十三、其他</p>
        {% include 'dbms/agree/agree_board/counter/20-other.html' %}
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/counter-signature-page.html' %}
    </div>
</div>


