<div class="container">
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/0-counter-home-page.html' %}
    </div>
    <div class="split">
        <div>{% include 'dbms/agree/agree_board/counter/max/0-pre.html' %}</div>
        <p><strong>第一条</strong> 最高额保证反担保的债权为：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/1-creditor-rights-1.html' %}</div>
        <p><strong>第二条</strong> 最高额保证反担保的范围</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/2-scope-1.html' %}</div>
        <p><strong>第三条</strong> 反担保的责任形式和保证期限</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/3-period-1.html' %}</div>
        <p><strong>第四条</strong> 债权的确定</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/4-confirm-1.html' %}</div>
        <p><strong>第五条</strong> 义务和责任的连续性</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/5-continuity-1.html' %}</div>
        <p><strong>第六条</strong> 乙方的其它义务如下：</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/6-duty-1.html' %}</div>
        <p><strong>第七条</strong> 保证反担保责任的承担</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/7-undertake-1.html' %}</div>
        <p><strong>第八条</strong> 违约责任</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/8-responsibility-1.html' %}</div>
        <p><strong>第九条</strong> 不可抗力</p>
        <div>{% include 'dbms/agree/agree_board/counter/max/9-forces-1.html' %}</div>
        <p><strong>第十条</strong> 甲乙丙三方同意约定的其他事项：</p>
        <div>{% include 'dbms/agree/agree_board/17-other-1.html' %}</div>
        <p><strong>第十一条</strong> 通知送达条款</p>
        <div>{% include 'dbms/agree/agree_board/counter/11-notify-1.html' %}</div>
        <p><strong>第十二条</strong> 争议的解决</p>
        <div>{% include 'dbms/agree/agree_board/counter/12-dispute-1.html' %}</div>

        <p>十三、其他</p>
        <div>{% include 'dbms/agree/agree_board/counter/20-other.html' %}</div>
    </div>
    <div class="split">
        {% include 'dbms/agree/agree_board/counter/counter-signature-page.html' %}
    </div>
</div>


