<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号</th>
            <th>合同类型</th>
            <th>签订人</th>
            <th>签订情况</th>
            {% if PAGE_TITLE == '风控落实' %}
                <th>签订日期</th>
                <th>签订情况</th>
            {% endif %}
            {% if PAGE_TITLE == '合同详情' or PAGE_TITLE == '风控落实' %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="agree-counters-tb">
        {% for counter in agree_obj.counter_agree.all %}
            <tr counter-nid={{ counter.id }} counter-typ-nid={{ counter.counter_typ }}>
                <td>{{ counter.counter_num }}</td>
                <td>{{ counter.get_counter_typ_display }}</td>
                {% if counter.counter_typ in COUNTER_TYP_CUSTOM %}
                    <td>
                        {% for custome in counter.assure_counter.custome.all %}
                            <a target="_blank"
                               href="{% url 'dbms:custom_scan' custom_id=custome.id %}">
                                {{ custome.name }}</a>
                            {% if custome.person_custome.spouses %}
                                、 <a target="_blank"
                                     href="{% url 'dbms:custom_scan' custom_id=custome.person_custome.spouses.id %}">
                                {{ custome.person_custome.spouses.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        {% for warrant in counter.warrant_counter.warrant.all %}
                            <!-- WARRANT_TYP_LIST = [
        (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
        (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                            {% if warrant.warrant_typ in WARRANT_TYP_OWN_LIST %}
                                {% if forloop.first %}
                                    {% for ownership in warrant.ownership_warrant.all %}
                                        <a target="_blank"
                                           href="{% url 'dbms:custom_scan' custom_id=ownership.owner.id %}">
                                            {{ ownership.owner.name }}</a>{% if not forloop.last %}、{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elif warrant.warrant_typ == 11 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.receive_warrant.receive_owner.id %}">
                                    {{ warrant.receive_warrant.receive_owner }}</a>
                            {% elif warrant.warrant_typ == 21 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.stock_warrant.stock_owner.id %}">
                                    {{ warrant.stock_warrant.stock_owner }}</a>
                            {% elif warrant.warrant_typ == 31 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.draft_warrant.draft_owner.id %}">
                                    {{ warrant.draft_warrant.draft_owner }}</a>
                            {% elif warrant.warrant_typ == 51 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.chattel_warrant.chattel_owner.id %}">
                                    {{ warrant.chattel_warrant.chattel_owner }}</a>
                            {% elif warrant.warrant_typ == 55 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.other_warrant.other_owner.id %}">
                                    {{ warrant.other_warrant.other_owner }}</a>
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ counter.get_counter_state_display }}</td>
                {% if PAGE_TITLE == '合同详情' %}
                    <td><a class="btn btn-primary btn-xs" target="_blank"
                           href="{% url 'dbms:agree_counter_preview' agree_id=agree_obj.id counter_id=counter.id %}">
                        预览</a>
                        <a class="btn btn-primary btn-xs delCounterB">删除</a></td>
                {% elif PAGE_TITLE == '风控落实' %}
                    <td>{{ counter.counter_sign_date|default_if_none:'' }}</td>
                    <td>{{ counter.counter_remark|default_if_none:'' }}</td>
                    <td><a class="btn btn-primary btn-xs counterSignB">签订</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
