<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号</th>
            <th>合同类型</th>
            <th>合同份数</th>
            <th>签订人</th>
            {#            <th>签订情况</th>#}
            {% if PAGE_TITLE == '风控落实' %}
                <th>日期</th>
                <th>签订情况</th>
                <th>备注</th>
                <th>操作</th>
            {% elif PAGE_TITLE == '合同详情' %}
                <th>联系地址</th>
                <th>联系人</th>
                <th>电话</th>
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="agree-counters-tb">
        {% for counter in agree_obj.counter_agree.all %}
            <tr counter-nid={{ counter.id }} counter-typ-nid={{ counter.counter_typ }}>
                <td>{{ counter.counter_num }}</td>
                <td>{{ counter.get_counter_typ_display }}</td>
                <td align="right">{{ counter.counter_copies }}</td>
                {% if counter.assure_counter.custome.all %}
                    <td>
                        {% for custome in counter.assure_counter.custome.all %}
                            {% if forloop.first %}
                                <a target="_blank" href="{% url 'dbms:custom_scan' custom_id=custome.id %}">
                                    {{ custome.name }}</a>
                            {% else %}
                                、<a target="_blank" href="{% url 'dbms:custom_scan' custom_id=custome.id %}">
                                {{ custome.name }}</a>
                            {% endif %}
                            {% if custome.person_custome.spouses %}
                                、<a target="_blank"href="{% url 'dbms:custom_scan' custom_id=custome.person_custome.spouses.id %}">
                                {{ custome.person_custome.spouses.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% elif counter.warrant_counter.warrant.all %}
                    <td>
                        {% for warrant in counter.warrant_counter.warrant.all %}
                            <!-- WARRANT_TYP_LIST = [
        (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
        (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                            {% if warrant.ownership_warrant.all %}
                                {% if forloop.first %}
                                    {% for ownership in warrant.ownership_warrant.all %}
                                        <a target="_blank"
                                           href="{% url 'dbms:custom_scan' custom_id=ownership.owner.id %}">
                                            {{ ownership.owner.name }}</a>{% if not forloop.last %}、{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elif warrant.warrant_typ == 11 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.receive_warrant.receive_owner.id %}">
                                    {{ warrant.receive_warrant.receive_owner }}</a>
                            {% elif warrant.warrant_typ == 21 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.stock_warrant.stock_owner.id %}">
                                    {{ warrant.stock_warrant.stock_owner }}</a>
                            {% elif warrant.warrant_typ == 31 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.draft_warrant.draft_owner.id %}">
                                    {{ warrant.draft_warrant.draft_owner }}</a>
                            {% elif warrant.warrant_typ == 41 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.vehicle_warrant.vehicle_owner.id %}">
                                    {{ warrant.vehicle_warrant.vehicle_owner }}</a>
                            {% elif warrant.warrant_typ == 51 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.chattel_warrant.chattel_owner.id %}">
                                    {{ warrant.chattel_warrant.chattel_owner }}</a>
                            {% elif warrant.warrant_typ == 55 %}
                                <a target="_blank"
                                   href="{% url 'dbms:custom_scan' custom_id=warrant.other_warrant.other_owner.id %}">
                                    {{ warrant.other_warrant.other_owner }}</a>
                            {% else %}
                                ？？？？？
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>？？？？？</td>
                {% endif %}
                {#                <td>{{ counter.get_counter_state_display }}</td>#}
                {% if PAGE_TITLE == '合同详情' %}
                    {% if counter.assure_counter.custome.all %}
                        <td>
                            {% for custome in counter.assure_counter.custome.all %}
                                {% if forloop.first %}
                                    {{ custome.contact_addr }}
                                {% else %}
                                    、{{ custome.contact_addr }}
                                {% endif %}
                                {% if custome.person_custome.spouses %}
                                    、{{ custome.person_custome.spouses.contact_addr }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif counter.warrant_counter.warrant.all %}
                        <td>
                            {% for warrant in counter.warrant_counter.warrant.all %}
                                <!-- WARRANT_TYP_LIST = [
            (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
            (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                                {% if warrant.ownership_warrant.all %}
                                    {% if forloop.first %}
                                        {% for ownership in warrant.ownership_warrant.all %}
                                            {{ ownership.owner.contact_addr }}{% if not forloop.last %}、{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% elif warrant.warrant_typ == 11 %}
                                    {{ warrant.receive_warrant.receive_owner.contact_addr }}
                                {% elif warrant.warrant_typ == 21 %}
                                    {{ warrant.stock_warrant.stock_owner.contact_addr }}
                                {% elif warrant.warrant_typ == 31 %}
                                    {{ warrant.draft_warrant.draft_owner.contact_addr }}
                                {% elif warrant.warrant_typ == 41 %}
                                    {{ warrant.vehicle_warrant.vehicle_owner.contact_addr }}
                                {% elif warrant.warrant_typ == 51 %}
                                    {{ warrant.chattel_warrant.chattel_owner.contact_addr }}
                                {% elif warrant.warrant_typ == 55 %}
                                    {{ warrant.other_warrant.other_owner.contact_addr }}
                                {% else %}
                                    ？？？？？
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        ？？？？
                    {% endif %}
                    {% if counter.assure_counter.custome.all %}
                        <td>
                            {% for custome in counter.assure_counter.custome.all %}
                                {% if forloop.first %}
                                    {{ custome.linkman }}
                                {% else %}
                                    、{{ custome.linkman }}
                                {% endif %}
                                {% if custome.person_custome.spouses %}
                                    、{{ custome.person_custome.spouses.linkman }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif counter.warrant_counter.warrant.all %}
                        <td>
                            {% for warrant in counter.warrant_counter.warrant.all %}
                                <!-- WARRANT_TYP_LIST = [
            (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
            (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                                {% if warrant.ownership_warrant.all %}
                                    {% if forloop.first %}
                                        {% for ownership in warrant.ownership_warrant.all %}
                                            {{ ownership.owner.linkman }}{% if not forloop.last %}、{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% elif warrant.warrant_typ == 11 %}
                                    {{ warrant.receive_warrant.receive_owner.linkman }}
                                {% elif warrant.warrant_typ == 21 %}
                                    {{ warrant.stock_warrant.stock_owner.linkman }}
                                {% elif warrant.warrant_typ == 31 %}
                                    {{ warrant.draft_warrant.draft_owner.linkman }}
                                {% elif warrant.warrant_typ == 41 %}
                                    {{ warrant.vehicle_warrant.vehicle_owner.linkman }}
                                {% elif warrant.warrant_typ == 51 %}
                                    {{ warrant.chattel_warrant.chattel_owner.linkman }}
                                {% elif warrant.warrant_typ == 55 %}
                                    {{ warrant.other_warrant.other_owner.linkman }}
                                {% else %}
                                    ？？？？？
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        ？？？？？
                    {% endif %}
                    {% if counter.assure_counter.custome.all %}
                        <td>
                            {% for custome in counter.assure_counter.custome.all %}
                                {% if forloop.first %}
                                    {{ custome.contact_num }}
                                {% else %}
                                    、{{ custome.contact_num }}
                                {% endif %}
                                {% if custome.person_custome.spouses %}
                                    、{{ custome.person_custome.spouses.contact_num }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif counter.warrant_counter.warrant.all %}
                        <td>
                            {% for warrant in counter.warrant_counter.warrant.all %}
                                <!-- WARRANT_TYP_LIST = [
            (1, '房产'), (2, '房产包'), (5, '土地'), (6, '在建工程'), (11, '应收账款'),
            (21, '股权'), (31, '票据'), (41, '车辆'), (51, '动产'), (55, '其他'), (99, '他权')]-->
                                {% if warrant.ownership_warrant.all %}
                                    {% if forloop.first %}
                                        {% for ownership in warrant.ownership_warrant.all %}
                                            {{ ownership.owner.contact_num }}{% if not forloop.last %}、{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% elif warrant.warrant_typ == 11 %}
                                    {{ warrant.receive_warrant.receive_owner.contact_num }}
                                {% elif warrant.warrant_typ == 21 %}
                                    {{ warrant.stock_warrant.stock_owner.contact_num }}
                                {% elif warrant.warrant_typ == 31 %}
                                    {{ warrant.draft_warrant.draft_owner.contact_num }}
                                {% elif warrant.warrant_typ == 41 %}
                                    {{ warrant.vehicle_warrant.vehicle_owner.contact_num }}
                                {% elif warrant.warrant_typ == 51 %}
                                    {{ warrant.chattel_warrant.chattel_owner.contact_num }}
                                {% elif warrant.warrant_typ == 55 %}
                                    {{ warrant.other_warrant.other_owner.contact_num }}
                                {% else %}
                                    ？？？？？
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        ？？？？？
                    {% endif %}
                    <td><a class="btn btn-primary btn-xs" target="_blank"
                           href="{% url 'dbms:agree_counter_preview' agree_id=agree_obj.id counter_id=counter.id %}">
                        预览</a>
                        <a class="btn btn-primary btn-xs delCounterB">删除</a></td>
                {% elif PAGE_TITLE == '风控落实' %}
                    <td>{{ counter.counter_sign_date|default_if_none:'' }}</td>
                    <td>{{ counter.get_counter_state_display|default_if_none:'' }}</td>
                    <td>{{ counter.counter_remark|default_if_none:'' }}</td>
                    <td><a class="btn btn-primary btn-xs counterSignB">签订</a></td>
                {% endif %}
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
