<div class="table-responsive">
    {#"table-responsive":表格响应式布局#}
    <table class="table table-bordered table-hover
                table-condensed active">
        <thead>
        <tr style="text-align: center">
            <th>合同编号</th>
            <th>合同类型</th>
            <th>签订人</th>
            <th>签订情况</th>
        </tr>
        </thead>
        <tbody>
        {% for counter in agree_obj.counter_agree.all %}
            <tr>
                <td>{{ counter.counter_num }}</td>
                <td>{{ counter.get_counter_typ_display }}</td>
                {% if counter.counter_typ in counter_typ_custom %}
                    <td>
                        {% for custome in counter.assure_counter.custome.all %}
                            {{ custome.name }}
                            {% if not forloop.last %}、{% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        {% for warrant in counter.warrant_counter.warrant.all %}
                            {% for ownership in warrant.ownership_warrant.all %}
                                {{ ownership.owner.name }}
                                {% if not forloop.last %}、{% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ counter.get_counter_state_display }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
