{% extends 'dbms/index_dbms.html' %}

{% block title %}房产查看{% endblock %}

{% block right-content-container %}
    <div class="container-fluid" style="padding-left: 1px;">
        {% include 'dbms/warrant/house/scan/house-summry.html' %}
        {% include 'dbms/warrant/house/scan/house-tab.html' %}
        {% include 'dbms/warrant/modl/warrant-edit-mod.html' %}

    </div>
{% endblock %}

{% block extra-js %}
    {#    {% include 'dbms/warrant/extra/js-custom-del.html' %}#}
    {#    {% include 'dbms/warrant/extra/js-custom-edit.html' %}#}

{% endblock %}